.editor-block-list__layout .editor-block-list__block,
.editor-styles-wrapper .editor-block-list__layout .editor-block-list__block p {
	color: #818181;
	font-family: Poppins;
	font-weight: 400;	
	font-size: 14px;
	line-height: 28px;
}
.editor-block-list__layout .editor-block-list__block h1,
.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
	color: #272727;
	font-family: Poppins;
	font-weight: 700;	
	font-size: 34px;
	line-height: 42px;
}
.editor-block-list__layout .editor-block-list__block h2{
	color: #272727;
	font-family: Poppins;
	font-weight: 700;	
	font-size: 28px;
	line-height: 36px;	
}
.editor-block-list__layout .editor-block-list__block h3{
	color: #272727;
	font-family: Poppins;
	font-weight: 700;	
	font-size: 24px;
	line-height: 32px;
}
.editor-block-list__layout .editor-block-list__block h4{
	color: #272727;
	font-family: Poppins;
	font-weight: 700;	
	font-size: 20px;
	line-height: 29px;	
}
.editor-block-list__layout .editor-block-list__block h5{
	color: #272727;
	font-family: Poppins;
	font-weight: 700;	
	font-size: 18px;
	line-height: 26px;	
}
.editor-block-list__layout .editor-block-list__block h6{
	color: #272727;
	font-family: Poppins;
	font-weight: 700;	
	font-size: 16px;
	line-height: 25px;	
}
.editor-block-list__layout .editor-block-list__block a{
	color: #282828;
}
.editor-block-list__layout .editor-block-list__block a:hover{
	color: #0172ff;
}
.editor-block-list__layout .editor-block-list__block a:active{
	color: #0172ff;
}
.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline:hover .wp-block-button__link:not(.has-text-color),
.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline:focus .wp-block-button__link:not(.has-text-color),
.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline:active .wp-block-button__link:not(.has-text-color) {
	color: #0172ff; /* base: #0073a8; */
}
.editor-block-list__layout .editor-block-list__block .wp-block-quote:not(.is-large):not(.is-style-large),
.editor-styles-wrapper .editor-block-list__layout .wp-block-freeform blockquote {
border-left: 2px solid #0172ff; /* base: #0073a8; */
}
.editor-block-list__layout .editor-block-list__block .wp-block-file .wp-block-file__button,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:active,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
	background-color: #0172ff; /* base: #0073a8; */
	color: #ff;
}
.editor-block-list__layout .editor-block-list__block .wp-block-file .wp-block-file__button:hover,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:active,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
	background-color: #333; /* base: #0073a8; */
	color: #fff;
}
/* Hover colors */
.editor-block-list__layout .editor-block-list__block .wp-block-file .wp-block-file__textlink:hover {
color: #0172ff; /* base: #005177; */
}
/* Do not overwrite solid color pullquote or cover links */
.editor-block-list__layout .editor-block-list__block .wp-block-pullquote.is-style-solid-color a,
.editor-block-list__layout .editor-block-list__block .wp-block-cover a {
	color: inherit;
}
.entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color), 
.entry-content .wp-block-button.is-style-outline:hover .wp-block-button__link:not(.has-text-color) {
    color: #0172ff;
}
.single-post-template .wp-block-file .wp-block-file__button, 
.single-post-template .wp-block-button:not(.is-style-outline) .wp-block-button__link, 
.single-post-template .wp-block-button:not(.is-style-outline) .wp-block-button__link:active, 
.single-post-template .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus, 
.single-post-template .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
    color: #fff;
}
.single-post-template article.post .wp-block-button .wp-block-button__link,
.single-post-template article.post .wp-block-button .wp-block-button__link:hover {
    color: #fff;
}
figure.wp-block-pullquote {
    border-bottom: none;
    border-top: none;
}