.secondary-space-toggle > span {
    background-color: #000;
}
.topbar span.site-date {
    padding: 3px 9px;
    font-size: 12px;
}
.navbar .independent-main-menu > li.current-menu-item > a:before,
.navbar .independent-main-menu > li.current-menu-ancestor > a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    width: 100%;
    bottom: -3px;
}
.navbar .independent-main-menu > li.current-menu-item > a,
.navbar .independent-main-menu > li.current-menu-ancestor > a {
    position: relative;
}
.widget .widget-title:after, 
.widget .independent-block-title:after {
    height: 3px;
    width: 40px;
    bottom: -18px;
}
.widget .independent-block-title:after {
    content: "";
    left: 0;
    position: absolute;
}
.site-footer .independent-block-title {
    border-bottom-color: transparent;
	padding-bottom: 0;
	position: relative;
}
.site-footer .widget .widget-title, 
.site-footer .widget .independent-block-title span {
	color: #fff;
    border: none;
    padding: 0;
}
.site-footer .independent-block-title span:before {
	content: unset;
}
.banner-author-meta a.author-link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}
.banner-author-meta {
    margin-top: 12px;
}
.site-footer .independent-block-title:after {
    content: "";
    height: 3px;
    width: 40px;
    bottom: -18px;
    position: absolute;
    left: 0;
}
.site-footer .widget-title,
.site-footer .independent-block-title {
    margin-bottom: 60px;
}
.site-footer .post-meta .post-date a {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 600;
}
.post-list-thumb {
    margin-right: 20px;
}
.site-footer ul.social-icons > li > a {
    margin: 0;
    font-size: 18px;
    color: #a8a8a8;
}
.site-footer ul.social-icons > li > a:hover {
	background: transparent;
}
.category-tag:after, .independent-block-overlay .post-category > a:before {
	content: unset;
}
.category-tag, .independent-block-overlay .post-category > a {
    text-transform: uppercase;
    font-weight: 600;
}
.banner-grid-67x100 .banner-grid-details {
    width: 75%;
}
.independent-block-title {
    border-bottom: 2px solid #eaeaea;
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 40px;
}
.post-meta a {
    color: #919090;
    font-weight: 600;
    font-size: 14px;
}
.independent-block-title span {
	position: relative;
}
.independent-block-title span {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 5px solid;
}
.independent-block-title span:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -18px;
    left: -5px;
}
.independent-slider-nav .slide-nav > li > a {
    border: solid 1px;
}
.post-meta .post-author .author-name:before {
    content: "\f007";
    font-family: FontAwesome;
    padding-right: 7px;
}
li.post-date:nth-child(2):before {
    content: "/";
    padding-right: 8px;
}
.single-post-template .post-meta .post-author .author-name:before {
    content: "";
    padding: 0;
}
.site-main.single-post-template .entry-header:nth-child(2) {
    padding-bottom: 15px;
    border-bottom: solid 1px #d9d9d9;
}
.site-main.single-post-template .entry-meta.bottom-meta {
    margin-top: 0;
}
.form-control, button.mc-submit-btn {
    height: 45px;
}
.widget_categories ul > li {
    padding: 12px 0;
}
.widget .independent-block-title {
    border-bottom: none;
    padding-bottom: 0;
}
.widget .independent-block-title span:before {
	content: unset;
}
.widget .independent-block-title span {
    border-left: none;
    padding: 0;
}
button.mc-submit-btn {
    background: #1b222c;
    padding-left: 17px;
    padding-right: 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mailchimp-wrapper .form-control {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.widget-area ul.social-icons > li > a, 
.wpb_widgetised_column ul.social-icons > li > a {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    margin-right: 7px;
    width: 45px;
}
.widget-area .widget, .vc_row .widget {
    padding: 25px;
}
.post-pagination-wrap {
    text-align: left;
}
.close.full-bar-search-toggle {
    background: transparent;
    right: 75px;
}
.full-bar-search-wrap .input-group .form-control {
    font-size: 22px;
    line-height: 1;
    padding: 0 75px;
}