.independent-header .custom-container, .page-title-wrap .container {
    padding: 0 45px;
}
.independent-header .topbar-items.nav ul > li.menu-item > a:after {
	content: unset;
}
.widget-img.text-left img, .nav-item-inner img {
    border-radius: 0;
}
.widget-area .widget, .vc_row .widget {
    padding: 0 15px;
    border: none;
}
.independent-block .big-list .post-list-content > div:last-child,
.post-grid a.read-more {
    margin-top: 0;
}
img {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.comments li.comment {
    margin-bottom: 30px;
    border-bottom: solid 1px #313646;
    padding-bottom: 30px;
}
.comments li.comment:last-child {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.post-comments-wrapper * a:hover {
    opacity: 1;
}
.independent-news-slider .independent-block-overlay {
    position: absolute;
    padding: 0;
    bottom: 60px;
    right: 0;
    left: 0;
    max-width: 598px;
    margin: auto;
}
.light-overlay, .news-slide-loader {
    background: rgba(14, 17, 31, 0.52);
}
.news-slide-loader:before {
    background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
    content: "";
}
.vc_row .wpb_content_element .independent-block-post .post-format-icon, .widget-area .widget .independent-block-post .post-format-icon {
    bottom: auto;
    top: 10px;
    right: 10px;
    background: transparent;
    font-size: 18px;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 37px;
}
.widget-area .widget .independent-block-post span.post-format-icon.icon-camrecorder:before {
    content: "\e6ad";
    font-family: "themify";
    padding-left: 0;
}
.category-tag:after, .independent-block-overlay .post-category > a:before, .category-tag:hover:after,
.independent-block-list.big-list .post-category > a:after {
	content: unset;
}
.post-category > a:first-child, .post-tags > a:first-child {
    padding-left: 18px;
}
.post-category > a, .independent-block-overlay .post-category > a, .post-tags > a {
    padding: 7px 18px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    margin-bottom: 6px;
}
.post-list-thumb {
    margin-right: 25px;
}
.big-list .post-list-thumb {
    padding-right: 0;
}
.independent-block .post-meta .read-more {
    padding: 13px 27px;
    background: #292E42 !important;
    border-radius: 6px;
}
.independent-block-list.big-list .post-list-content {
    padding-top: 0;
}
.independent-block-title, .widget-title {
    border-left: 6px solid;
    padding-bottom: 0;
    padding-left: 11px;
    border-bottom: none;
}
.independent_latest_post_widget .comments-wrap, .independent_popular_post_widget .side-item-meta span {
    color: unset;
}
ul.social-icons.social-bg-dark > li a, ul.social-icons.social-hbg-dark > li a:hover {
    background: #2C3145;
}
.search-form .input-group .form-control {
    background: transparent;
    border: 1px solid #313646;
    border-right: 0;
    height: 50px;
    line-height: 50px;
    color: unset;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}
.search-form .input-group .btn {
    height: 50px;
    line-height: 47px;
    border: solid 1px #313646;
    border-left: none;
    background: transparent !important;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
	color: #94a9b6;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-secondary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
    border: solid 1px #313646;
	border-left: none;
}
.post-category > a:hover, .independent-block-overlay .post-category > a:hover,
.single-post-template article.post .post-tags > a:hover {
	color: #fff !important;
    background: #292E42 !important;
}
.search-form .input-group .form-control:focus {
    border-color: #313646 !important;
}
.news-meta-wrapper > ul > li:first-child {
    padding-left: 0;
}
.widget.independent_mailchimp_widget > img {
    display: none;
}
.widget .widget-title {
    margin-bottom: 25px;
    text-transform: capitalize;
}
.widget-area .independent-block-title:before, 
.widget-area .widget-title:before {
    content: "";
    position: absolute;
    left: -6px;
    right: 0;
    bottom: -17px;
    background: #313646 !important;
    height: 1px;
}
.mega-dropdown-menu .post:hover .post-thumb-wrapper,
.mega-dropdown-menu .post .post-thumb-wrapper {
    border: none !important;
}
.mega-dropdown-menu .independent-block .post-grid .post-thumb-wrapper:after {
	content: unset;
}
.widget-area .independent-block-title, .widget-area .widget-title {
	position: relative;
}
.widget-area .widget .widget-title, .widget-area .independent-block-title {
    margin-bottom: 40px;
}
.independent-slider-nav .slide-nav > li > a {
    border: 1px solid #858894;
    color: #858894;
}
.footer-menu li:after,
.footer-menu li:last-child:after {
    content: unset;
}
.footer-menu > li {
    padding: 0 10px;
}
span.post-format-icon.icon-camrecorder:before {
    content: "\e6ad";
    font-family: "themify";
	padding-left: 5px;
}
.independent-block-post .post-format-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    left: auto;
    width: 50px;
    height: 50px;
    line-height: 47px;
    border: solid 2px rgba(255, 255, 255, 0.54);
    border-radius: 30px;
    text-align: center;
}
.news-meta-wrapper > ul > li:last-child {
    padding-left: 0;
}
.independent-block-7 .independent-block-post:hover .post-format-icon {
    transform: scale(1);
}
.independent-block-7 .independent-block-post .post-format-icon {
    transform: scale(0);
    top: 20px;
    right: 20px;
}
.news-meta-wrapper > ul > li:first-child {
    padding-right: 10px
}
.widget-area .widget.independent_mailchimp_widget .widget-title:before {
	content: unset;
}
.widget.independent_mailchimp_widget {
    padding: 30px 30px 37px;
    border: solid 1px #313646;
    border-radius: 6px;
    text-align: center;
}
article.post {
    background: transparent;
}
.entry-title .post-title, .entry-title a, .client-name, .entry-title {
    color: #fff;
}
.single-post-template {
    padding-bottom: 0;
}
.independent-content > div.single-post-template {
    margin-bottom: 0;
}
.single-post-template article .article-inner > *:nth-child(2).top-meta {
    padding-top: 0;
    border-top: 0;
}
.site-main.single-post-template .entry-header, .site-main.single-post-template .entry-meta.top-meta {
    margin-bottom: 5px;
}
.single-post-template blockquote.bq-style1 {
    background: #171A2D;
    padding: 40px 95px;
    font-size: 16px;
    border: 1px solid #313646;
    border-radius: 6px;
    font-weight: 500;
    line-height: 27px;
}
.independent-single-post .content-area .vc_row .adv-wrapper:first-child {
    padding-top: 0;
    padding-bottom: 25px;
}
.video-play-icon {
    left: auto;
    position: absolute;
    right: 30px;
    top: 30px;
    transform: translateY(0%);
}
.video-play-icon > span.fa-play-circle-o:before {
    content: "\e6ad";
    font-family: "themify";
    padding-left: 5px;
}
.video-play-icon > span {
    font-size: 28px;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 56px;
    border: solid 2px rgba(255, 255, 255, 0.54);
    border-radius: 30px;
    text-align: center;
}
.review-wrapper > * {
    margin-bottom: 14px;
}
.single-post-template article ul.social-icons > li > a {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    line-height: 41px;
    margin-right: 5px;
}
.single-post-template .post-meta .nav .post-category > a {
    color: #fff !important;
    padding: 0px 14px;
}
.post-navigation .nav-links .nav-next, 
.post-navigation .nav-links .nav-previous {
    padding: 0;
}
.post-navigation .nav-links .nav-next a, 
.post-navigation .nav-links .nav-previous a{
    padding: 20px;
    border-radius: 9px;
    border: solid 2px #ffffff30;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
.site-main.single-post-template .entry-meta.bottom-meta {
    border: 1px solid #313646;
    margin: 35px 0 40px;
    border-radius: 6px;
	padding: 27px;
}
.form-control:focus {
    background: transparent;
}
.form-control {
    background: transparent;
    margin-bottom: 17px;
    border: solid 1px #313646;
    height: 46px;
    line-height: 46px;
    border-radius: 6px;
    margin-bottom: 5px;
}
.post-comments-wrapper input#wp-comment-cookies-consent {
    display: inline-block;
    margin-right: 8px;
}
.post-navigation .nav-links .nav-previous a:after, 
.post-navigation .nav-links .nav-next a:after,
.post-navigation .nav-links .nav-previous a:before, 
.post-navigation .nav-links .nav-next a:before {
	content: unset;
}
.single-post-template blockquote.bq-style1 > p {
    text-decoration: underline;
}
.independent-header .topbar .social-icons li > a {
    color: unset;
}
.independent-news-slider .post .post-thumb-wrapper,
.independent-news-slider .post:hover .post-thumb-wrapper {
    border: none;
}
.independent-header .topbar ul.social-icons.social-hbg-white > li a:hover {
	background: none;
}
.widget.independent_mailchimp_widget .widget-title {
    padding-left: 0;
    border-left: 0;
    margin-bottom: 23px;
}
.site-footer ul.social-icons > li > a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-right: 5px;
	margin-bottom: 8px;
}
.widget-area .widget.zozo_social_widget {
    padding-bottom: 10px;
}
.comment-respond {
    margin-top: 30px;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
}
.post-comments-wrapper .comment-form-comment, 
.post-comments-wrapper .comment-form-author, 
.post-comments-wrapper .comment-form-url, 
.post-comments-wrapper .comment-form-email {
    margin-bottom: 13px;
}
.single-post-template article.post .post-tags {
    font-size: 0;
}
.single-post-template article.post .post-tags > a {
	font-size: 12px;
    margin-right: 6px;
    color: #fff;
    padding: 5px 10px 5px;
    margin-bottom: 0;
}
.single-post-template .wp-post-image {
    border-radius: 0;
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    border: solid 1px #313646;
}
.page-title, .widget.independent_mailchimp_widget .btn:hover {
    color: #fff;
}
.widget.independent_mailchimp_widget .form-control {
    background: transparent;
    margin-bottom: 17px;
    border: solid 1px #313646;
    height: 46px;
    line-height: 46px;
    border-radius: 6px;
}
.widget.independent_mailchimp_widget .btn {
    padding: 11px 12px;
    border-radius: 4px;
    background: #D9D9D9 !important;
    color: #111422;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn:hover, button:hover, .search-form .input-group .btn:hover,
.widget.independent_mailchimp_widget .btn {
    border: none !important;
}
.widget .widget-title:after {
	content: unset;
}
.type-load-more .slide-nav > li, 
.independent-load-more.btn {
    display: block;
}
.independent-load-more.btn {
    border: none;
    display: block;
    line-height: 42px;
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.independent-load-more.btn:hover {
    background: #292e42 none repeat scroll 0 0;
}
.big-list .post-grid.independent-block-post {
    margin-bottom: 40px;
}
.independent-block-overlay > * {
    margin-bottom: 7px;
}
.gradient-black-overlay,
.post .post-thumb-wrapper {
    border-radius: 10px;
}
.post:hover .post-thumb-wrapper {
    border: solid 2px;
}
.post .post-thumb-wrapper,
.post:hover .post-thumb-wrapper,
.independent-block-7 .independent-block-post:hover .post-format-icon,
.independent-block-7 .independent-block-post .post-format-icon {
	transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.post .post-thumb-wrapper {
    border: solid 2px transparent;
}
.widget .news-meta-wrapper > ul > li:first-child {
    padding-top: 0;
}
.adv-wrapper img {
    border-radius: 0;
}
.bottom-search-wrap {
    background: #fff none repeat scroll 0 0;
}
.search-form .input-group .btn:hover {
    border: 1px solid #313646 !important;
    border-left: 0 !important;
}
/*.post:hover .gradient-black-overlay {
    background:-webkit-linear-gradient(bottom, rgba(0,0,0,0.80) 21%, rgba(0,0,0,0.80) 21%);
}*/
.gradient-black-overlay {
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.80) 21%, transparent 75%);
}
/*.post .post-thumb-wrapper .post-thumbnail {
    border: solid 4px transparent;
}
.post:hover .post-thumb-wrapper .post-thumbnail {
    border: solid 4px;
}*/
.m-linkitem {
  -webkit-transform: translate(-51%, -50%);
  -moz-transform: translate(-51%, -50%);
  -ms-transform: translate(-51%, -50%);
  -o-transform: translate(-51%, -50%);
  transform: translate(-51%, -50%);
  transform-origin: center;
  animation: loadBounce 0.2s ease-in-out forwards;
}
.post .post-title > a {
  transition: all .3s linear;
  display: inline;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  background: linear-gradient(to right, #ff0e1f 0%, #ff0e1f 98%);
  background-size: 0px 2px;
  background-repeat: no-repeat;
  background-position: left 85%;
}
.post:hover .post-title > a {
  background-size: 100% 2px;
}
.post-meta .post-tags span.before-icon {
    display: none;
}
@keyframes backgroundGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes loadBounce {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  60% {
    transform: translate(-50%, -50%) scale(1);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media only screen and (max-width: 768px){
	.widget.independent_latest_post_widget li, 
	.independent_popular_post_widget li {
		display: block;
		margin-bottom: 50px;
	}
	.independent-block.independent-block-3 .big-list .independent-block-post, 
	.independent-block.independent-block-10 .big-list .independent-block-post {
		margin-bottom: 35px;
	}
	.post-navigation .nav-links .nav-previous a:hover, 
	.post-navigation .nav-links .nav-next a:hover {
		color: #fff !important;
	}
}
@media only screen and (max-width: 580px){
	h2.post-title {
		font-size: 24px;
		line-height: 32px;
	}
	.independent-news-slider .independent-block-overlay {
		position: absolute;
		padding: 0;
		bottom: 13px;
		right: 0;
		left: 0;
		max-width: 598px;
		margin: auto;
	}
}
@media only screen and (max-width: 320px){
	.independent-news-slider .independent-block-overlay {
		bottom: 0;
	}
	.independent-block-post .post-format-icon {
		top: 10px;
		right: 10px;
		left: auto;
		width: 35px;
		height: 35px;
		line-height: 32px;
	}
	h2.post-title {
		font-size: 16px;
		line-height: 28px;
	}
}