.container, .boxed-container, .custom-container,
.independent-header .custom-container, .page-title-wrap .container {
    padding: 0 15px;
}
.content-area {
    margin-bottom: 0;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
	background: #000;
}
ul.social-icons.social-transparent > li:first-child a {
    padding-left: 0;
}
ul.social-icons.social-hbg-black > li a:hover {
    background: transparent;
}
.bottom-search-wrap {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.topbar span.site-date {
    padding: 0;
    border-radius: 0;
    background: transparent !important;
}
.independent-header .topbar .social-icons li > a {
    font-size: 13px;
    padding-left: 15px;
}
ul.social-icons > li > a {
    margin-right: 0px;
}
ul.independent-main-menu > li > a {
    padding: 0 17px;
}
.secondary-space-toggle > span {
    background-color: #272727;
    margin: 0 0 5px 0;
}
.search-toggle-wrap {
    padding: 0 10px 0px 0px;
}
.header-inner .sticky-outer, .sticky-outer .header-sticky, .sticky-outer .sticky-scroll.show-menu {
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.10);
    box-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.10);
}
.search-toggle-wrap i {
    font-weight: normal;
}
.independent-block .big-list .post-list-content > div:last-child {
    margin-top: 0;
}
.widget-area .widget, .vc_row .widget {
    padding: 20px;
}
.big-list .post-grid.independent-block-post {
    display: flex;
    align-items: center;
}
.page-title-wrap-inner {
    margin-bottom: 30px;
}
.block-default.independent-block-13 .independent-news > .row {
    border-bottom: 1px solid #d9d9d9;
}
.site-footer .widget:last-child {
    margin-bottom: 0;
}
.footer-bottom .footer-menu li > a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.footer-menu li:after {
    content: "|";
    padding: 0 20px;
}
.site-footer ul.social-icons > li > a {
    margin: 0 9px;
    font-size: 22px;
}
.bottom-search-wrap {
	background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.independent-block-overlay li.post-date:before,
.news-meta-wrapper > ul > li:nth-child(2).post-date:before {
    content: "/";
    color: #828282;
    padding-right: 9px;
}
.independent-block-slide.custom-slider-2 .independent-block-overlay {
    padding: 30px 25px;
    margin: 0 40px;
}
.post-meta .post-category a:before,
.category-tag:after,
.independent-block-list.big-list .post-category > a:after {
	content: unset;
}
.post .post-category a,
.post-thumb-wrapper .category-tag,
.category-tag {
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    color: #828282;
    padding: 7px 17px;
    font-size: 14px;
}
.independent-block-overlay .post-category > a {
    padding: 3px 15px;
}
.independent-block-overlay {
    padding: 0 50px 25px 50px;
}
.post-meta .post-category a {
    padding: 3px 12px;
    line-height: 20px;
    margin-bottom: 4px;
    position: relative;
    font-size: 12px;
}
.independent-block-title:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border: 2px solid;
    border-left: 0;
    border-right: 0;
    width: 64px;
    height: 2px;
    padding: 3px;
    top: 50%;
    transform: translateY(-50%);
}
.independent-block-title:after {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    border: 2px solid;
    border-left: 0;
    border-right: 0;
    width: 64px;
    height: 2px;
    padding: 3px;
    top: 50%;
    transform: translateY(-50%);
}
.independent-block-title {
    max-width: 35%;
    margin: auto;
    margin-bottom: 45px;
    text-align: center;
}
.independent-block-title.text-left {
    margin-right: 0;
    margin-left: 0;
}
.independent-block-title.text-right, .independent-block-title.text-left {
    text-align: center !important;
}
.independent-block-title.text-right {
    margin-left: auto;
    margin-right: 0;
}
.widget .independent-block-title:before, .widget .independent-block-title:after {
	content: unset;
}
.widget .independent-block-title {
    max-width: 100%;
    margin-bottom: 30px;
    text-align: left !important;
}
form.mc-form .input-group input, .mc-form .btn {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}
.mc-form .btn {
    padding: 0 30px;
}
.independent-block-title {
    border-bottom: 0;
    margin-bottom: 45px;
    position: relative;
    padding-bottom: 0;
}
.post-meta .post-category a, 
.post-meta .post-category a:hover {
	color: #fff !important;
}
.widget-area .widget, .vc_row .widget {
    border: solid 1px #eaeaea;
}
.post-read-more a.read-more {
    font-size: 16px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin-top: 0;
	background: transparent !important;
}
.vc_row .widget .widget-title, 
.widget-area .widget .independent-block-title, 
.widget-area .widget .widget-title, .widget-area .independent-block-title, 
.wpb_widgetised_column .independent-block-title, 
.secondary-menu-area .widget .widget-title, 
.secondary-menu-area .widget .independent-block-title span {
	border-bottom: solid 2px #404040;
    padding-bottom: 10px;
}
.post-read-more a.read-more:after {
    content: "\f178";
    font-family: FontAwesome;
    padding-left: 10px;
}
.independent-block.independent-block-13 .post-grid.text-center > div.post-read-more {
    padding: 15px 0;
    border-top: solid 1px #efefef;
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 28px;
}
.independent-block-list > .post-list {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.zozo_about_widget {
    text-align: center;
}
.widget.zozo_about_widget img {
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 230px;
}
.widget_categories .cat-item a {
    font-size: 16px;
    letter-spacing: 0.2px;
}
.widget_categories ul > li {
    padding: 5px 0;
}
.post-read-more a.read-more:hover {
    color: #000;
}
.post-grid a.read-more:hover {
	background-color: transparent;
}
.post-meta .post-author .author-name {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}
.independent-block-slide .gradient-black-overlay {
	background: transparent;
}
.independent-news-slider .independent-block-overlay .post-meta li a span.before-icon,
.post-meta .post-date span.before-icon {
	display: none;
}
.owl-dot span {
    background: #C1C3C2 !important;
    height: 10px;
    margin: 0 5px;
    width: 10px;
    box-shadow: none;
}
.owl-dot.active span {
    transform: none;
}
.independent-block.independent-block-13 .post-grid.text-center > div {
    padding: 0 70px;
}
.independent-block.independent-block-13 .post-grid.text-center > div.post-thumb-wrapper {
    margin-right: -70px;
	margin-left: -70px;
}
.independent-block.independent-block-slide .post-grid > .post-thumb-wrapper {
    margin-bottom: 0;
}
.widget .widget-title, 
.widget-area .widget .widget-title, 
.widget-area .independent-block-title, 
.wpb_widgetised_column .independent-block-title {
    text-transform: uppercase;
    margin-bottom: 30px;
}
.wpb_widgetised_column .widget ul.social-icons.social-transparent > li a,
.widget-area ul.social-icons.social-transparent > li > a, 
.wpb_widgetised_column ul.social-icons.social-transparent > li > a {
    font-size: 20px;
    margin-right: 0;
    height: auto;
    line-height: 1;
}
.widget .widget-title:after {
    content: unset;
}
.widget-area .widget.independent_mailchimp_widget, 
.vc_row .widget.independent_mailchimp_widget {
    background: #f7f7f7;
    border: solid 1px #eaeaea;
}
.most-viewed-posts .col-sm-6 {
    padding: 0 10px;
}
.widget.independent_mailchimp_widget > img,
.most-viewed-post-image .most-viewed-index {
    display: none;
}
.widget.independent_popular_post_widget .col-sm-6 {
    padding: 0 10px;
}
.most-viewed-post-title {
    text-align: center;
}
.independent_most_view_post_widget .most-viewed-post-item {
    margin-bottom: 25px;
}
.independent_most_view_post_widget .most-viewed-posts h6 {
    padding-top: 13px;
}
.form-control {
    font-size: 12px;
}
.widget.zozo_about_widget img.sign-image {
    margin: 20px 0 0 !important;
}
.site-footer .widget.widget_nav_menu ul.menu > li {
    display: inline-block;
    padding: 0;
    line-height: 1;
}
.site-footer .widget.widget_nav_menu ul.menu > li a {
    padding: 0 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer-middle-wrap .widget {
    margin-bottom: 42px;
}
/*Responsive*/
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.widget-area .widget, .vc_row .widget {
		padding: 30px 15px;
		text-align: center;
	}
	.widget.widget_independent_vc_block_9 {
		text-align: left;
	}
}
@media only screen and (max-width: 768px) {
	h4.post-title, h4.banner-post-title {
		font-size: 18px;
		line-height: 1.6;
	}
	.banner-post-grid .banner-grid-details {
		padding: 15px;
	}
}
@media only screen and (max-width: 767px) {
	h2.post-title, h2.banner-post-title {
		font-size: 24px;
		line-height: 1.4;
	}
	.independent-block.independent-block-13 .post-grid.text-center > div {
		padding: 0;
	}
}
@media only screen and (max-width: 380px) {
	h2.post-title, h2.banner-post-title {
		font-size: 24px;
		line-height: 1.4;
	}
	h2.post-title, h2.banner-post-title {
		font-size: 16px;
		line-height: 1.6;
	}
}
/*RTL*/
.rtl .search-toggle-wrap, .rtl .widget .side-item-text {
    padding-right: 15px;
    padding-left: 0;
}
.rtl .independent-block-post.text-center .post-title,
.rtl .site-footer .widget .nav.social-icons {
    text-align: center;
}
.rtl .independent-block-title:before {
    right: auto;
    left: 0;
}
@media only screen and (max-width: 768px) {
	.independent-block-title {
		max-width: 55%;
	}
}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 640px) {
	.independent-block-title:before,
	.independent-block-title:after {
		width: 30px;
	}
}
@media only screen and (max-width: 480px) {
	.independent-block-slide .owl-carousel .owl-dots {
		bottom: 0;
	}
	.independent-block-title {
		max-width: 100%;
	}
}
