.container, .boxed-container, .custom-container,
.independent-header .custom-container, .page-title-wrap .container {
    padding: 0 15px;
}
ul.social-icons.social-transparent > li:first-child a {
    padding-left: 0;
}
ul.social-icons.social-hbg-black > li a:hover {
    background: transparent;
}
.bottom-search-wrap {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.topbar span.site-date {
    padding: 0;
    border-radius: 0;
    background: transparent !important;
}
.independent-header .topbar .social-icons li > a {
    font-size: 13px;
    padding-left: 15px;
}
ul.social-icons > li > a {
    margin-right: 0px;
}
ul.independent-main-menu > li > a {
    padding: 0 17px;
}
.secondary-space-toggle > span {
    background-color: #272727;
    margin: 0 0 5px 0;
}
.search-toggle-wrap {
    padding: 0 10px 0px 0px;
}
.search-toggle-wrap i {
    font-weight: normal;
}
.page-title-wrap-inner {
    margin-bottom: 30px;
}
.block-default.independent-block-13 .independent-news > .row {
    border-bottom: 1px solid #d9d9d9;
}
.site-footer .widget:last-child {
    margin-bottom: 0;
}
.footer-bottom .footer-menu li > a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.footer-menu li:after {
    content: "|";
    padding: 0 20px;
}
.site-footer ul.social-icons > li > a {
    margin: 0 4px;
    font-size: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.independent-block-slide .independent-block-overlay {
	position: absolute;
    padding: 40px 180px 65px;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: 0 100px;
    background: rgba(255, 255, 255, 0.90);
    max-width: 1170px;
}
.bottom-search-wrap {
	background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.typo-dark .independent-block-slide .independent-block-overlay.typo-white .post-title, 
.typo-dark .independent-block-slide .independent-block-overlay.typo-white .post-title > a {
    color: #000;
}
.independent-block-slide .independent-block-overlay .post-meta a {
    color: #828282;
}
.independent-block-slide .independent-block-overlay .gradient-black-overlay {
    background: transparent;
}
.independent-block-overlay li.post-date:before,
.news-meta-wrapper > ul > li:nth-child(2).post-date:before {
    content: "/";
    color: #828282;
    padding-right: 9px;
}
.independent-block-slide .independent-block-overlay .post-category > a {
	color: #fff;
}
.independent-block-slide .owl-carousel .owl-dots {
    margin-top: 0;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
}
.independent-block-slide.custom-slider-2 .independent-block-overlay {
    padding: 30px 25px;
    margin: 0 40px;
}
.post-meta .post-category a:before,
.category-tag:after,
.independent-block-list.big-list .post-category > a:after {
	content: unset;
}
.post .post-category a,
.post-thumb-wrapper .category-tag,
.category-tag {
    text-transform: uppercase;
    font-family: "Roboto";
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    color: #828282;
    padding: 7px 17px;
    font-size: 14px;
}
.independent-block-overlay .post-category > a {
    padding: 3px 15px;
}
.post-meta .post-category a {
    padding: 3px 12px;
    line-height: 20px;
    margin-bottom: 4px;
    position: relative;
    font-size: 12px;
}
.post-meta .post-category a, 
.post-meta .post-category a:hover {
	color: #fff !important;
}
.independent-block-slide .independent-block-overlay .news-meta-wrapper:first-child {
    margin-bottom: 16px;
}
.owl-nav > div {
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 24px;
    opacity: 1;
    border: solid 1px #fff;
}
.owl-prev:hover, .owl-next:hover, .owl-nav > div {
    background: transparent;
}
.custom-slider-2 .owl-nav > div {
    border-radius: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    margin: 0;
}
.widget-area .widget, .vc_row .widget {
    border: solid 1px #eaeaea;
    background: #FCFCFC;
}
.independent-block-title {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 12px;
    margin-bottom: 35px;
}
.post-read-more a.read-more {
    font-size: 16px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin-top: 0;
	background: transparent !important;
}
.vc_row .widget .widget-title, .widget-area .widget .independent-block-title,
.widget-area .widget .widget-title, 
.widget-area .independent-block-title, 
.wpb_widgetised_column .independent-block-title {
    border-bottom: solid 1px #d9d9d9;
    padding-bottom: 15px;
}
.post-read-more a.read-more:after {
    content: "\f178";
    font-family: FontAwesome;
    padding-left: 10px;
}
.independent-block.independent-block-13 .post-grid.text-center > div.post-read-more {
    padding: 15px 0;
    border-top: solid 1px #efefef;
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 28px;
}
.independent-block-list > .post-list {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.zozo_about_widget {
    text-align: center;
}
.widget.zozo_about_widget img {
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 230px;
}
.widget_categories .cat-item a {
    font-size: 16px;
    letter-spacing: 0.2px;
}
.widget_categories ul > li {
    padding: 5px 0;
}
.post-read-more a.read-more:hover {
    color: #000;
}
.post-grid a.read-more:hover {
	background-color: transparent;
}

.independent-block-slide .independent-block-overlay > * {
    margin-bottom: 10px;
}
.post-meta .post-author .author-name {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}
.independent-block-slide .gradient-black-overlay {
	background: transparent;
}
.independent-news-slider .independent-block-overlay .post-meta li a span.before-icon,
.post-meta .post-date span.before-icon {
	display: none;
}
.owl-dot span {
    background: #C1C3C2 !important;
    height: 10px;
    margin: 0 5px;
    width: 10px;
    box-shadow: none;
}
.owl-dot.active span {
    transform: none;
}
.independent-block.independent-block-13 .post-grid.text-center > div {
    padding: 0 70px;
}
.independent-block.independent-block-13 .post-grid.text-center > div.post-thumb-wrapper {
    margin-right: -70px;
	margin-left: -70px;
}
.independent-block.independent-block-slide .post-grid > .post-thumb-wrapper {
    margin-bottom: 0;
}
.widget .widget-title, 
.widget-area .widget .widget-title, 
.widget-area .independent-block-title, 
.wpb_widgetised_column .independent-block-title {
    text-transform: capitalize;
    margin-bottom: 30px;
}
.wpb_widgetised_column .widget ul.social-icons.social-transparent > li a,
.widget-area ul.social-icons.social-transparent > li > a, 
.wpb_widgetised_column ul.social-icons.social-transparent > li > a {
    font-size: 20px;
    margin-right: 0;
    height: auto;
    line-height: 1;
}
.widget .widget-title:after {
    content: unset;
}
.widget-area .widget.independent_mailchimp_widget, 
.vc_row .widget.independent_mailchimp_widget {
    background: #f7f7f7;
    border: solid 1px #eaeaea;
}
.most-viewed-posts .col-sm-6 {
    padding: 0 10px;
}
.widget.independent_mailchimp_widget > img,
.most-viewed-post-image .most-viewed-index {
    display: none;
}
.widget.independent_popular_post_widget .col-sm-6 {
    padding: 0 10px;
}
.most-viewed-post-title {
    text-align: center;
}
.independent_most_view_post_widget .most-viewed-post-item {
    margin-bottom: 25px;
}
.independent_most_view_post_widget .most-viewed-posts h6 {
    padding-top: 13px;
}
.form-control {
    font-size: 12px;
}
.widget.zozo_about_widget img.sign-image {
    margin: 20px 0 0 !important;
}
.site-footer .widget.widget_nav_menu ul.menu > li {
    display: inline-block;
}
.site-footer .widget.widget_nav_menu ul.menu > li a {
    padding: 0 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer-middle-wrap .widget {
    margin-bottom: 42px;
}
/*Responsive*/
@media only screen and (max-width: 1024px) {
	.independent-block-slide .independent-block-overlay {
		padding: 30px;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.widget-area .widget, .vc_row .widget {
		padding: 30px 15px;
		text-align: center;
	}
	.widget.widget_independent_vc_block_9 {
		text-align: left;
	}
}
@media only screen and (max-width: 768px) {
	h4.post-title, h4.banner-post-title {
		font-size: 18px;
		line-height: 1.6;
	}
	.independent-block-slide .independent-block-overlay {
		padding: 20px;
	}
	.independent-block-slide .owl-carousel .owl-dots {
		bottom: 27px;
	}
	.banner-post-grid .banner-grid-details {
		padding: 15px;
	}
}
@media only screen and (max-width: 767px) {
	h2.post-title, h2.banner-post-title {
		font-size: 24px;
		line-height: 1.4;
	}
	.independent-block-slide .independent-block-overlay {
		padding: 20px;
	}
	.independent-block-slide .owl-carousel .owl-dots {
		bottom: 27px;
	}
	.independent-block.independent-block-13 .post-grid.text-center > div {
		padding: 0;
	}
}
@media only screen and (max-width: 640px) {
	.independent-block-slide .independent-block-overlay,
	.independent-block-slide .owl-carousel .owl-dots {
		position: relative;
	}
	.independent-block-slide .independent-block-overlay {
		margin: 0 15px;
	}
}
@media only screen and (max-width: 380px) {
	h2.post-title, h2.banner-post-title {
		font-size: 24px;
		line-height: 1.4;
	}
	h2.post-title, h2.banner-post-title {
		font-size: 16px;
		line-height: 1.6;
	}
}
/*RTL*/
.rtl .search-toggle-wrap, .rtl .widget .side-item-text {
    padding-right: 0;
    padding-left: 15px;
}
.rtl .independent-block-post.text-center .post-title,
.rtl .site-footer .widget .nav.social-icons {
    text-align: center;
}
@media only screen and (max-width: 640px) {
	.owl-nav > div {
		width: 40px;
		height: 40px;
		line-height: 40px;
		border: solid 1px #fe3265;
		color: #fe3265;
		font-size: 13px;
	}
}
@media only screen and (max-width: 480px) {
	.independent-block-slide .owl-carousel .owl-dots {
		bottom: 0;
	}
}
