.widget_nav_menu li {
    display: inline-block;
}
.widget_nav_menu li > a {
    padding: 0 20px;
}
strong, .editor-styles-wrapper .editor-block-list__layout .editor-block-list__block strong {
    color: #fff;
}
.widget.widget_nav_menu li {
    padding-top: 13px;
}
.secondary-menu-area-inner ul.menu li {
    display: block;
}
.full-search-wrapper .search-form .input-group .btn {
    border: none;
}
.secondary-active span.secondary-right-overlay {
    opacity: 0;
}
.secondary-menu-area .widget.widget_nav_menu {
    padding: 30px 0px;
}
.independent-header .custom-container, .page-title-wrap .container {
    padding: 0 15px;
}
.independent-header a.secondary-space-toggle:before {
    content: "\e739";
    font-family: "themify";
    font-size: 18px;
}
.independent-header .search-toggle-wrap .fa-search:before {
    content: "\e610";
    font-family: "themify";
    font-size: 16px;
}
.independent-header .search-toggle-wrap {
    position: relative;
    padding: 0 15px 0 15px;
}
.independent-header .topbar-items.nav ul > li.menu-item > a:after {
	content: unset;
}
.widget-img.text-left img, .nav-item-inner img {
    border-radius: 0;
}
.widget-area .widget, .vc_row .widget {
    padding: 0 15px;
    border: none;
}
.independent-block .big-list .post-list-content > div:last-child,
.post-grid a.read-more {
    margin-top: 0;
}
.independent-block.independent-block-slide.single-slide .independent-block-overlay {
    max-width: 1150px;
    margin: auto;
}
.independent-block-slide.single-slide .independent-block-overlay>*.post-title-wrapper {
    max-width: 50%;
}
.independent-block-slide.single-slide .post-title-wrapper .post-title {
    font-size: 48px;
    line-height: 60px;
    padding-left: 23px;
    border-left: 5px solid;
}
.post-category > a, .independent-block-overlay .post-category > a {
    padding-left: 22px;
}
.independent-block-slide.single-slide .independent-block-overlay .post-category > a:before {
    content: "\e739";
    font-family: themify;
    font-size: 16px;
    position: absolute;
    top: -2px;
    border-top: none;
    border-right: none;
}
.independent-block-slide.single-slide .independent-block-overlay .post-category > a {
    padding-left: 25px;
}
.full-search-wrapper .search-form .input-group .btn {
    color: #000;
    line-height: 48px;
}
.full-search-wrapper .search-form .input-group .btn:hover,
.full-search-wrapper .search-form .input-group .btn:focus {
    border: none !important;
    color: #000 !important;
}
.independent-block-slide.single-slide .independent-block-overlay .news-meta-wrapper:first-child {
    margin-bottom: 10px;
    margin-left: 31px;
}
.independent-block-overlay .news-meta-wrapper:first-child {
    margin-bottom: 4px;
}
.independent-block-overlay .post-category > a {
    color: #acacac;
    font-size: 15px;
}
.single-slide .owl-nav > div.owl-prev, .single-slide .owl-nav > div.owl-next {
    float: right;
    margin: 6px;
    color: #000;
    width: 50px;
    height: 50px;
	opacity: 1;
    line-height: 52px;
    border-radius: 50%;
}
.single-slide .owl-nav > div.owl-next {
    left: 60px;
}
.single-slide .owl-nav > div.owl-prev:hover, .single-slide .owl-nav > div.owl-next:hover {
    background: #fff;
}
.single-slide .owl-nav > div.owl-prev {
    right: 63px;
}
.single-slide .owl-nav {
    top: auto;
    bottom: 60px;
    right: 0;
    transform: translateY(0);
    margin: auto;
    max-width: 1150px;
    left: 0;
}
.comment-reply-title {
    font-size: 26px;
    color: #fff;
    text-transform: capitalize;
}
.comments li.comment {
    margin-bottom: 30px;
    border-bottom: solid 1px #313646;
    padding-bottom: 30px;
}
.comments li.comment:last-child {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.post-comments-wrapper * a:hover {
    opacity: 1;
}
.independent-news-slider .independent-block-overlay {
    position: absolute;
    padding: 0;
    bottom: 60px;
    right: 0;
    left: 0;
    max-width: 598px;
    margin: auto;
}
.light-overlay, .news-slide-loader {
    background: rgba(14, 17, 31, 0.52);
}
.news-slide-loader:before {
    background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
    content: "";
}
.vc_row .wpb_content_element .independent-block-post .post-format-icon, .widget-area .widget .independent-block-post .post-format-icon {
    bottom: auto;
    top: 10px;
    right: 10px;
    background: transparent;
    font-size: 18px;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 37px;
}
.widget-area .widget .independent-block-post span.post-format-icon.icon-camrecorder:before {
    content: "\e6ad";
    font-family: "themify";
    padding-left: 0;
}
.post-category > a:first-child, .post-tags > a:first-child {
    padding-left: 18px;
}
.post-category > a, .independent-block-overlay .post-category > a, .post-tags > a {
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1;
    color: #acacac;
    margin-bottom: 6px;
    background: transparent !important;
}
.post-list-thumb {
    margin-right: 25px;
}
.big-list .post-list-thumb {
    padding-right: 0;
}
.independent-block .post-meta .read-more {
    padding: 13px 27px;
    background: #292E42 !important;
    border-radius: 6px;
}
.independent-block-list.big-list .post-list-content {
    padding-top: 0;
}
.independent-block-title, .widget-title {
    padding-bottom: 0;
    padding-left: 11px;
    border-bottom: none;
}
.news-meta-wrapper .post-author .avatar {
    width: 30px;
}
.independent_latest_post_widget .comments-wrap, .independent_popular_post_widget .side-item-meta span {
    color: unset;
}
ul.social-icons.social-bg-dark > li a, ul.social-icons.social-hbg-dark > li a:hover {
    background: #2C3145;
}
.search-form .input-group .form-control {
    background: transparent;
    border: 1px solid #313646;
    border-right: 0;
    height: 50px;
    line-height: 50px;
    color: unset;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}
.search-form .input-group .btn {
    height: 50px;
    line-height: 47px;
    border: solid 1px #313646;
    border-left: none;
    background: transparent !important;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
	color: #94a9b6;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-secondary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
    border: solid 1px #313646;
	border-left: none;
}
.post-category > a:hover, .independent-block-overlay .post-category > a:hover,
.single-post-template article.post .post-tags > a:hover {
	color: #fff !important;
    background: transparent !important;
}
.nav.pagination > li.nav-item a.next-page, 
.nav.pagination > li.nav-item.next a {
    border: none;
}
.nav.pagination > li.nav-item a.next-page:hover, 
.nav.pagination > li.nav-item.next a:hover {
    background: none;
}
.nav.pagination > li.nav-item.active span {
    color: #000;
}
.search-form .input-group .form-control:focus {
    border-color: #313646 !important;
}
.news-meta-wrapper > ul > li:first-child {
    padding-left: 0;
}
.widget.independent_mailchimp_widget > img {
    display: none;
}
.widget .widget-title {
    margin-bottom: 25px;
    text-transform: capitalize;
}
.mega-dropdown-menu .post:hover .post-thumb-wrapper,
.mega-dropdown-menu .post .post-thumb-wrapper {
    border: none !important;
}
.mega-dropdown-menu .independent-block .post-grid .post-thumb-wrapper:after {
	content: unset;
}
.widget-area .independent-block-title, .widget-area .widget-title {
	position: relative;
}
.widget-area .widget .widget-title, .widget-area .independent-block-title {
    margin-bottom: 40px;
}
.independent-slider-nav .slide-nav > li > a {
    border: 1px solid #858894;
    color: #858894;
}
.footer-menu li:after,
.footer-menu li:last-child:after {
    content: unset;
}
.footer-menu > li {
    padding: 0 10px;
}
span.post-format-icon.icon-camrecorder:before {
    content: "\e6ad";
    font-family: "themify";
	padding-left: 5px;
}
.independent-block-post .post-format-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    left: auto;
    width: 50px;
    height: 50px;
    line-height: 47px;
    border: solid 2px rgba(255, 255, 255, 0.54);
    border-radius: 30px;
    text-align: center;
}
.news-meta-wrapper > ul > li:last-child {
    padding-left: 0;
}
.independent-block-7 .independent-block-post:hover .post-format-icon {
    transform: scale(1);
}
.independent-block-7 .independent-block-post .post-format-icon {
    transform: scale(0);
    top: 20px;
    right: 20px;
}
.news-meta-wrapper > ul > li:first-child {
    padding-right: 10px
}
.widget-area .widget.independent_mailchimp_widget .widget-title:before {
	content: unset;
}
.widget.independent_mailchimp_widget {
    padding: 30px 30px 37px;
    border: solid 1px #313646;
    border-radius: 6px;
    text-align: center;
}
article.post {
    background: transparent;
}
.entry-title .post-title, .entry-title a, .client-name, .entry-title {
    color: #fff;
}
.single-post-template {
    padding-bottom: 0;
}
.independent-content > div.single-post-template {
    margin-bottom: 0;
}
.single-post-template article .article-inner > *:nth-child(2).top-meta {
    padding-top: 0;
    border-top: 0;
}
.site-main.single-post-template .entry-header, .site-main.single-post-template .entry-meta.top-meta {
    margin-bottom: 30px;
}
.single-post-template blockquote.bq-style1 {
    padding: 0 60px 0;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    line-height: 30px;
    font-family: "Poppins";
    color: #fff;
    position: relative;
}
.independent-single-post .content-area .vc_row .adv-wrapper:first-child {
    padding-top: 0;
    padding-bottom: 25px;
}
.video-play-icon {
    left: auto;
    position: absolute;
    right: 30px;
    top: 30px;
    transform: translateY(0%);
}
.video-play-icon > span.fa-play-circle-o:before {
    content: "\e6ad";
    font-family: "themify";
    padding-left: 5px;
}
.video-play-icon > span {
    font-size: 28px;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 56px;
    border: solid 2px rgba(255, 255, 255, 0.54);
    border-radius: 30px;
    text-align: center;
}
.review-wrapper > * {
    margin-bottom: 14px;
}
.single-post-template article ul.social-icons > li > a {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    line-height: 41px;
    margin-right: 5px;
}
.single-post-template .post-meta .nav .post-category > a {
    color: #fff !important;
    padding: 0px 14px;
}
.post-navigation .nav-links .nav-next, 
.post-navigation .nav-links .nav-previous {
    padding: 0;
}
.post-navigation .nav-links .nav-next a, 
.post-navigation .nav-links .nav-previous a{
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
.related-articles-wrap .related-title {
    margin: 0 0 48px;
    font-size: 26px;
    color: #fff;
	text-transform: capitalize;
}
.author-avatar img {
    width: 114px;
    border-radius: 10px !important;
}
.author-meta a.author-link {
    font-size: 20px;
}
.independent-single-post .media-body.author-meta {
    background: none;
    padding: 0;
    margin-left: 15px;
}
.independent-single-post .media.author-info {
    padding-bottom: 50px;
}
.independent-single-post .author-bio {
    padding-top: 0;
    padding-right: 50px;
}
.independent-single-post .post-navigation-wrapper {
    padding: 30px 0 23px;
    border-top: solid 1px #313646;
    border-bottom: solid 1px #313646;
}
.related-articles-wrap {
    padding-top: 50px;
}
.related-articles-wrap .related-title:after,
.posts-count h5:before {
	content: unset;
}
.site-main.single-post-template .entry-meta.bottom-meta {
	border: none;
    margin: 35px 0 40px;
    border-radius: 6px;
    padding: 0;
}
.form-control:focus {
    background: transparent;
}
.post-meta .post-author .author-img img {
    border-radius: 30px;
    width: 41px;
    margin-right: 10px;
    max-width: 41px
}
.related-articles-wrap .post-title {
    font-size: 20px;
    line-height: 27px;
}
.single-post-template .post-meta .post-author .author-name {
	font-weight: 400;
}
.btn.btn-default {
    color: #000;
}
.post-navigation-wrapper span.nav-icon {
    margin-bottom: 5px;
    color: #acacac;
}
.nav-previous span:before {
    content: "\e629";
    font-family: themify;
    padding-right: 8px;
    font-size: 12px;
}
.nav-next span:after {
    content: "\e628";
    font-family: themify;
    padding-left: 8px;
    font-size: 12px;
}
.independent-single-post .author-info-wrapper ul.social-icons > li > a {
    width: auto;
}
.single-post-template blockquote.bq-style1:before {
	content: "\e67f";
    font-family: 'themify';
    font-size: 33px;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
}
.form-control {
    background: transparent;
    margin-bottom: 17px;
    border: solid 1px #313646;
    height: 46px;
    line-height: 46px;
    border-radius: 6px;
    margin-bottom: 5px;
}
.post-comments-wrapper input#wp-comment-cookies-consent {
    display: inline-block;
    margin-right: 8px;
}
.post-navigation .nav-links .nav-previous a:after, 
.post-navigation .nav-links .nav-next a:after,
.post-navigation .nav-links .nav-previous a:before, 
.post-navigation .nav-links .nav-next a:before {
	content: unset;
}
.independent-header .topbar .social-icons li > a {
    color: unset;
}
.independent-news-slider .post .post-thumb-wrapper,
.independent-news-slider .post:hover .post-thumb-wrapper {
    border: none;
}
.independent-header .topbar ul.social-icons.social-hbg-white > li a:hover {
	background: none;
}
.widget.independent_mailchimp_widget .widget-title {
    padding-left: 0;
    border-left: 0;
    margin-bottom: 23px;
}
.site-footer ul.social-icons > li > a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-right: 5px;
	margin-bottom: 8px;
}
.widget-area .widget.zozo_social_widget {
    padding-bottom: 10px;
}
.comment-respond {
    margin-top: 30px;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
}
.post-comments-wrapper .comment-form-comment, 
.post-comments-wrapper .comment-form-author, 
.post-comments-wrapper .comment-form-url, 
.post-comments-wrapper .comment-form-email {
    margin-bottom: 13px;
}
.single-post-template article.post .post-tags {
    font-size: 0;
}
.single-post-template article.post .post-tags > a {
    font-size: 13px;
    margin-right: 6px;
    color: #fff;
    padding: 0 3px;
    margin-bottom: 0;
}
.single-post-template article.post .post-tags > a:before {
    content: "#";
}
.single-post-template .wp-post-image {
    border-radius: 0;
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    border: solid 2px #313646;
    padding: 0;
    margin-right: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-weight: 500;
}
.back-to-top > i {
    color: #000;
}
.nav.pagination > li.nav-item a:hover, .nav.pagination > li.nav-item.active span:hover {
    color: #000;
}
.nav.pagination > li.nav-item a.next-page:hover, .nav.pagination > li.nav-item.next a:hover {
    color: #fff;
}
.page-title, .widget.independent_mailchimp_widget .btn:hover {
    color: #fff;
}
.widget.independent_mailchimp_widget .form-control {
    background: transparent;
    margin-bottom: 17px;
    border: solid 1px #313646;
    height: 46px;
    line-height: 46px;
    border-radius: 6px;
}
.widget.independent_mailchimp_widget .btn {
    padding: 11px 12px;
    border-radius: 4px;
    background: #D9D9D9 !important;
    color: #111422;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn:hover, button:hover, .search-form .input-group .btn:hover,
.widget.independent_mailchimp_widget .btn {
    border: none !important;
}
.widget .widget-title:after {
	content: unset;
}
.type-load-more .slide-nav > li, 
.independent-load-more.btn {
    display: block;
}
.independent-load-more.btn {
    border: none;
    display: block;
    line-height: 42px;
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.independent-load-more.btn:hover {
    background: #292e42 none repeat scroll 0 0;
}
.big-list .post-grid.independent-block-post {
    margin-bottom: 40px;
}
.independent-block-overlay > * {
    margin-bottom: 7px;
}
.navbar .secondary-space-toggle > span, 
.secondary-space-toggle > span:nth-child(1), 
.secondary-space-toggle > span:nth-child(2) {
    width: 0;
}
.post .post-thumb-wrapper,
.post:hover .post-thumb-wrapper,
.independent-block-7 .independent-block-post:hover .post-format-icon,
.independent-block-7 .independent-block-post .post-format-icon,
.post .post-title > a, .post:hover .post-title > a {
	transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.post .post-thumb-wrapper {
    border: solid 2px transparent;
}
.widget .news-meta-wrapper > ul > li:first-child {
    padding-top: 0;
}
.adv-wrapper img {
    border-radius: 0;
}
.bottom-search-wrap {
    background: #fff none repeat scroll 0 0;
}
.search-form .input-group .btn:hover {
    border: 1px solid #313646 !important;
    border-left: 0 !important;
}
.gradient-black-overlay {
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.88) 21%, transparent 75%);
}
.page-title {
    margin-bottom: 15px;
    text-transform: capitalize;
}
.independent-block-overlay {
    padding: 0 25px 20px 25px;
}
.page-title-inner .pull-center .author-info-wrapper .media.author-info {
    max-width: 66%;
}
.m-linkitem {
  -webkit-transform: translate(-51%, -50%);
  -moz-transform: translate(-51%, -50%);
  -ms-transform: translate(-51%, -50%);
  -o-transform: translate(-51%, -50%);
  transform: translate(-51%, -50%);
  transform-origin: center;
  animation: loadBounce 0.2s ease-in-out forwards;
}
.search-toggle-wrap.active .textbox-search-wrap .form-control {
    background: none;
    border: none;
    border-bottom: solid 2px #fff;
    border-radius: 0;
    color: #fff;
}
.post-meta .post-tags span.before-icon {
    display: none;
}
.nav.pagination > li.nav-item.previous a:hover {
    background: none;
    color: #fff;
}
.nav.pagination > li.nav-item.previous a {
    border: none;
}
@keyframes backgroundGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes loadBounce {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  60% {
    transform: translate(-50%, -50%) scale(1);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@media only screen and (max-width: 1024px){
	.independent-block-slide.single-slide .independent-block-overlay>*.post-title-wrapper {
		max-width: 75%;
	}
}
@media only screen and (max-width: 768px){
	.widget.independent_latest_post_widget li, 
	.independent_popular_post_widget li {
		display: block;
		margin-bottom: 50px;
	}
	.independent-block.independent-block-3 .big-list .independent-block-post, 
	.independent-block.independent-block-10 .big-list .independent-block-post {
		margin-bottom: 35px;
	}
	.post-navigation .nav-links .nav-previous a:hover, 
	.post-navigation .nav-links .nav-next a:hover {
		color: #fff !important;
	}
	.independent-block-slide.single-slide .independent-block-overlay>*.post-title-wrapper {
		max-width: 100%;
	}
}
@media only screen and (max-width: 767px){
	.independent-block-slide.single-slide .post-title-wrapper .post-title {
		font-size: 34px;
		line-height: 44px;
		max-width: 90%;
	}
	.single-slide .owl-nav > div.owl-next {
		left: 30px;
	}
	.single-slide .owl-nav > div.owl-prev, .single-slide .owl-nav > div.owl-next {
		bottom: -40px;
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	.independent-single-post .media.author-info {
		display: block;
		margin: auto;
		text-align: center;
	}
	ul.nav.text-center.author-social {
		display: block;
		margin-top: 20px;
	}
	.independent-single-post .author-bio {
		padding-right: 0;
	}
}
@media only screen and (max-width: 640px){
	.post-navigation .nav-links > * {
		display: block;
		width: 100%;
		max-width: 100%;
	}
}
@media only screen and (max-width: 580px){
	h2.post-title {
		font-size: 24px;
		line-height: 32px;
	}
	.independent-news-slider .independent-block-overlay {
		position: absolute;
		padding: 0;
		bottom: 13px;
		right: 0;
		left: 0;
		max-width: 598px;
		margin: auto;
	}
	.independent-block-slide.single-slide .independent-block-overlay>*.post-title-wrapper {
		max-width: 100%;
	}
	.single-post-template .entry-header h2.entry-title {
		font-size: 26px;
		line-height: 35px;
	}
}
@media only screen and (max-width: 520px){
	.independent-block-slide.single-slide .post-title-wrapper .post-title {
		font-size: 20px;
		line-height: 32px;
	}
}
@media only screen and (max-width: 320px){
	.independent-news-slider .independent-block-overlay {
		bottom: 0;
	}
	.independent-block-post .post-format-icon {
		top: 10px;
		right: 10px;
		left: auto;
		width: 35px;
		height: 35px;
		line-height: 32px;
	}
	h2.post-title {
		font-size: 16px;
		line-height: 28px;
	}
	.independent-block-slide.single-slide .post-title-wrapper .post-title {
		font-size: 16px;
		line-height: 26px;
	}
}