.container, .boxed-container, .custom-container {
    padding: 0 15px;
}
ul.social-icons.social-transparent > li:first-child a {
    padding-left: 0;
}
ul.social-icons > li > a {
    margin-right: 0px;
}
ul.independent-main-menu > li > a {
    padding: 0 17px;
}
.secondary-space-toggle > span {
    background-color: #272727;
    margin: 0 0 5px 0;
}
.search-toggle-wrap {
    padding: 0 10px 0px 0px;
}
.search-toggle-wrap i {
    font-weight: normal;
}
.page-title-wrap-inner {
    margin-bottom: 30px;
}
.block-default.independent-block-13 .independent-news > .row {
    border-bottom: 1px solid #d9d9d9;
}
.site-footer .widget:last-child {
    margin-bottom: 0;
}
.footer-bottom .footer-menu li > a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.footer-menu li:after {
    content: "|";
    padding: 0 20px;
}
.footer-bottom-items.nav > li:first-child {
    margin-bottom: 33px;
    padding-bottom: 35px;
    border-bottom: solid 1px #2e2e2e;
}
.site-footer ul.social-icons > li > a {
    margin: 0 25px;
}
.independent-block-slide .independent-block-overlay {
    position: absolute;
    padding: 40px 180px 65px;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: 0 100px;
    background: rgba(255, 255, 255, 0.90);
    max-width: 1170px;
    margin: auto;
}
.typo-dark .independent-block-slide .independent-block-overlay.typo-white .post-title, 
.typo-dark .independent-block-slide .independent-block-overlay.typo-white .post-title > a {
    color: #000;
}
.independent-block-slide .independent-block-overlay .post-meta a {
    color: #828282;
}
.independent-block-slide .independent-block-overlay .gradient-black-overlay {
    background: transparent;
}
.independent-block-overlay li.post-date:before,
.news-meta-wrapper > ul > li:nth-child(2).post-date:before {
    content: "/";
    color: #828282;
    padding-right: 9px;
}
.independent-block-slide .independent-block-overlay .post-category > a {
	color: #fff;
}
.independent-block-slide .owl-carousel .owl-dots {
    margin-top: 0;
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
}
.post .post-category a,
.post-thumb-wrapper .category-tag,
.category-tag {
    text-transform: uppercase;
    font-family: "Roboto";
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    color: #828282;
    padding: 7px 17px;
}
.post-pagination-wrap {
    text-align: left;
}
.independent-block-overlay .post-category > a {
    padding: 4px 15px;
}
.post-meta .post-category a {
    padding: 4px 12px;
    line-height: 20px;
    margin-bottom: 4px;
    position: relative;
    font-size: 12px;
}
.post-meta .post-category a:before,
.independent-block-list.big-list .post-category > a:after {
    border-top: 7px solid !important;
}
.post-meta .post-category a, 
.post-meta .post-category a:hover {
	color: #fff !important;
}
.post-meta .post-category a:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 0;
}
.independent-block-slide .independent-block-overlay .news-meta-wrapper:first-child {
    margin-bottom: 16px;
}
.post-read-more a.read-more {
    border: solid 1px #b8b8b8;
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 25px;
    display: inline-block;
}
.independent-block-slide .independent-block-overlay > * {
    margin-bottom: 10px;
}
.post-meta .post-author .author-name {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}
.independent-block-slide .gradient-black-overlay {
	background: transparent;
}
.independent-news-slider .independent-block-overlay .post-meta li a span.before-icon,
.post-meta .post-date span.before-icon {
	display: none;
}
.owl-dot span {
    background: #C1C3C2 !important;
    height: 10px;
    margin: 0 5px;
    width: 10px;
    box-shadow: none;
}
.owl-dot.active span {
    transform: none;
}
.independent-block.independent-block-slide .post-thumb-wrapper .post-thumbnail,
.mega-dropdown-menu .independent-block .post-thumb-wrapper .post-thumbnail {
    border-radius: 0;
}
.independent-block .post-thumb-wrapper .post-thumbnail {
    border-radius: 10px;
}
.independent-block.independent-block-13 .post-grid.text-center > div {
    padding: 0 70px;
}
.independent-block.independent-block-13 .post-grid.text-center > div.post-thumb-wrapper {
    margin-right: -70px;
	margin-left: -70px;
}
.independent-block.independent-block-slide .post-grid > .post-thumb-wrapper {
    margin-bottom: 0;
}
.widget .widget-title, 
.widget-area .widget .widget-title, 
.widget-area .independent-block-title, 
.wpb_widgetised_column .independent-block-title {
    text-transform: capitalize;
    text-align: center !important;
    margin-bottom: 35px;
    border: none;
    padding: 0;
}
.wpb_widgetised_column .widget ul.social-icons.social-transparent > li a,
.widget-area ul.social-icons.social-transparent > li > a, 
.wpb_widgetised_column ul.social-icons.social-transparent > li > a {
    font-size: 20px;
    margin-right: 0;
    height: auto;
    line-height: 1;
}
.widget .widget-title:after {
    content: unset;
}
.widget-area .widget.independent_mailchimp_widget, 
.vc_row .widget.independent_mailchimp_widget {
    background: #f7f7f7;
    border: solid 1px #eaeaea;
}
.most-viewed-posts .col-sm-6 {
    padding: 0 10px;
}
.widget.independent_mailchimp_widget > img,
.most-viewed-post-image .most-viewed-index {
    display: none;
}
.widget.independent_popular_post_widget .col-sm-6 {
    padding: 0 10px;
}
.most-viewed-post-title {
    text-align: center;
}
.independent_most_view_post_widget .most-viewed-post-item {
    margin-bottom: 25px;
}
.widget img {
    border-radius: 6px;
}
.independent_most_view_post_widget .most-viewed-posts h6 {
    padding-top: 13px;
}
.widget.zozo_ads_widget img {
    border-radius: 0;
}
.form-control {
    font-size: 12px;
}
.widget.zozo_about_widget img.sign-image {
    margin: 20px 0 0 !important;
}
/*Responsive*/
@media only screen and (max-width: 1024px) {
	.independent-block-slide .independent-block-overlay {
		padding: 30px;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.widget-area .widget, .vc_row .widget {
		padding: 30px 15px;
		text-align: center;
	}
	.widget.widget_independent_vc_block_9 {
		text-align: left;
	}
}
@media only screen and (max-width: 768px) {
	h4.post-title, h4.banner-post-title {
		font-size: 18px;
		line-height: 1.6;
	}
	.independent-block-slide .independent-block-overlay {
		padding: 20px;
	}
	.independent-block-slide .owl-carousel .owl-dots {
		bottom: 27px;
	}
	.banner-post-grid .banner-grid-details {
		padding: 15px;
	}
}
@media only screen and (max-width: 767px) {
	h2.post-title, h2.banner-post-title {
		font-size: 24px;
		line-height: 1.4;
	}
	.independent-block-slide .independent-block-overlay {
		padding: 20px;
	}
	.independent-block-slide .owl-carousel .owl-dots {
		bottom: 27px;
	}
	.independent-block.independent-block-13 .post-grid.text-center > div {
		padding: 0;
	}
}
@media only screen and (max-width: 640px) {
	.independent-block-slide .independent-block-overlay,
	.independent-block-slide .owl-carousel .owl-dots {
		position: relative;
	}
	.independent-block-slide .independent-block-overlay {
		margin: 0 15px;
	}
}
@media only screen and (max-width: 380px) {
	h2.post-title, h2.banner-post-title {
		font-size: 24px;
		line-height: 1.4;
	}
	h2.post-title, h2.banner-post-title {
		font-size: 16px;
		line-height: 1.6;
	}
}
/*RTL*/
.rtl .search-toggle-wrap, .rtl .widget .side-item-text {
    padding-right: 0;
    padding-left: 15px;
}
.rtl .independent-block-post.text-center .post-title,
.rtl .site-footer .widget .nav.social-icons {
    text-align: center;
}