.container, .boxed-container, .custom-container {
    padding: 0 15px;
}
ul.social-icons.social-transparent > li:first-child a {
    padding-left: 0;
}
ul.social-icons > li > a {
    margin-right: 0px;
}
ul.independent-main-menu > li > a {
    padding: 0 17px;
}
.form-group {
    margin-bottom: 5px;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
	background: #000;
}
input[type="submit"]:hover, .btn:hover, button:hover, .search-form .input-group .btn:hover {
	
}
.secondary-space-toggle > span {
    background-color: #272727;
    margin: 0 0 5px 0;
}
.independent-main-menu .independent-slider-nav .slide-nav > li > a {
    width: 30px;
    height: 32px;
    line-height: 28px;
}
.search-toggle-wrap {
    padding: 0 10px 0px 0px;
}
.page-title-wrap-inner {
    margin-bottom: 30px;
}
.block-default.independent-block-13 .independent-news > .row {
    border-bottom: 1px solid #d9d9d9;
}
.site-footer .widget:last-child {
    margin-bottom: 0;
}
.site-footer .widget {
    margin-bottom: 44px;
}
.widget_nav_menu li > a {
	font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 26px;
}
.widget_nav_menu li {
    display: inline-block;
}
.site-footer ul.social-icons > li > a {
    margin: 0 25px;
}
.independent-block-slide .independent-block-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 30px;
    background: Transparent;
}
.typo-dark .independent-block-slide .independent-block-overlay.typo-white .post-title, 
.typo-dark .independent-block-slide .independent-block-overlay.typo-white .post-title > a {
    color: #000;
}
.independent-block-slide .independent-block-overlay .post-meta a {
    color: #828282;
}
.independent-block-slide .independent-block-overlay .gradient-black-overlay {
    background: transparent;
}
.independent-block-overlay li.post-date:before,
.news-meta-wrapper > ul > li:nth-child(2).post-date:before {
    content: "|";
    color: #828282;
    padding-right: 9px;
}
.independent-block-slide .independent-block-overlay .post-category > a {
	color: #fff;
}
.independent-block-slide .owl-carousel .owl-dots {
    margin-top: 0;
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
}
.post .post-category a,
.post-thumb-wrapper .category-tag,
.category-tag {
    text-transform: uppercase;
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    color: #828282;
    padding: 7px 17px;
}
.post-pagination-wrap {
    text-align: left;
}
.independent-block-overlay .post-category > a {
    padding: 4px 15px;
}
.post-meta .post-category a {
    padding: 3px 17px;
    line-height: 20px;
    margin-bottom: 4px;
    position: relative;
    font-size: 12px;
}
.post-meta .post-category a, 
.post-meta .post-category a:hover {
	color: #fff !important;
}
.post-meta .post-category a:before {
    content: unset;
}
.independent-block-slide .independent-block-overlay .news-meta-wrapper:first-child {
    margin-bottom: 16px;
}
.independent-block-slide .independent-block-overlay > * {
    margin-bottom: 10px;
}
.post-meta .post-author .author-name {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}
.independent-block-slide .gradient-black-overlay {
	background: transparent;
}
.independent-news-slider .independent-block-overlay .post-meta li a span.before-icon,
.post-meta .post-date span.before-icon {
	display: none;
}
.owl-dot span {
    background: #C1C3C2 !important;
    height: 10px;
    margin: 0 5px;
    width: 10px;
    box-shadow: none;
}
.owl-dot.active span {
    transform: none;
}
.independent-block-title {
	padding-bottom: 13px;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
}
.independent-block.independent-block-13 .post-grid.text-center > div {
    padding: 0 70px;
}
.independent-block.independent-block-13 .post-grid.text-center > div.post-thumb-wrapper {
    margin-right: -70px;
	margin-left: -70px;
}
.independent-block-post.text-center .nav.post-meta > li > a, 
.independent-block-post.text-center .nav.post-meta > li span,
.independent-block .big-list .post-list-content .news-meta-wrapper .nav.post-meta > li span,
.independent-block .big-list .post-list-content .news-meta-wrapper .nav.post-meta > li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.independent-block-post .news-meta-wrapper:nth-child(4) {
    border-top: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    padding: 8px 0;
}
.category-tag:after,
.independent-block-list.big-list .post-category > a:after {
	content: unset;
}
.independent-block-list.big-list .independent-block-post {
    border: solid 1px #d9d9d9;
}
.independent-block .big-list .post-list-thumb {
    margin-right: 0;
    padding-right: 0;
}
.independent-block-list.big-list .post-list-content {
    padding: 50px 40px;
}
.independent-block .big-list .independent-block-post {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.independent-block-list.big-list .post-grid.independent-block-post {
    margin-bottom: 40px;
}
form.mc-form .input-group input,
.mc-form .btn {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}
.mc-form .btn {
    padding: 0 30px;
}
.post-pagination-wrap {
    margin-top: 0;
}
.widget .widget-title,
.widget-area .widget .widget-title,
.widget-area .independent-block-title {
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 32px;
    border-bottom: solid 2px #000;
}
.category .independent-block-list.big-list .independent-block-post {
    border: none;
}
.category .independent-block-list.big-list .post-list-content {
    padding: 0px 30px 0;
}
.wpb_widgetised_column .widget ul.social-icons.social-transparent > li a,
.widget-area ul.social-icons.social-transparent > li > a, 
.wpb_widgetised_column ul.social-icons.social-transparent > li > a {
    font-size: 20px;
    margin-right: 0;
    height: auto;
    line-height: 1;
}
.widget .widget-title:after {
    content: unset;
}
.widget-area .widget.independent_mailchimp_widget, 
.vc_row .widget.independent_mailchimp_widget {
    background: #f7f7f7;
    border: solid 1px #eaeaea;
}
.most-viewed-posts .col-sm-6 {
    padding: 0 10px;
}
.widget.independent_mailchimp_widget > img,
.most-viewed-post-image .most-viewed-index {
    display: none;
}
.widget.independent_popular_post_widget .col-sm-6 {
    padding: 0 10px;
}
.most-viewed-post-title {
    text-align: center;
}
.independent_most_view_post_widget .most-viewed-post-item {
    margin-bottom: 25px;
}
.independent_most_view_post_widget .most-viewed-posts h6 {
    padding-top: 13px;
}
.widget.zozo_ads_widget img {
    border-radius: 0;
}
.form-control {
    font-size: 12px;
}
.widget.zozo_about_widget img.sign-image {
    margin: 20px 0 0 !important;
}
.widget-area ul.social-icons > li > a, 
.wpb_widgetised_column ul.social-icons > li > a {
    margin-right: 6px;
}

@media only screen and (max-width: 767px) {
	h2.post-title, 
	h2.banner-post-title {
		font-size: 16px;
		line-height: 1.5;
	}
}