.secondary-space-toggle > span {
    background-color: #000;
}
.container, .boxed-container, .custom-container {
    padding: 0 15px;
}
.topbar span.site-date {
    padding: 3px 9px;
    font-size: 12px;
}
.navbar .independent-main-menu > li.current-menu-item > a:before,
.navbar .independent-main-menu > li.current-menu-ancestor > a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 32px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.header-inner .navbar .independent-main-menu > li.current-menu-item > a {
    color: #ffffff!important;
    z-index: 1;
}
.independent-header .topbar .social-icons li > a {
    color: #aaa;
    font-size: 13px;
}
.independent-header .topbar .social-icons li > a:hover,
.single-post-template article ul.nav.social-icons > li > a:hover {
	background: transparent;
}
.independent-header .topbar-items.nav ul > li.menu-item > a:after {
    content: "";
    padding-left: 0;
    position: absolute;
    width: 2px;
    height: 9px;
    background: #aaa;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.independent-header .topbar-items.nav ul > li.menu-item:first-child > a {
    padding-left: 0;
}
.independent-header .topbar-items.nav ul > li.menu-item > a {
    padding: 0 13px;
}
.independent_latest_post_widget li .side-item-text a, .independent_popular_post_widget li a {
    font-weight: 700;
}
.navbar .independent-main-menu > li.current-menu-item > a,
.navbar .independent-main-menu > li.current-menu-ancestor > a {
    position: relative;
}
.widget .widget-title:after, 
.widget .independent-block-title:after {
    height: 3px;
    width: 40px;
    bottom: -18px;
}
.widget .independent-block-title:after {
    content: "";
    left: 0;
    position: absolute;
}
.site-footer .independent-block-title {
    border-bottom-color: transparent;
	padding-bottom: 0;
	position: relative;
}
.site-footer .widget .widget-title, 
.site-footer .widget .independent-block-title span {
	color: #fff;
    border: none;
    padding: 0;
}
.site-footer .independent-block-title span:before {
	content: unset;
}
.banner-author-meta a.author-link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}
.banner-author-meta {
    margin-top: 12px;
}
.site-footer .independent-block-title:after {
    content: "";
    height: 3px;
    width: 40px;
    bottom: -18px;
    position: absolute;
    left: 0;
}
.widget .independent-block-title, .independent-block-title, .widget .widget-title {
    margin-bottom: 30px;
}
.site-footer .post-meta .post-date a {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 600;
}
.post-list-thumb {
    margin-right: 20px;
}
.site-footer ul.social-icons > li > a {
    margin: 0;
    font-size: 16px;
    color: #a8a8a8;
    line-height: 28px;
}
.site-footer ul.social-icons > li {
    line-height: 1;
}
.site-footer ul.social-icons > li > a:hover {
	background: transparent;
}
.category-tag:after, .independent-block-overlay .post-category > a:before {
	content: unset;
}
.banner-author-meta img, .owl-carousel .owl-item .author-link img, .news-meta-wrapper .post-author .avatar {
    width: 30px;
    margin-right: 10px;
}
.independent-block.independent-block-slide .post-grid > .post-thumb-wrapper {
    margin-bottom: 18px;
}
.category-tag, .independent-block-overlay .post-category > a {
    text-transform: uppercase;
    font-weight: 600;
}
.banner-grid-67x100 .banner-grid-details {
    width: 75%;
}
.independent-block-title,
.independent-block-title, .widget .widget-title {
    border-bottom: none;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 25px;
}
.widget-title {
    text-transform: capitalize;
}
.post-meta a {
    color: #919090;
    font-size: 14px;
    text-transform: uppercase;
}
.widget_independent_vc_block_8 .independent-block .post-grid > .post-thumb-wrapper {
    margin-bottom: 20px;
}
.post-meta .post-author .author-name {
    text-transform: uppercase;
     font-weight: 400; 
    font-size: 14px;
}
.news-meta-wrapper li.post-item-views {
    color: #919090;
}
.widget .widget-title:after, .widget .independent-block-title:after {
	content: unset;
}
.independent-block-14 .post.post-grid.independent-block-post:first-child {
    padding-top: 0;
    padding-bottom: 27px;
    border-bottom: solid 1px #efefef;
}
.news-meta-wrapper > ul > li {
    padding-left: 15px;
    padding-right: 0;
}
.independent-block-title span {
	position: relative;
}
.independent-content.independent-single-post > .independent-content-inner > div {
    padding-top: 0;
}
.independent-content > div.post-full-thumb-wrap.single-post-template {
    margin-top: 40px;
    max-width: 1200px;
    margin-right: 0;
    margin-left: 0;
    margin: 40px auto;
    padding-bottom: 0;
}
.independent-block-title span {
    border-left: none;
}
.independent-block-title span:before,
.related-articles-wrap .related-title:after {
    content: unset;
}
.single-post-template article ul.nav.social-icons > li > a {
    background: none;
    color: #989898;
    width: auto;
    line-height: 1;
    height: auto;
    margin-right: 15px;
    font-size: 16px;
}
.site-main.single-post-template footer.entry-footer:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #EEEEEE;
    top: 0;
    right: 70px;
}
.site-main.single-post-template footer.entry-footer {
    position: relative;
}
.site-main.single-post-template .entry-meta.bottom-meta {
    border: 1px solid #EEEEEE;
    margin-bottom: 0;
    padding: 13px 20px;
    color: #989898;
    font-size: 13px;
    margin-top: 35px;
}
.single-post-template article ul.nav.social-icons > li {
    line-height: 1;
    padding-top: 7px;
}
.related-articles-wrap .related-title {
    text-transform: capitalize;
    position: relative;
    margin: 0 0 24px;
    font-size: 20px;
    padding-top: 10px;
    border-top: double 4px #121212;
}
.independent-slider-nav .slide-nav > li > a {
    border: solid 1px;
}
.single-post-template .post-meta .post-author .author-name:before {
    content: "";
    padding: 0;
}
.site-main.single-post-template .entry-header:nth-child(2) {
    padding-bottom: 15px;
    border-bottom: solid 1px #d9d9d9;
}
.site-main.single-post-template .entry-meta.bottom-meta {
    margin-top: 0;
}
.form-control, button.mc-submit-btn {
    height: 45px;
}
.widget_categories ul > li {
    padding: 12px 0;
}
.widget .independent-block-title {
    border-bottom: none;
    padding-bottom: 0;
}
.widget .independent-block-title, .independent-block-title,
.widget .widget-title {
    padding-top: 12px;
    border-top: double 4px #121212;
}
.widget .independent-block-title span:before {
	content: unset;
}
.widget .independent-block-title span {
    border-left: none;
    padding: 0;
}
button.mc-submit-btn {
    background: #1b222c;
    padding-left: 17px;
    padding-right: 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mailchimp-wrapper .form-control {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.widget-area ul.social-icons > li > a, 
.wpb_widgetised_column ul.social-icons > li > a {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    margin-right: 7px;
    width: 45px;
}
.widget-area .widget, .vc_row .widget {
    padding: 0;
    border: none;
}
.post-pagination-wrap {
    text-align: left;
}
.close.full-bar-search-toggle {
    background: transparent;
    right: 75px;
}
.full-bar-search-wrap .input-group .form-control {
    font-size: 22px;
    line-height: 1;
    padding: 0 75px;
}
.social-counts.modal-3 > li, .social-counts.modal-4 > li {
    width: 46.3%;
}
.site-footer .widget.widget_nav_menu {
    width: 50%;
    display: inline-block;
}
.widget.widget_nav_menu ul li:first-child {
    padding-top: 0;
}
.site-footer .widget.independent_latest_post_widget li:first-child, 
.site-footer .independent_popular_post_widget li:first-child {
    margin-top: 7px;
}
.widget.independent_latest_post_widget li .side-item-meta,
.widget.independent_popular_post_widget li .side-item-meta,
.independent_latest_post_widget .comments-wrap, 
.independent_popular_post_widget .side-item-meta span {
    text-transform: uppercase;
}
.weather-widget.widget-content {
    padding-top: 30px;
    background: url(https://magazine.zozothemes.com/independent-times/wp-content/uploads/sites/26/2019/05/weather-img-3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.social-counts.modal-4 > li > a, .social-counts.modal-4 > li > a > .follow-redirect-text {
    background: #f5f5f5;
    color: #333;
}
.weather-days-report .weather-img-wrap:nth-child(odd) {
    background: rgb(187, 24, 25);
    color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.68), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.weather-days-report .weather-img-wrap:nth-child(even) {
    background: rgb(187, 24, 25);
    color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.68), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.set-bg-img {
    background-position: center center;
    background-size: cover;
    min-height: 600px;
    max-height: 600px;
}
.single-post-template blockquote {
    font-size: 16px;
    color: #000;
    font-style: italic;
}
.single-post-template .post .post-tags a:before {
    content: "#";
}
.post .post-tags a {
    text-transform: capitalize;
}
.post-meta .post-tags span.before-icon {
    display: none;
}
.widget-area .widget .widget-title {
    margin-bottom: 30px;
}
.weather-days-report {
    display: none;
}
@media only screen and (max-width: 767px) { 
	.content-area .wpb_widgetised_column:first-child {
		padding-top: 0;
	}
}
@media only screen and (max-width: 460px) { 
	div.mobile-header .mobile-header-inner ul > li img, 
	div.mobile-bar-items .mobile-logo img {
		max-height: 33px !important;
	}
}