.independent-block-title.title-style-1:before,
.widget .widget-title:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 19px solid;
    border-right: 19px solid transparent;
    position: absolute;
    top: 6px;
    left: 0;
    bottom: 0;
    background: transparent !important;
}
.independent-search .no-results .page-title {
    color: #fff;
}
.light-overlay, .news-slide-loader,
.header-inner .secondary-space-toggle.active {
    background: transparent;
}
.light-overlay, .news-slide-loader {
    opacity: 1;
    background: rgba(43, 65, 153, 0.6);
}
.news-slide-loader:before {
    background: rgba(43, 65, 153, 0.6);
}
.slide-nav a.disabled {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.container, .boxed-container, .custom-container {
    padding: 0;
}
.dropdown:hover > .dropdown-menu {
    border: solid 1px #3B5BC0 !important;
}
.independent-main-menu .independent-slider-nav .slide-nav > li > a {
    font-size: 14px;
    line-height: 27px;
    border: solid 1px;
    border-radius: 0;
}
.mega-dropdown-menu .independent-block .news-tabs > li {
    margin-bottom: 6px;
}
.independent-block-title.title-style-1 {
    position: relative;
    padding-left: 26px;
}
.independent-block.independent-block-2 .post-grid {
    background: #1d3b9b;
    padding: 0 20px 30px;
    border: solid 1px #3B5BC0;
}
.independent-block.independent-block-2 .post-grid > .post-thumb-wrapper {
    margin-right: -20px;
    margin-left: -20px;
}
.independent-block-overlay .post-meta a, .post-meta a, .banner-date span {
    text-transform: uppercase;
    font-size: 12px;
}
.news-meta-wrapper > ul > li.post-date:before{
    content: "";
    width: 5px;
    height: 5px;
    background: aliceblue;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    left: 12px;
    transform: translateY(-50%);
}
.independent-block-overlay .news-meta-wrapper > ul > li.post-date:before, 
.independent-block-2 .independent-block-list .news-meta-wrapper > ul > li.post-date:before {
    content: unset;
}
.independent-block-2 .post-list-content .news-meta-wrapper > ul > li.post-date,
.independent-block-overlay .news-meta-wrapper > ul > li.post-date {
	padding-left: 0;
}
.independent-block.independent-block-13 .post-grid > div {
    margin-bottom: 18px;
    padding-right: 30px;
    padding-left: 30px;
}
.independent-block.independent-block-13 .post-grid {
    background: #1d3b9b;
    border: solid 1px #3B5BC0;
}
.independent-block.independent-block-13 .post-grid > div.post-thumb-wrapper {
    padding: 0;
}
.independent-block .post-grid > div:last-child,
.independent-block.independent-block-13 .post-grid > div:last-child {
    margin-bottom: 0;
}
.bottom-search-wrap {
    background: #3B5BC0 none repeat scroll 0 0;
}
.news-meta-wrapper > ul > li.post-date {
    position: relative;
    padding-left: 25px;
}
.independent-block-overlay .post-category > a {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.independent-block-overlay .post-category > a:before {
    content: unset;
}
.nav.news-tabs > li > a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}
.independent-block .news-tabs ul.more-tab-dropdown > li > a {
    font-weight: 400;
    padding: 7px 15px;
    color: #fff;
}
.independent-block .news-tabs ul.more-tab-dropdown li:nth-child(even) {
    background: #2b4199;
}
.independent-block-13 span.gradient-black-overlay {
    background: linear-gradient(to top, rgba(0,0,0,0.63) 0%, transparent 75%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.41) 0%, transparent 75%);
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.41) 0%, transparent 75%);
    background: -ms-linear-gradient(bottom, rgba(0,0,0,0.41) 0%, transparent 75%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.41) 0 %, transparent 75%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0 );
}
.logged-in-as>a, p.logged-in-as {
    color: #fff;
}
/* News List Styles */
.independent-news .post-list-thumb {
    margin-right: 20px;
}
.independent-block-list.big-list .post-list-content {
    padding: 15px 15px 15px 27px;
}
.independent-block-list.big-list .post-category > a {
    padding: 4px 10px;
    line-height: 17px;
    font-size: 12px;
    color: #fff;
    position: relative;
}
.independent-block-list.big-list .post-category > a:after {
    content: unset;
}
.big-list .post-list-thumb {
    padding-right: 0;
}
.big-list .independent-block-post {
    border: solid 1px #3B5BC0;
}
.independent-block .big-list .post-list-content > div:last-child {
    margin-top: 0;
}
.independent-block-overlay {
    padding: 20px 20px 20px 20px;
}
.independent-block-13 .independent-block-overlay {
	top: 0;
    bottom: auto;
}
.category-tag {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.category-tag:after {
    content: unset;
}
.category-tag:hover {
	opacity: 0.9;
    color: #fff;
}

a {
	color:#fff;
}
strong {
    color: #fff;
}
.content-area {
    margin-bottom: 0;
}
.weather-area strong {
    font-weight: 300;
    color: #bcbcbc;
}
.topbar span.site-date {
    padding: 7px 8px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.topbar span.site-date:before {
    content: "\f017";
    font-family: FontAwesome;
    padding-right: 6px;
}
.post-comments .post-box-title {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}
.custom-crypto .adv-wrapper {
    padding: 10px;
    border: dashed 1px #3B5BC0;
}
.independent-header{
	background-color:transparent;
}
.search-toggle-wrap {
    padding: 0 10px 0 10px;	
}
.page-title-wrap-inner{
    margin-bottom: 30px;
}
.page-title {
	color: #fff;
}
.independent-search .page-title {
    color: #152f90;
}
article.post {
    background: transparent;
}
.post-meta .post-date span.before-icon {
	display: none;
}
.post-meta .post-author .author-img img {
    max-width: 15px;
    margin-right: 7px;
    margin-top: -2px;
}
.post-meta .post-author .author-name {
    font-weight: 400;
}
.related-articles-wrap .related-title {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}
.related-articles-wrap .related-title:after {
	content: "";
    background: #3B5BC0;
}
.post-pagination-wrap {
    text-align: left;
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    border: 1px solid;
}
.single-post-template blockquote {
	border-left: solid #3B5BC0 5px;
}
.site-main.single-post-template .entry-meta.bottom-meta {
    border-top: 1px solid #3B5BC0;
}
.single-post-template .entry-title {
    color: #fff;
}
.site-main.single-post-template .entry-header {
    padding-bottom: 20px;
    border-bottom: solid 1px #3B5BC0;
}
.independent-single-post .post-box {
    padding-top: 70px;
}
.comment-respond {
	margin-top: 70px;
    border: solid 1px #3B5BC0;
    background: #1D3B9B;
}
.form-control {
    border: solid 1px #3B5BC0;
    background: #3B5BC0;
    color: #fff;
}
.independent-login-inner {
    background-color: #1d3b9b;
}
.independent-login-inner .form-control:focus {
	color: #fff;
}
.independent-single-post .post-comments-wrapper {
    padding-top: 0;
}
.form-control:focus, input.search-field:focus {
    border-color: #3B5BC0 !important;
    background: #1d3b9b;
}
.independent-login-inner .close::before, .independent-login-inner .close::after {
    background-color: #ffffff;
}
.independent-login-inner .status {
    background: transparent;
    padding: 0px;
}
.weather-value .weather-temp {
    color: #bcbcbc;
}
.form-control::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}
/*--------------------------------------------------------------
16. Widget Styles
--------------------------------------------------------------*/
.widget-area .widget, .vc_row .widget {
    border: solid 1px #3B5BC0;
	background: #1D3B9B;
}
.widget .widget-title:after {
    content: "";
    height: 1px;
}
.widget .widget-title:after {
    background: #3e55ae;
}

.widget-title {
    padding-left: 26px;
}
.widget_categories ul > li {
    border-bottom: 1px dashed #3B5BC0;
}
.widget_categories span.cat-count {
    background: #3B5BC0;
    color: #fff;
}
.widget_categories .cat-item a {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.widget.independent_latest_post_widget img,
.widget.independent_popular_post_widget img {
    height: 80px;
    max-width: 90px;
}
.independent_latest_post_widget .comments-wrap, 
.independent_popular_post_widget .side-item-meta span {
    color: #c6c6c6;
    font-size: 13px;
    text-transform: uppercase;
}
.independent_latest_post_widget li .side-item-text a,
.independent_popular_post_widget li a {
    line-height: 24px;
}
.weather-short-wrap .weather-img > img {
    filter: brightness(100);
}
.topbar ul.social-icons.social-white > li a, 
.topbar ul.social-icons.social-h-white > li a:hover {
    color: #bcbcbc;
}
.login-form-trigger:before {
    content: "\f2bd";
    font-family: "FontAwesome";
    vertical-align: middle;
    padding-right: 6px;
}
.post-comments .author {
    color: #fff;
}
.logged-in-as > a, p.logged-in-as {
    color: #000;
}
span.before-icon {
	display: none;
}
.post-meta .post-item-views span.before-icon {
    display: inherit;
}
.independent-block .big-list .post-list-thumb {
    margin-right: 0;
}
.weather-area strong, .weather-value .weather-temp {
    color: #fff;
}
.weather-short-wrap .weather-img > img {
	filter: brightness(100);
}
.footer-top-wrap .container-fluid .col-lg-12 {
	padding: 0;
}
.footer-top-wrap .container-fluid {
	margin-bottom: 40px;
}
.footer-top-wrap .container-fluid .widget {
	margin-bottom: 0;
}
.back-to-top {
    bottom: 55px;
}

@media only screen and (max-width: 1024px){
	.container, .boxed-container, .custom-container {
		padding: 0 15px;
	}
}
@media only screen and (max-width: 767px){
	h4.post-title, h4.banner-post-title {
		font-size: 14px;
		line-height: 1.4;
	}
}
/*RTL*/

.rtl .widget-title {
    text-align: right;
    padding-left: 0;
    padding-right: 27px;
}
.rtl .independent-block-title.title-style-1 {
    position: relative;
    padding-left: 0;
    padding-right: 30px;
}
.rtl .nav.news-tabs > li:last-child > a {
    padding-right: 12px;
    padding-left: 0;
}
.rtl .widget .side-item-text {
    padding-right: 0;
    padding-left: 0;
}
.rtl .search-toggle-wrap {
    padding-right: 0;
    padding-left: 20px;
}
.rtl .widget.independent_latest_post_widget img, 
.rtl .widget.independent_popular_post_widget img {
    margin: 0 0px 15px 15px;
}