.container, .boxed-container, .custom-container {
    padding: 0 45px;
}
ul.social-icons.social-transparent > li:first-child a {
    padding-left: 0;
}
ul.social-icons > li > a {
    margin-right: 0px;
}
ul.independent-main-menu > li > a {
    padding: 0 17px;
}
.nav.news-tabs>li>a {
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}
.nav.news-tabs>li>a:hover, .nav.news-tabs>li.active>a {
    opacity: .7;
}
.mobile-header .sticky-head, .mobile-header .header-sticky, .mobile-header .sticky-scroll, .mobile-header .sticky-scroll.show-menu{
	height:auto;
	overflow:hidden;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
   transition: all 0.8s ease 0s;
}
.header-sticky .topbar, .header-sticky .logobar, .header-sticky .navbar{
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
   transition: all 0.8s ease 0s;
}
.secondary-space-toggle > span {
    background-color: #272727;
    margin: 0 0 5px 0;
}
.single-post-template h2.entry-title {
    font-size: 30px;
    line-height: 40px;
}
.widget-area .widget, .vc_row .widget {
    padding: 0;
    border: 0;
}
.related-articles-wrap .related-title:after {
    background: #DEDEDE;
}
.independent-content > .independent-content-inner > div {
    margin-bottom: 50px;
}
.search-toggle-wrap {
    padding: 0 10px 0px 0px;
}
.search-toggle-wrap i {
    font-weight: normal;
}
.site-main.single-post-template .entry-meta.bottom-meta {
    margin-top: 0;
}
.block-default.independent-block-13 .independent-news > .row {
    border-bottom: 1px solid #d9d9d9;
}
.independent-block-list.big-list .post-list-content {
    padding-top: 0;
}

.site-footer .widget:last-child {
    margin-bottom: 0;
}
.footer-bottom .footer-menu li > a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.independent-block-slide .independent-block-overlay {
	position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    padding: 0;
    transform: translateY(-50%);
    margin: 0 0 0 72px;
    max-width: 700px;
	bottom: auto;
}
.independent-block-slide .independent-block-overlay .post-category > a {
	color: #fff;
}
.independent-block-slide .owl-carousel .owl-dots {
    margin-top: 0;
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
}
.bottom-search-wrap {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.page-title-wrap-inner {
    border-bottom: solid 3px #000;
}
.organic-tabs .independent-block-title {
    border: none;
    color: #fff;
    padding: 15px;
    border-radius: 6px;
}
.independent-block-title-pack .nav.news-tabs {
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
.nav.news-tabs > li > a,
.nav.news-tabs > li > a:hover {
    color: #fff !important;
}
.post .post-category a,
.post-thumb-wrapper .category-tag,
.category-tag {
    text-transform: uppercase;
    font-family: "Roboto";
}
.independent_latest_post_widget li .side-item-text a, 
.independent_popular_post_widget li a {
    line-height: 24px;
}
.banner-author-meta > a {
    font-size: 13px;
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    color: #828282;
    padding: 10px 17px;
    border-radius: 5px;
}
.post-pagination-wrap {
    text-align: left;
}
.independent-block-overlay .post-category > a {
    padding: 4px 15px;
}
.post-meta li.post-date a {
    font-size: 14px;
    color: #a0a0a0;
}
.post-meta .post-category a {
    padding: 4px 12px;
    line-height: 20px;
    margin-bottom: 4px;
    position: relative;
    font-size: 12px;
}
.independent-block-list.big-list .post-category > a {
    background: transparent;
    padding: 0;
	line-height: 1;
    font-size: 15px;
    font-weight: 500;
}
.independent-block-list.big-list .post-category > a:after {
    content: unset;
}
.independent-block-list.big-list .post-category > a:hover {
    color: #000;
    opacity: 0.9;
}
.independent-block-slide .independent-block-overlay .news-meta-wrapper:first-child {
    margin-bottom: 16px;
}
.post-read-more a.read-more {
    border: solid 1px #b8b8b8;
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 25px;
    display: inline-block;
}
.independent-block-overlay .post-category > a:before {
	content: unset;
}
.independent-news-slider .independent-block-overlay .post-meta li a span.before-icon {
    color: #fff !important;
}
.news-meta-wrapper > ul > li {
    padding-left: 20px;
}
.independent-block-slide .independent-block-overlay > * {
    margin-bottom: 20px;
}
.post-meta .post-author .author-name {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}
.independent-block-slide .gradient-black-overlay {
	background: rgba(0, 0, 0, 0.45);
}
.owl-dot span {
    background: #C1C3C2 !important;
    height: 10px;
    margin: 0 5px;
    width: 10px;
    box-shadow: none;
}
.owl-dot.active span {
    transform: none;
}
.independent-block.independent-block-slide .post-thumb-wrapper .post-thumbnail,
.mega-dropdown-menu .independent-block .post-thumb-wrapper .post-thumbnail {
    border-radius: 0;
}
.independent-block.independent-block-13 .post-grid.text-center > div {
    padding: 0 70px;
}
.independent-block.independent-block-13 .post-grid.text-center > div.post-thumb-wrapper {
    margin-right: -70px;
	margin-left: -70px;
}
.independent-block.independent-block-slide .post-grid > .post-thumb-wrapper {
    margin-bottom: 0;
}
.widget .widget-title, 
.widget-area .widget .widget-title, 
.widget-area .independent-block-title, 
.wpb_widgetised_column .independent-block-title {
    text-transform: capitalize;
    margin-bottom: 31px;
    border-bottom: solid 2px #DEDEDE;
    padding-bottom: 16px;
}
.widget.widget_media_image img {
    margin: 0;
}
.wpb_widgetised_column .widget ul.social-icons.social-transparent > li a,
.widget-area ul.social-icons.social-transparent > li > a, 
.wpb_widgetised_column ul.social-icons.social-transparent > li > a {
    font-size: 20px;
    margin-right: 0;
    height: auto;
    line-height: 1;
}
.social-counts > li > a {
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
	padding: 0;
}
span.followers-count {
    font-size: 16px;
    font-weight: 500;
}
.social-counts > li > a > .fa {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
	font-size: 18px;
}
.social-counts .follow-redirect-text {
    margin-top: 17px;
    margin-right: 17px;
}
.widget .widget-title:after {
    content: unset;
}
.widget .news-meta-wrapper > ul > li:first-child {
    padding-bottom: 0;
    padding-top: 0;
}
.most-viewed-posts .col-sm-6 {
    padding: 0 10px;
}
.widget.independent_mailchimp_widget > img,
.most-viewed-post-image .most-viewed-index {
    display: none;
}
.widget.independent_popular_post_widget .col-sm-6 {
    padding: 0 10px;
}
.most-viewed-post-title {
    text-align: center;
}
.independent_most_view_post_widget .most-viewed-post-item {
    margin-bottom: 25px;
}
.independent_most_view_post_widget .most-viewed-posts h6 {
    padding-top: 13px;
}
.widget-area, .vc_row .wpb_widgetised_column {
    margin-bottom: 40px;
    border: solid 1px #d9d9d9;
	border-top: solid 6px;
    padding: 30px;
    transition: ease-in-out .2s;
}
.widget-area .widget:last-child, 
.vc_row .widget:last-child {
    margin-bottom: 0;
}
.form-control {
    font-size: 12px;
}
.widget.zozo_about_widget img.sign-image {
    margin: 20px 0 0 !important;
}
/*Responsive*/
@media only screen and (max-width: 1024px) {
	.independent-block-slide .independent-block-overlay {
		padding: 30px;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.widget-area .widget, .vc_row .widget {
		padding: 30px 15px;
		text-align: center;
	}
	.widget.widget_independent_vc_block_9 {
		text-align: left;
	}
}
@media only screen and (max-width: 768px) {
	h4.post-title, h4.banner-post-title {
		font-size: 18px;
		line-height: 1.6;
	}
	.independent-block-slide .independent-block-overlay {
		padding: 20px;
	}
	.independent-block-slide .owl-carousel .owl-dots {
		bottom: 27px;
	}
	.banner-post-grid .banner-grid-details {
		padding: 15px;
	}
}
@media only screen and (max-width: 767px) {
	h2.post-title, h2.banner-post-title {
		font-size: 24px;
		line-height: 1.4;
	}
	.independent-block-slide .independent-block-overlay {
		padding: 20px;
	}
	.independent-block-slide .owl-carousel .owl-dots {
		bottom: 27px;
	}
	.independent-block.independent-block-13 .post-grid.text-center > div {
		padding: 0;
	}
}
@media only screen and (max-width: 640px) {
	.independent-block-slide .independent-block-overlay,
	.independent-block-slide .owl-carousel .owl-dots {
		position: relative;
	}
	.independent-block-slide .independent-block-overlay {
		margin: 0 15px;
	}
}
@media only screen and (max-width: 380px) {
	h2.post-title, h2.banner-post-title {
		font-size: 24px;
		line-height: 1.4;
	}
	h2.post-title, h2.banner-post-title {
		font-size: 16px;
		line-height: 1.6;
	}
}
/*RTL*/
.rtl .search-toggle-wrap, .rtl .widget .side-item-text {
    padding-right: 0;
    padding-left: 15px;
}
.rtl .independent-block-post.text-center .post-title,
.rtl .site-footer .widget .nav.social-icons {
    text-align: center;
}