.dropdown:hover > .dropdown-menu {
    border-top: none;
}
.container, .boxed-container, .custom-container {
    padding: 0 15px;
}
.search-toggle-wrap {
    position: relative;
    padding: 0 10px 0 0px;
}
.topbar span.site-date {
    background: none !important;
    color: #818181;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
}
.secondary-menu-area-inner .widget .widget-title {
	color: #111;
}
.bottom-search-wrap {
    background: #1e1e1e;
}
.topbar span.site-date:before {
    content: "\f017";
    font-family: fontAwesome;
    padding-right: 8px;
    font-size: 12px;
}
.site-footer .widget.independent_mailchimp_widget > img {
    display: none;
}
.page-template-default .content-area {
    background: none;
    padding: 0;
    border: none;
}

.widget_categories ul > li {
    padding: 15px 0;
    border-bottom: dashed 1px #d9d9d9;
}
.widget_categories .cat-item:last-child {
    border-bottom: 0;
}
.independent-content > .independent-content-inner > div {
    padding-bottom: 0;
}
.single-post-template article.post ul.social-icons > li > a {
    height: 30px;
    line-height: 30px;
    width: 30px;
    font-size: 13px;
    margin-right: 5px;
}
.site-main.single-post-template .entry-meta.bottom-meta {
    border-top: 1px solid #d9d9d9;
}
.single-post-template ul.nav.social-icons {
    margin-top: -6px;
}
article.post {
    background: #f9f9f9;
    position: relative;
}
.single-post-template article .article-inner > *.breadcrumb:first-child {
    margin-bottom: 10px;
}
.site-main.single-post-template .entry-header {
    padding-bottom: 15px;
    border-bottom: solid 1px #d9d9d9;
}
.site-main.single-post-template .entry-header {
    padding-bottom: 11px;
    border-bottom: solid 1px #d9d9d9;
}
.site-footer ul.social-icons > li > a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    width: 40px;
    transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
    -ms-transition: all ease 0.35s;
    font-size: 15px;
}
.site-footer .widget {
    line-height: 30px;
}
.site-footer .widget.widget_text {
    padding-right: 25px;
}
.single-post-template blockquote {
    font-style: italic;
    margin: 0 40px;
}
.single-post-template {
    padding-bottom: 45px;
}
.page-title-wrap-inner {
    border-bottom: solid 3px;
}
.post-format-icon.icon-control-play {
    font-size: 13px;
    width: 40px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    border-radius: 50%;
    border: solid 2px #fff;
}
.banner-post-title {
    margin-top: 8px;
}
.page-title {
    font-size: 24px;
    line-height: 32px;
}
.page-title-wrap-inner {
    margin-bottom: 40px;
}
.related-articles-wrap .independent-block-7 .independent-slider-nav {
    position: relative;
}
.owl-nav {
	top: auto;
    transform: translateY(-0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    -o-transform: translateY(-0%);
    bottom: 60px;
    right: 25px;
    width: auto;
}
.owl-nav > div.owl-next,
.owl-nav > div.owl-prev {
    float: none;
   	margin: 0 5px;
}
.independent-block-slide .owl-carousel .owl-dots {
    text-align: center;
    margin-top: 0;
    position: absolute;
    bottom: 45px;
    right: 0;
    left: 0;
}
.independent-block-slide .independent-block-overlay {
    bottom: 35px;
}
.independent-block-14 .independent-block-overlay > *.post-title-wrapper {
    width: 85%;
}
.owl-nav > div {
    height: 45px;
    width: 45px;
    line-height: 45px;
}
.independent-block-overlay .post-category > a:before,
.category-tag:after, .independent-block-list.big-list .post-category > a:after,
.site-footer .widget-title:after, .footer-menu li:after {
	content: unset;
}
.footer-menu > li {
    padding-left: 20px;
}
.independent-block-overlay .post-category > a, 
.post-thumb-wrapper .category-tag, 
.category-tag, .independent-block-list.big-list .post-category > a, 
.post .post-category a {
    font-size: 13px;
    text-transform: uppercase;
    padding: 6px 15px;
    line-height: 1;
    color: #fff;
    margin-bottom: 0;
}
.post .post-category a:hover {
	color:#fff !important;
}
.independent-block-overlay > * {
    margin-bottom: 12px;
}
.post-meta .post-author .author-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
.independent-block-title {
    margin-bottom: 40px;
    border-bottom: 2px solid;
	padding-bottom: 5px;
}
.widget-area .independent-block-title {
    margin-bottom: 30px;
    border-bottom: none;
	padding-bottom: 0;
}
.independent-block-title span {
    color: #fff;
    padding: 8px 15px 8px 20px;
	position: relative;
}
.wpb_widgetised_column .independent-block-title span:after {
    content: unset;
}
.site-footer .independent-block-title > span {
    background: transparent;
    padding: 0;
}
.site-footer .independent-block-title > span:after {
	content: unset;
}
.independent-block-title span:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 40px solid;
    border-right: 27px solid transparent;
    position: absolute;
    top: 0;
    right: -27px;
}
.independent-block-7 .independent-slider-nav {
    position: absolute;
    top: -8px;
    right: 0;
	font-size: 16px;
}
.video-playlist,
.video-playlist.active {
    background: #111;
}
.video-playlist {
	padding: 10px 0;
}
.video-playlist:first-child {
    padding-top: 0;
}
.independent-block-list.big-list .post-list-content {
    padding: 18px 25px;
	background: #fff;
}
.independent-slider-nav .slide-nav > li > a {
    width: 32px;
    height: 32px;
    line-height: 28px;
}
.independent-block-title span,
.widget-area .widget .widget-title, .vc_row .widget .widget-title, 
.site-footer .widget-title, .site-footer .independent-block-title {
	margin-bottom: 40px;
}
.site-footer li.post-date a {
    color: #999;
}
.widget.independent_mailchimp_widget .zozo-mc-form .zozo-mc-subtitle {
    text-align: left;
}
.site-footer .widget.independent_mailchimp_widget .form-control {
    background: #232122;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
}
.type-load-more .slide-nav > li {
    display: block;
}
.independent-load-more.btn {
    display: block;
    padding: 14px;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 700;
    border: solid 1px #d9d9d9;
    background: none;
    color: #616161;
}
.independent-block .big-list .post-list-thumb {
    margin-right: 0;
    padding-right: 0;
}
.site-footer .independent-block-title, 
.site-footer .widget-title {
    padding-bottom: 15px;
    border-bottom: solid 1px #3c3c3c;
}
.site-footer .post-list-thumb {
    margin-right: 20px;
}
.site-footer .independent-block-title > span {
    color: #fff;
}
.independent-content > div {
    margin-bottom: 0;
}
.widget-area .widget .widget-title:after, 
.vc_row .widget .widget-title:after {
    content: unset;
}
.widget-area .widget .widget-title, .vc_row .widget .widget-title {
    color: #fff;
    padding: 8px 15px 8px 20px;
    line-height: 18px;
    font-size: 15px;
	margin-botttom: 30px;
}
.wpb_widgetised_column .independent-block-title,
.widget-area .widget .widget-title, 
.vc_row .widget .widget-title {
    margin-bottom: 30px;
}
.social-counts > li > a {
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
	padding: 0;
}
span.followers-count {
    font-size: 16px;
    font-weight: 500;
}
.social-counts > li > a > .fa {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
	font-size: 18px;
}
.social-counts .follow-redirect-text {
    margin-top: 17px;
    margin-right: 17px;
}
.wpb_widgetised_column .independent-block-title span, 
.widget-area .independent-block-title span {
    background: none;
    padding: 0;
}
.wpb_widgetised_column .independent-block-title, .widget-area .independent-block-title {
    padding: 3px 15px;
    line-height: 1;
}
.wpb_widgetised_column .independent-block-title span:after, .widget-area .independent-block-title span:after {
	content: none;
}
.post-pagination-wrap {
    text-align: left;
}
.post-pagination-wrap {
    margin: 0;
}
.nav.news-tabs > li > a {
    color: #545454;
    font-weight: bolder;
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    border: 1px solid #bc1b1c;
	padding: 11px 15px;
    color: #bc191a;
}
.independent-block .big-list .post-list-content > div:last-child {
    margin-top: 0;
}
.post-meta a {
    color: #939393;
}
@media only screen and (max-width: 767px) {
	h3.post-title, 
	h3.banner-post-title {
		font-size: 16px;
		line-height: 1.5;
	}
	h2.post-title, 
	h2.banner-post-title {
		font-size: 18px;
		line-height: 28px;
	}
}
}
@media only screen and (max-width: 380px) {
	.independent-block-title span:after {
		border-bottom: 36px solid;
		border-right: 27px solid transparent;
	}
	.independent-block-title {
		padding-bottom: 3px;
	}
}