.dropdown:hover > .dropdown-menu {
    border-top: none;
}
.container, .boxed-container, .custom-container {
    padding: 0 15px;
}
.navbar .search-toggle-wrap i {
    border: solid 1px #ee7071;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
}
.content-area {
	background: #fff;
    padding: 30px 20px;
    border: solid 1px #e8d3b4;
}
.page-template-default .content-area {
    background: none;
    padding: 0;
    border: none;
}
.close.full-bar-search-toggle {
    background: transparent;
    right: 36px;
}
.widget_categories ul > li {
    padding: 15px 0;
    border-bottom: dashed 1px #d9d9d9;
}
.post-navigation h6 {
    color: #fff;
}
span.nav-icon {
    color: #cacaca;
}
.widget_categories .cat-item:last-child {
    border-bottom: 0;
}
.independent-content > .independent-content-inner > div {
    padding-bottom: 0;
}
.single-post-template article.post ul.social-icons > li > a {
    height: 30px;
    line-height: 30px;
    width: 30px;
    font-size: 13px;
    margin-right: 5px;
}
.single-post-template ul.nav.social-icons {
    margin-top: -6px;
}
.site-footer ul.social-icons > li > a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    width: 40px;
    transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
    -ms-transition: all ease 0.35s;
    font-size: 15px;
}
.site-footer .widget {
    line-height: 30px;
}
.site-footer .widget.widget_text {
    padding-right: 25px;
}
.single-post-template blockquote {
    border-left: solid #ccc 5px;
    font-style: italic;
    font-size: 18px;
	color: #000;
}
.single-post-template {
    padding-bottom: 45px;
}
.page-title-wrap-inner {
    border-bottom: solid #000 3px;
}
.post-format-icon.icon-control-play {
    font-size: 13px;
    width: 40px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    border-radius: 50%;
    border: solid 2px #fff;
}
.banner-post-title {
    margin-top: 8px;
}
.page-title {
    font-size: 24px;
    line-height: 32px;
}
.site-main.single-post-template .entry-meta.bottom-meta {
    padding: 15px 0px 6px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.owl-nav {
	top: auto;
    transform: translateY(-0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    -o-transform: translateY(-0%);
    bottom: 60px;
    right: 25px;
    width: auto;
}
.owl-nav > div.owl-next,
.owl-nav > div.owl-prev {
    float: none;
   	margin: 0 5px;
}
.owl-nav > div {
    height: 45px;
    width: 45px;
    line-height: 45px;
}
.independent-block-overlay .post-category > a:before,
.category-tag:after, .independent-block-list.big-list .post-category > a:after,
.site-footer .widget-title:after {
	content: unset;
}
.independent-block-overlay .post-category > a,
.post-thumb-wrapper .category-tag,
.category-tag, .independent-block-list.big-list .post-category > a,
.post .post-category a {
    font-size: 13px;
    text-transform: uppercase;
}
.post .post-category a,
.independent-block-list.big-list .post-category > a {
    padding: 3px 12px;
}
.post .post-category a:hover,
.post .post-category a {
    color: #fff;
}
/*.independent-block-13 .post-grid.independent-block-post {
    padding-bottom: 15px;
    border-bottom: dashed 1px #d9d9d9;
}*/
.independent-block-overlay > * {
    margin-bottom: 12px;
}
.post-meta .post-author .author-name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
}
.independent-block-title {
    margin-bottom: 30px;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 13px;
}
.independent-block-title span,
.widget-area .widget .widget-title, .vc_row .widget .widget-title, 
.site-footer .widget-title, .footer-middle-wrap .widget .widget-title {
    border-left: 6px solid;
    line-height: 1;
    padding-left: 10px;
}
.widget.independent_mailchimp_widget > img {
    display: none;
}
.widget.independent_mailchimp_widget .zozo-mc-form {
    text-align: left;
}
.site-footer li.post-date a {
    color: #999;
}
.site-footer .independent-block-title {
    border-bottom: none;
    padding-bottom: 0;
}
.site-footer .post-list-thumb {
    margin-right: 20px;
}
.site-footer .widget .independent-block-title > span {
    color: #fff;
}
.independent-slider-nav .slide-nav > li > a {
    border: solid 1px;
}
.independent-content > div {
    margin-bottom: 0;
}
.widget-area .widget .widget-title:after,
.vc_row .widget .widget-title:after {
    background: #d9d9d9;
}
.post-pagination-wrap {
    text-align: left;
}
.post-pagination-wrap {
    margin: 0;
}
.widget-area .widget, .vc_row .widget {
    margin-bottom: 30px;
    border: solid 1px #e8d3b4;
    padding: 25px 20px;
	background: #fff;
}
.nav.news-tabs > li > a {
    color: #545454;
    font-weight: bolder;
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    border: 1px solid #bc1b1c;
	padding: 11px 15px;
}
.independent-block .big-list .post-list-content > div:last-child {
    margin-top: 0;
}
.post-meta a {
    color: #939393;
}
.post-meta .post-date span.before-icon {
    display: none;
}
.independent-block-overlay li.post-date:before, 
.news-meta-wrapper > ul > li:nth-child(2).post-date:before {
    content: "-";
    color: #939393;
    padding-right: 9px;
}
.independent-block-overlay .news-meta-wrapper > ul > li.post-date:before {
    color: #fff;
}
@media only screen and (max-width: 767px) {
	h2.post-title, 
	h2.banner-post-title {
		font-size: 16px;
		line-height: 1.5;
	}
	.post-format-icon.icon-control-play {
		width: 30px;
		height: 30px;
		font-size: 8px;
		line-height: 27px;
		right: 14px;
		left: auto;
	}
}