.secondary-space-toggle > span {
    background-color: #000;
}
.main-logo img.custom-logo {
	padding: 0;
}
.container, .boxed-container, .custom-container, 
.independent-header .custom-container, 
.page-title-wrap .container {
	padding: 0 15px;
}
.site-footer .widget .widget-title:before, 
.site-footer .widget .independent-block-title:before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -18px;
    background: #eaeaea;
}
nav.navbar {
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    z-index: 1;
}
.topbar span.site-date {
    padding: 3px 9px;
    font-size: 12px;
}
.widget .widget-title:after, 
.widget .independent-block-title:after {
    height: 2px;
    width: 60px;
    bottom: -18px;
}
.widget .independent-block-title:after {
    content: "";
    left: 0;
    position: absolute;
}
.site-footer .independent-block-title {
    border-bottom-color: transparent;
	padding-bottom: 0;
	position: relative;
}
.widget .widget-title {
    text-transform: capitalize;
}
.site-footer .independent-block-title span:before {
	content: unset;
}
.banner-author-meta a.author-link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}
.banner-author-meta {
    margin-top: 12px;
}
.site-footer .widget-title,
.site-footer .independent-block-title {
    margin-bottom: 60px;
}
.post-list-thumb {
    margin-right: 20px;
}
.site-footer ul.social-icons > li > a {
    margin: 0;
    font-size: 18px;
    color: #a8a8a8;
}
.site-footer ul.social-icons > li > a:hover {
	background: transparent;
}
.category-tag:after, .independent-block-overlay .post-category > a:before {
	content: unset;
}
.category-tag, .independent-block-overlay .post-category > a {
    text-transform: uppercase;
    font-weight: 600;
}
.banner-grid-67x100 .banner-grid-details {
    width: 75%;
}
.independent-block-title {
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 40px;
}
.independent-block-post.text-center .post-thumb-wrapper .category-tag {
    bottom: -11px;
    margin: 0;
    line-height: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.post-meta a {
    color: #959595;
    font-size: 14px;
}
.independent-slider-nav .slide-nav > li > a {
    border: solid 1px;
}
.independent-block-post.text-center .post-title-wrapper {
    padding: 0 12px;
}
.post-thumb-wrapper .category-tag {
    bottom: -11px;
}
.post.post-mini-grid.independent-block-post:last-child {
    padding: 0;
    margin: 0;
    border-bottom: none;
}
.widget .news-meta-wrapper > ul > li:first-child {
    padding-top: 0;
}
.adv-wrapper img {
    padding: 10px;
    border: dashed 1px #d9d9d9;
}
.post.post-mini-grid.independent-block-post {
    padding-bottom: 27px;
    border-bottom: solid 1px #d9d9d9;
    margin-bottom: 30px;
}
li.post-date:nth-child(2):before {
    content: "/";
    padding-right: 8px;
}
.single-post-template .post-meta .post-author .author-name:before {
    content: "";
    padding: 0;
}
.post-meta .post-author .author-name {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
}
.news-meta-wrapper > ul > li {
    padding-left: 7px;
}
.independent-block .big-list .post-list-content > div:last-child {
    margin-top: 0;
}
.post .post-category a,
.independent-block-list.big-list .post-category > a {
    padding: 3px 12px;
    color: #fff !important;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.site-main.single-post-template .entry-header:nth-child(2) {
    padding-bottom: 15px;
    border-bottom: solid 1px #d9d9d9;
}
.site-main.single-post-template .entry-meta.bottom-meta {
    margin-top: 0;
}
.form-control, button.mc-submit-btn {
    height: 45px;
}
.widget .independent-block-title {
    border-bottom: none;
    padding-bottom: 0;
}
.widget .independent-block-title span:before,
.independent-block-list.big-list .post-category > a:after {
	content: unset;
}
.widget .independent-block-title span {
    border-left: none;
    padding: 0;
}
button.mc-submit-btn {
    background: #1b222c;
    padding-left: 17px;
    padding-right: 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mailchimp-wrapper .form-control {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.widget-area ul.social-icons > li > a, 
.wpb_widgetised_column ul.social-icons > li > a {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    margin-right: 7px;
    width: 45px;
}
.widget-area .widget, .vc_row .widget {
    padding: 25px;
}
.post-pagination-wrap {
    text-align: left;
}
.close.full-bar-search-toggle {
    background: transparent;
    right: 36px;
}
/*.independent-block-list.big-list {
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: solid 1px #d9d9d9;
}*/