.rtl .nav-item-inner ul.nav.social-icons {
    padding-right: 10px;
}
.rtl .wpb_widgetised_column {
    margin-top: 40px;
}
.rtl span.before-icon {
    padding-left: 7px;
}
.rtl .logged-in.log-form-trigger-wrap {
    padding-left: 10px;
}
.rtl .breadcrumb > *:last-child {
    padding-right: 10px;
}
.rtl .post-meta a, .rtl .banner-author-meta a, .post-meta .post-author .author-name, .widget span.f-date {
    font-size: 13px;
    font-weight: 400;
}
.post-meta .post-author .author-name, .widget span.f-date {
    color: #808080;	
}
.widget .news-meta-wrapper > ul > li:first-child {
    padding-bottom: 0;
	padding-top: 0;
}
.rtl .single-post-template .post-meta span {
    font-weight: 400;
}