.container, .boxed-container, .custom-container,
.independent-header .custom-container, .page-title-wrap .container {
    padding: 0 15px;
}
ul.social-icons.social-transparent > li:first-child a {
    padding-left: 0;
}
.header-inner ul.social-icons.social-hbg-black > li a:hover {
    background: transparent;
}
.bottom-search-wrap {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.topbar span.site-date {
    padding: 0;
    border-radius: 0;
    background: transparent !important;
}
.independent-header .topbar .social-icons li > a {
    font-size: 13px;
    padding-left: 15px;
}
ul.social-icons > li > a {
    margin-right: 0px;
}
ul.independent-main-menu > li > a {
    padding: 0 17px;
}
.secondary-space-toggle > span {
    background-color: #272727;
    margin: 0 0 5px 0;
}
.search-toggle-wrap {
    padding: 0 10px 0px 0px;
}
.search-toggle-wrap i {
    font-weight: normal;
}
.page-title-wrap-inner {
    margin-bottom: 30px;
}
.block-default.independent-block-13 .independent-news > .row {
    border-bottom: 1px solid #d9d9d9;
}
.site-footer .widget:last-child {
    margin-bottom: 0;
}
.footer-bottom .footer-menu li > a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.footer-menu li:after {
    content: "|";
    padding: 0 20px;
}
.site-footer ul.social-icons > li > a {
    margin: 0 4px;
    font-size: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.independent-block-slide .independent-block-overlay {
	position: absolute;
    padding: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 30px;
    background: rgba(255, 255, 255, 0.9);
    max-width: 1140px;
}
.bottom-search-wrap {
	background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.typo-dark .independent-block-slide .independent-block-overlay.typo-white .post-title, 
.typo-dark .independent-block-slide .independent-block-overlay.typo-white .post-title > a {
    color: #000;
}
.independent-block-slide .independent-block-overlay .post-meta a {
    color: #828282;
}
.independent-block-slide .independent-block-overlay .gradient-black-overlay {
    background: transparent;
}
/*.independent-block-overlay li.post-date:before,
.news-meta-wrapper > ul > li:nth-child(2).post-date:before {
    content: "/";
    color: #828282;
    padding-right: 9px;
}*/
.independent-block-slide .independent-block-overlay .post-category > a {
	color: #fff;
}
.independent-block-slide .owl-carousel .owl-dots {
    margin-top: 0;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
}
.independent-block-slide.custom-slider-2 .independent-block-overlay {
    padding: 30px 25px;
    margin: 0 40px;
}
.post-meta .post-category a:before,
.category-tag:after,
.independent-block-list.big-list .post-category > a:after {
	content: unset;
}
.post .post-category a,
.post-thumb-wrapper .category-tag,
.category-tag {
	background: transparent !important;
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    color: #828282;
    padding: 7px 17px;
    font-size: 14px;
}
.independent-block-overlay .post-category > a {
    padding: 3px 15px;
}
.post-meta .post-category a {
	padding: 3px 12px;
    line-height: 20px;
    margin-bottom: 4px;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
}
.independent-custom-slide .independent-block-slide .independent-block-overlay {
    padding: 30px 70px 30px;
}
.news-meta-wrapper .post-meta .post-category a {
    font-family: "Shadows Into Light";
    text-transform: capitalize;
    letter-spacing: 2px;
}
.independent-block-slide .independent-block-overlay .news-meta-wrapper:first-child {
    margin-bottom: 16px;
}
.owl-nav > div {
    font-size: 18px;
    border: solid 1px #fff;
	line-height: 34px;
}
.owl-prev:hover, .owl-next:hover, .owl-nav > div {
    background: transparent;
}
.custom-slider-2 .owl-nav > div {
    border-radius: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    margin: 0;
}
.post-audio-wrap {
    padding-top: 0;
    padding-bottom: 0;
}
.widget-area .widget, .vc_row .widget {
    border: solid 1px #f1f1f1;
}
.widget .independent-block-title {
    border-bottom: none;
    padding-bottom: 0;
}
.widget .widget-title, .independent-block-title {
    margin-bottom: 35px;
}
.independent-block-overlay .post-category > a:hover {
    opacity: 0.9;
    color: #000 !important;
}
.vc_row .widget > *,
.wpb_widgetised_column .independent-block > *,
.widget-area .widget > *,
.secondary-menu-area-inner .independent-block > *,
.secondary-menu-area-inner .widget > *,
.widget-area .widget .independent-block > * {
    text-align: left;
}
.widget-area .widget, .vc_row .widget,
.wpb_widgetised_column .independent-block,
.widget-area .independent-block,
.secondary-menu-area-inner .widget,
.secondary-menu-area-inner .independent-block {
	text-align: center;
}
.vc_row .widget > *.nav.social-icons,
.wpb_widgetised_column .independent-block .nav.social-icons {
    text-align: center;
}
.post-read-more a.read-more {
    font-size: 14px;
    display: inline-block;
    padding: 0 18px;
    margin-top: 0;
    background: transparent !important;
    border: solid 1px #272727;
    color: #272727 !important;
}
.vc_row .widget .widget-title, .widget-area .widget .independent-block-title,
.widget-area .widget .widget-title, 
.widget-area .independent-block-title, 
.wpb_widgetised_column .independent-block-title {
	text-transform: uppercase;
    display: inline-block;
    position: relative;
}
.vc_row .widget .widget-title:before, .widget-area .widget .independent-block-title:before, .widget-area .widget .widget-title:before, .widget-area .independent-block-title:before, .wpb_widgetised_column .independent-block-title:before, .secondary-menu-area-inner .independent-block-title:before,
.secondary-menu-area-inner .widget .widget-title:before {
    content: "";
    position: absolute;
    left: -40px;
    right: 0;
    border: 1px solid #ce8460;
    border-left: 0;
    border-right: 0;
    width: 30px;
    height: 2px;
    padding: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
}
.vc_row .widget .widget-title:after, .widget-area .widget .independent-block-title:after, .widget-area .widget .widget-title:after, .widget-area .independent-block-title:after, .wpb_widgetised_column .independent-block-title:after, .secondary-menu-area-inner .widget .widget-title:after {
	content: "";
    position: absolute;
    right: -40px;
    left: auto;
    border: 1px solid #ce8460;
    border-left: 0;
    border-right: 0;
    width: 30px;
    height: 2px;
    padding: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
	
}
.secondary-menu-area-inner .widget .widget-title {
	position: relative;
    display: inline-block;
}
.independent-custom-slide .independent-block-slide .post-grid.independent-block-post {
    padding: 0;
    border: none;
}
.independent-custom-slide .independent-block-slide .post-grid.independent-block-post .post-thumb-wrapper {
	margin-bottom: 0;
}
.independent-block.independent-block-13 .post-grid.text-center > div.post-read-more {
    margin-bottom: 30px;
}
.independent-block-list > .post-list {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.zozo_about_widget {
    text-align: center;
}
.widget.zozo_about_widget img {
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 170px;
}
.widget_categories .cat-item a {
    font-size: 16px;
    letter-spacing: 0.2px;
	color: #585858;
}
.widget_categories ul > li {
    padding: 5px 0;
}
.post-read-more a.read-more:hover {
    color: #000;
}
.post-grid a.read-more:hover {
	background-color: transparent;
}
.independent-block-slide .independent-block-overlay > *.post-title-wrapper {
    margin-bottom: 6px;
}
.independent-block-slide .independent-block-overlay > * {
    margin-bottom: 10px;
}
.post-meta .post-author .author-name {
    font-weight: 400;
}
.post-meta .post-author .author-name,
.independent-block .news-meta-wrapper {
    font-family: montserrat;
    font-size: 12px;
    text-transform: uppercase;
}
.news-meta-wrapper > ul > li,
.news-meta-wrapper > ul > li:first-child {
    padding-left: 12px;
    padding-right: 12px;
}

.independent-block-slide .gradient-black-overlay {
	background: transparent;
}
.independent-news-slider .independent-block-overlay .post-meta li a span.before-icon,
.post-meta .post-date span.before-icon {
	display: none;
}
.owl-dot span {
    background: #C1C3C2 !important;
    height: 10px;
    margin: 0 5px;
    width: 10px;
    box-shadow: none;
}
.owl-dot.active span {
    transform: none;
}
.independent-block.independent-block-13 .post-grid.text-center > div {
    padding: 0 70px;
}
.independent-block .post-grid.text-center > div:last-child.news-meta-wrapper {
    padding: 20px 0px 20px;
    border-top: dashed 2px #eaeaea;
    border-bottom: dashed 2px #eaeaea;
    line-height: 1;
}
.independent-block .post-grid > div {
    margin-bottom: 12px;
}
.independent-block.independent-block-slide .post-grid.text-center > div:last-child.news-meta-wrapper {
    border: none;
    padding: 0;
}
.widget_categories ul>li {
    border-bottom: 1px dashed #eaeaea;
}
.widget_categories ul>li {
    padding: 15px 0;
}
.independent-block .post-grid > * {
    padding-left: 20px;
    padding-right: 20px;
}
.independent-block .post-grid > *.post-thumb-wrapper {
    padding: 0;
}

.independent-block.independent-block-13 .post-grid.text-center > div.post-thumb-wrapper {
    margin-right: -70px;
	margin-left: -70px;
}
/*.widget .widget-title, 
.widget-area .widget .widget-title, 
.widget-area .independent-block-title, 
.wpb_widgetised_column .independent-block-title {
    text-transform: capitalize;
    margin-bottom: 30px;
}*/
.independent-block-slide .post-grid.independent-block-post {
    border: dashed 1px #eaeaea;
    padding-bottom: 15px;
}
.wpb_widgetised_column .widget ul.social-icons.social-transparent > li a,
.widget-area ul.social-icons.social-transparent > li > a, 
.wpb_widgetised_column ul.social-icons.social-transparent > li > a {
    font-size: 20px;
    margin-right: 0;
    height: auto;
    line-height: 1;
}
.widget .widget-title:after {
    content: unset;
}
.widget-area .widget.independent_mailchimp_widget, 
.vc_row .widget.independent_mailchimp_widget {
    background: #f7f7f7;
    border: solid 1px #eaeaea;
}
.most-viewed-posts .col-sm-6 {
    padding: 0 10px;
}
.widget.independent_mailchimp_widget > img,
.most-viewed-post-image .most-viewed-index {
    display: none;
}
.widget.independent_popular_post_widget .col-sm-6 {
    padding: 0 10px;
}
.most-viewed-post-title {
    text-align: center;
}
.independent_most_view_post_widget .most-viewed-post-item {
    margin-bottom: 25px;
}
.independent_most_view_post_widget .most-viewed-posts h6 {
    padding-top: 13px;
}
.form-control {
    font-size: 12px;
}
.widget.zozo_about_widget img.sign-image {
    margin: 20px 0 0 !important;
}
.site-footer .widget.widget_nav_menu ul.menu > li {
    display: inline-block;
}
.site-footer .widget.widget_nav_menu ul.menu > li a {
    padding: 0 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer-middle-wrap .widget {
    margin-bottom: 42px;
}
/*Responsive*/
@media only screen and (max-width: 1024px) {
	.independent-block-slide .independent-block-overlay {
		padding: 30px;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.widget-area .widget, .vc_row .widget {
		padding: 30px 15px;
		text-align: center;
	}
	.widget.widget_independent_vc_block_9 {
		text-align: left;
	}
}
@media only screen and (max-width: 768px) {
	h4.post-title, h4.banner-post-title {
		font-size: 18px;
		line-height: 1.6;
	}
	.independent-block-slide .independent-block-overlay {
		padding: 20px;
	}
	.independent-block-slide .owl-carousel .owl-dots {
		bottom: 27px;
	}
	.banner-post-grid .banner-grid-details {
		padding: 15px;
	}
}
@media only screen and (max-width: 767px) {
	h2.post-title, h2.banner-post-title {
		font-size: 24px;
		line-height: 1.4;
	}
	.independent-block-slide .independent-block-overlay {
		padding: 20px;
	}
	.independent-block-slide .owl-carousel .owl-dots {
		bottom: 27px;
	}
	.independent-block.independent-block-13 .post-grid.text-center > div {
		padding: 0;
	}
}
@media only screen and (max-width: 640px) {
	.independent-block-slide .independent-block-overlay,
	.independent-block-slide .owl-carousel .owl-dots {
		position: relative;
	}
	.independent-block-slide .independent-block-overlay {
		margin: 0 15px;
	}
}
@media only screen and (max-width: 380px) {
	h2.post-title, h2.banner-post-title {
		font-size: 24px;
		line-height: 1.4;
	}
	h2.post-title, h2.banner-post-title {
		font-size: 16px;
		line-height: 1.6;
	}
}
/*RTL*/
.rtl .search-toggle-wrap, .rtl .widget .side-item-text {
    padding-right: 0;
    padding-left: 15px;
}
.rtl .independent-block-post.text-center .post-title,
.rtl .site-footer .widget .nav.social-icons {
    text-align: center;
}
@media only screen and (max-width: 640px) {
	.owl-nav > div {
		width: 40px;
		height: 40px;
		line-height: 40px;
		border: solid 1px #ce8460;
		color: #ce8460;
		font-size: 13px;
	}
}
@media only screen and (max-width: 480px) {
	.independent-block-slide .owl-carousel .owl-dots {
		bottom: 0;
	}
}
