
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
.page-title-wrap-inner {
    border-bottom: solid 3px #000;
}
.independent-single-post .content-area {
    background: #fff;
    padding: 40px 20px;
	border: solid 1px #d9d9d9;
}
.container, .boxed-container, .custom-container {
    padding: 0 15px;
}
.post-comments .post-box-title {
    color: #000;
    font-weight: 700;
}
.post-navigation-wrapper a, .post-navigation-wrapper span.nav-icon {
    color: #5a5a5a;
}
ul.independent-main-menu > li > a {
    padding: 0 44px;
    border-right: solid 1px #ccc;
}
ul.independent-main-menu > li:first-child > a {
    border-left: solid 1px #ccc;
}
.secondary-space-toggle > span {
    background-color: #3e4044;
}
.independent-content > .independent-content-inner > div {
	padding-top: 40px;
}
.independent-block-overlay .post-meta a, .post-meta a, .banner-date span {
    text-transform: uppercase;
    font-size: 12px;
}
.banner-post-title {
    margin-top: 10px;
}
.header-inner .sticky-outer {
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.10);
    box-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.10);
}
.breadcrumb {
    display: block;
}
.post-meta .post-date span.before-icon {
    display: initial;
}

.post-meta .post-author .author-name {
    color: #4f4f4f;
	position: relative;
}
.related-articles-wrap .related-title {
    color: #000;
    font-weight: 700;
}
.post-thumb-wrapper .category-tag {
    text-transform: uppercase;
}
.independent_latest_post_widget .comments-wrap, 
.independent_popular_post_widget .side-item-meta span {
    text-transform: uppercase;
    margin-top: 8px;
}
/*Pagination*/
.post-pagination-wrap {
    margin: 10px 0;
}
.post-pagination-wrap {
    text-align: left;
}
.nav.pagination > li.nav-item a, .nav.pagination > li.nav-item span {
    color: #8f8f8f;
}
.single-post-template blockquote {
    padding-left: 20px;
}
.single-post-template .entry-title {
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
}
.site-main.single-post-template .entry-header {
    padding-bottom: 13px;
    border-bottom: solid 1px #d9d9d9;
}
.comment-respond {
    padding: 33px 30px;
}
.widget-area .widget, .vc_row .widget {
    padding: 30px 20px;
	background: #fff;
}
.site-footer .widget .widget-title:after {
    content: "";
    height: 1px;
}
.site-footer .widget .widget-title:after {
    background: #2d2d2d;
}
.vc_row .widget .widget-title:after,
.secondary-menu-area .widget .widget-title:after,
.secondary-menu-area .vc_row .widget .widget-title:after {
    content: unset;
}
.widget-area .widget .widget-title:after {
	content: unset;
}
.widget-area .widget.zozo_ads_widget, 
.vc_row .widget.zozo_ads_widget {
	background: none;
}
.widget_categories ul > li {
    padding: 15px 0;
    border-bottom: dashed 1px #d9d9d9;
}
.widget_categories .cat-item a {
    font-weight: 700;
    text-transform: capitalize;
}
.independent_latest_post_widget .comments-wrap, 
.independent_popular_post_widget .side-item-meta span {
    color: #838383;
    font-size: 12px;
    padding-right: 7px;
}
.independent_latest_post_widget li .side-item-text a,
.independent_popular_post_widget li a {
    font-weight: 800;
    line-height: 24px;
    font-size: 14px;
    text-transform: uppercase;
}
.widget.independent_mailchimp_widget .form-control {
	text-align: center;
}
.post-title {
	margin-bottom: 0;
}
.vc_row .widget .widget-title:before,
.widget-area .widget .widget-title:before,
.secondary-menu-area .widget .widget-title:before,
.secondary-menu-area .vc_row .widget .widget-title:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid;
    position: absolute;
    bottom: -7px;
    top: auto;
    position: absolute;
    left: 14px;
	background: transparent;
}
.widget-area .widget .widget-title, .vc_row .widget .widget-title,
.secondary-menu-area .widget .widget-title, .secondary-menu-area .vc_row .widget .widget-title {
    border: none;
    color: #fff;
    margin-bottom: 30px;
    padding: 8px 15px;
    border-radius: 3px;
    position: relative;
}
.independent-block .independent-block-title.title-style-3 {
    margin-bottom: 30px;
    border-radius: 3px;
	position: relative;
}
.independent-block .independent-block-title.title-style-3:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid;
    position: absolute;
    bottom: -9px;
}
.independent-block.independent-block-2 .post-grid {
    background: unset;
    padding: 0;
    border: unset;
}
.independent-block.independent-block-2 .post-grid > .post-thumb-wrapper {
    margin-right: 0;
    margin-left: 0;
}
.news-meta-wrapper > ul > li.post-date:before {
	content: unset;
}
.nav.news-tabs  > li > a {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}
.nav.news-tabs>li>a:hover, .nav.news-tabs>li.active>a {
    opacity: .6;
}
.independent-block .news-tabs .dropdown-menu {
    min-width: 140px;
    margin-top: 0;
    border-top: 9px solid;
}
.nav.news-tabs > li > a:hover,
.nav.news-tabs > li.active > a {
    color: #fff !important;
}
.nav.news-tabs {
    top: 48px;
    right: 37px;
}
.independent-block-list > .post-list {
    margin-bottom: 25px;
}
.independent-block-list.big-list .post-category > a:after {
    content: unset;
}
.big-list .post-list-thumb {
    padding-right: 0;
}
.independent-block .big-list .post-list-content > div:last-child {
    margin-top: 12px;
}
.big-list .independent-block-post {
    border: none;
}
.independent-block.independent-block-10 .big-list .post-list-content {
    padding: 0px 15px 0px 0;
}
.independent-slider-nav .slide-nav > li > a {
    border-radius: 50%;
}
/* News Items Styles */
.independent-content > div {
    margin-bottom: 0;
}
.category-tag {
    text-transform: uppercase;
}
.post-grid.independent-block-post {
    margin-bottom: 30px;
}
.independent-block .post-grid > .post-thumb-wrapper {
    margin-bottom: 23px;
}
.social-counts > li > a {
	font-size: 16px; 
	font-weight: 600;
    height: 40px; 
}
.social-counts .follow-redirect-text {
    margin-top: 12px;
    font-size: 12px;
    font-style: italic;
}
.social-counts.modal-3 > li > a > span.followers-count {
    margin-top: 13px;
}
ul.social-counts {
    margin-bottom: 15px;
}
.independent-block-title-pack .nav.news-tabs {
    position: absolute;
    top: 8px;
    right: 18px;
}
.independent-block-title-pack {
    overflow: visible;
}
ul.more-tab-dropdown {
    margin-top: 7px;
}
.widget .news-meta-wrapper > ul > li:first-child {
    padding-top: 0;
}
.widget .independent-block .post-list-content > div {
    margin-bottom: 5px;
}
/* ----- MODEL 3 ----- */
.social-counts.modal-3 > li,.social-counts.modal-4 > li {
    margin: 11px;
    width: 43%;
    padding-right: 0;
}
.social-counts.modal-3 > li > a > span.follow-inner-text {
    display: none;
}
.social-counts.modal-3 > li > a,.social-counts.modal-4 > li > a {
    padding: 12px 10px;
    border-radius: 2px;	
}
.social-counts.modal-3 > li > a > .fa,.social-counts.modal-4 > li > a > .fa {
    font-size: 18px;
    height: 60px;
    width: 60px;
    line-height: 60px;
}
.social-counts.modal-3 .follow-redirect-text.pull-right,.social-counts.modal-4 .follow-redirect-text.pull-right {
	float:none!important;
}
.single-post-template article .social-counts.modal-1 > li > a, 
.single-post-template article .social-counts.modal-3 > li > a, 
.single-post-template article .social-counts.modal-1 > li > a > .fa, 
.single-post-template article .social-counts.modal-3 > li > a > .fa {
    color: #fff;
}
.single-post-template article .social-counts.modal-1 > li {
    width: 48%;
    display: inline-block;
    margin-right: 10px;
}
.single-post-template article .social-counts.modal-1 .follow-redirect-text {
    margin-top: 8px;
}
.single-post-template article .social-counts.modal-1 > li > a {
    font-size: 14px;
}
.category-tag:after {
    content: unset;
}

@media only screen and (max-width: 768px) {
	.social-counts.modal-3 > li, .social-counts.modal-4 > li {
		padding: 0;
		margin-bottom: 10px;
		width: 46.8%;
	}
}
/*RTL*/
.rtl ul.more-tab-dropdown {
    left: 0;
    right: auto;
}
.rtl .post-meta .post-date span.before-icon {
    display: inline-block;
}
.rtl .big-list .post-list-thumb {
    padding-right: 0;
    padding-left: 0;
}
.rtl .post-pagination-wrap {
    text-align: right;
}
.rtl ul.independent-main-menu > li > a {
    border-left: solid 1px #ccc;
    border-right: 0;
}
.rtl ul.independent-main-menu > li:first-child > a {
    border-right: solid 1px #ccc;
}
@media only screen and (max-width: 768px) {
	.rtl .social-counts.modal-3 > li, .rtl .social-counts.modal-4 > li {
		width: 44.5%;
	}
	.independent-single-post .widget-area .social-counts.modal-4 > li, 
	.independent-single-post .widget-area .social-counts.modal-3 > li, 
	.category .social-counts.modal-3 > li, .category .social-counts.modal-4 > li {
		width: 89%;
	}
}
@media only screen and (max-width: 767px) {
	.rtl .single-post-template article .social-counts.modal-1 > li {
		width: 100%;
	}
	.independent-single-post .widget-area .social-counts.modal-4 > li, .independent-single-post .widget-area .social-counts.modal-3 > li {
		width: 46%;
	}
}