.dropdown:hover > .dropdown-menu {
    border-top: none;
}
.post-meta a {
    text-transform: uppercase;
}
ul.dropdown-menu > li {
    padding: 0 15px;
}
.post-meta .post-date a {
    font-size: 13px;
}
.video-playlist {
    padding: 0 0 15px;
}
.video-playlist-slide,
.video-playlist.active {
    background: none;
}
.video-playlist-nav > i {
    background: #08f;
}
.video-play .post-format-icon {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}
.widget .news-meta-wrapper > ul > li:first-child {
    padding-bottom: 0;
    padding-top: 0;
}
.independent-slider-nav .slide-nav > li > a {
    border: solid 1px #08f;
    color: #08f;
}
span.before-icon {
    font-size: 13px;
}
.weather-area strong {
    color: #fff;
}
.post .post-tags a {
    text-transform: capitalize;
}
.independent-block-title.title-style-1 {
    border-bottom: 1px solid #d9d9d9;    
	padding-bottom: 12px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 26px;
}
.page-title {
    color: #fff;
}
.page-title-wrap-inner {
    margin-bottom: 30px;
}
.page-title {
	font-size: 24px;
}
.player-type-1 .independent-block-title.title-style-1 {
    border-bottom: 1px solid #333333;
}
.independent-block-title.title-style-1:before, 
.widget .widget-title:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 19px solid;
    border-right: 19px solid transparent;
    position: absolute;
    top: 3px;
    left: 0;
    bottom: 0;
    background: transparent !important;
}
.post.post-mini-grid {
    margin-bottom: 30px;
}
.independent-block-overlay .post-category > a:before {
    content: unset;
}
.site-footer .independent-block-title {
    margin-bottom: 33px;
    color: #fff;
    border-bottom: 1px solid #2d2d2d;
    padding-bottom: 12px;
}
.weather-value .weather-temp {
	color: #fff;
}
.site-footer .independent-block.independent-block-9 .post-list-content > div {
    margin-bottom: 3px;
}
.site-footer .post-meta .post-date a {
    color: #999999;
    font-size: 13px;
}
.related-articles-wrap .related-title {
	color: #000;
}
.widget .widget-title:after,
.related-articles-wrap .related-title:after {
    height: 1px;
    background: #d9d9d9;
}
.site-footer .widget .widget-title:after {
    bottom: -20px;
}
.site-footer .widget .widget-title:after {
    background: #2d2d2d;
} 
.widget-area .widget .widget-title,
.wpb_widgetised_column .widget .widget-title,
.secondary-menu-area-inner .widget .widget-title {
    margin-bottom: 44px;
    padding-left: 26px;
}
.widget-area .independent-block .post-grid > .post-thumb-wrapper {
    margin-bottom: 20px;
}
.owl-carousel .owl-dots {
    margin-top: 10px;
    text-align: left;
}
.site-footer .independent-block-title.title-style-1:before, 
.site-footer .widget .widget-title:before {
	content: unset;
}
.post-meta .post-author .author-img img {
    max-width: 20px;
}
.block-default.independent-block-13 .independent-news > .row {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.site-footer .widget .widget-title, .site-footer .widget .independent-block-title span {
	color: #fff;
}
.ytp-large-play-button-bg {
    fill: #ff0000;
    fill-opacity: .8;
}
@media only screen and (max-width: 767px) {
	h2.post-title, 
	h2.banner-post-title {
		font-size: 16px;
		line-height: 1.5;
	}
}