.secondary-space-toggle > span {
    background-color: #000;
}
.banner-grid-50x100 .banner-post-title {
    max-width: 75%;
}
.container, .boxed-container, .custom-container,
.independent-header .custom-container, .page-title-wrap .container {
    padding: 0 15px;
}
.topbar span.site-date {
    padding: 3px 9px;
    font-size: 12px;
}
.independent-block-overlay > * {
    margin-bottom: 6px;
}
ul.dropdown-menu > li .post-thumb-wrapper .category-tag {
    padding: 2px 10px;
}
.navbar .independent-main-menu > li > a:after {
    content: "";
    position: absolute;
    right: 0;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    background: #d9d9d9;
}
.widget .news-meta-wrapper > ul > li:first-child {
    padding-top: 0;
}
.widget .news-meta-wrapper > ul > li.post-date {
    padding-left: 15px;
    position: relative;
}
.widget .news-meta-wrapper > ul > li.post-date:nth-child(2):before {
    left: 12px;
}
.widget .news-meta-wrapper > ul > li.post-date:before {
    left: 0;
}
.navbar .independent-main-menu > li > a {
    position: relative;
}
.navbar .independent-main-menu > li:last-child > a:after {
    content: unset;
}
.widget .widget-title:after, 
.widget .independent-block-title:after {
    height: 1px;
    bottom: -18px;
    left: 0;
    right: 0;
}
.widget .widget-title:before, .widget .independent-block-title:before {
    height: 5px;
    bottom: -23px;
    content: "";
    position: absolute;
    width: 60px;
}
.widget .independent-block-title:after {
    content: "";
    left: 0;
    position: absolute;
}
.site-footer .independent-block-title {
    border-bottom-color: transparent;
	padding-bottom: 0;
	position: relative;
}
.site-footer .widget .widget-title, 
.site-footer .widget .independent-block-title span {
	color: #fff;
    border: none;
    padding: 0;
}
.site-footer .independent-block-title span:before {
	content: unset;
}
.banner-author-meta a.author-link {
    text-transform: uppercase;
    font-size: 15px;
}
.banner-author-meta {
    margin-top: 12px;
}
.site-footer .independent-block-title:after {
    content: "";
    height: 3px;
    width: 40px;
    bottom: -18px;
    position: absolute;
    left: 0;
}
.site-footer .widget-title,
.site-footer .independent-block-title {
    margin-bottom: 60px;
}
.site-footer .post-meta .post-date a {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 600;
}
.post-list-thumb {
    margin-right: 20px;
}
.widget .independent-load-more.btn {
    display: inline-block;
    padding: 10px 25px;
    font-size: 12px;
    letter-spacing: 0;
}
.widget .type-load-more .slide-nav li {
    margin-top: 25px;
    text-align: center;
}
.site-footer ul.social-icons > li > a {
    margin: 0 15px;
}
.site-footer ul.social-icons > li > a {
    font-size: 24px;
}
.site-footer ul.social-icons > li > a:hover {
	background: transparent;
}
.category-tag:after, .independent-block-overlay .post-category > a:before {
	content: unset;
}
.site-footer .widget:last-child {
    margin-bottom: 0;
}
.category-tag, .independent-block-overlay .post-category > a {
    text-transform: uppercase;
}
.post-thumb-wrapper .category-tag {
    bottom: auto;
    top: 15px;
    left: 15px;
}
.banner-grid-67x100 .banner-grid-details {
    width: 75%;
}
.independent-block-title {
    border-bottom: 1px solid #eaeaea;
    position: relative;
    padding-bottom: 17px;
    margin-bottom: 40px;
}
.nav.news-tabs > li > a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #4e4e4e;
    letter-spacing: 1px;
}
.type-load-more .slide-nav > li,
.independent-load-more.btn {
    display: block;
}
.site-footer .widget.widget_nav_menu ul.menu > li {
    display: inline-block;
    padding: 0;
    line-height: 1;
}
.site-footer .widget.widget_nav_menu ul.menu > li:last-child a:after {
    content: unset;
}
.site-footer .widget.widget_nav_menu ul.menu > li a {
    padding: 0 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
	position: relative;
}
.site-footer .widget.widget_nav_menu ul.menu > li a:after {
    content: "";
    position: absolute;
    right: 0;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    background: #d9d9d9;
}
.independent-load-more.btn {
    padding: 18px 15px 16px;
    border-radius: 4px;
    font-size: 15px;
    text-transform: uppercase;
    border: solid 1px #d9d9d9;
    background: #fcfcfc;
    font-weight: 700;
    letter-spacing: 1px;
}
.post-meta a {
    color: #919090;
    font-size: 14px;
}
.independent-news-slider .independent-block-overlay .post-meta li a span.before-icon {
    color: #fff !important;
}
.news-meta-wrapper > ul > li.post-date:before {
	content: "";
    width: 5px;
    height: 5px;
    background: #919090;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    left: 12px;
    transform: translateY(-50%);
}
.independent-block-overlay .news-meta-wrapper > ul > li.post-date:before {
    background: #fff;
}
.post-meta .post-author .author-name {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}
.news-meta-wrapper > ul > li.post-date:nth-child(2) {
    position: relative;
    padding-left: 25px;
}
.independent-block-title span {
	position: relative;
}
.post-meta span.before-icon {
	display: none;
}
.independent-block-title span {
    padding-left: 15px;
    border-left: 11px solid;
}

.single-post-template .post-meta .post-author .author-name:before {
    content: "";
    padding: 0;
}
.site-main.single-post-template .entry-header:nth-child(2) {
    padding-bottom: 15px;
    border-bottom: solid 1px #d9d9d9;
}
.site-main.single-post-template .entry-meta.bottom-meta {
    margin-top: 0;
}
.form-control, button.mc-submit-btn {
    height: 45px;
}
.widget_categories ul > li {
    padding: 12px 0;
}
.widget .independent-block-title {
    border-bottom: none;
    padding-bottom: 0;
}
.widget .independent-block-title span:before {
	content: unset;
}
.widget .independent-block-title span {
    border-left: none;
    padding: 0;
}
button.mc-submit-btn {
    background: #1b222c;
    padding-left: 17px;
    padding-right: 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mailchimp-wrapper .form-control {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.widget-area ul.social-icons > li > a, 
.wpb_widgetised_column ul.social-icons > li > a {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    margin-right: 7px;
    width: 45px;
}
.widget-area .widget, .vc_row .widget {
    padding: 25px;
}
.post-pagination-wrap {
    text-align: left;
}
.close.full-bar-search-toggle {
    background: transparent;
    right: 75px;
}
.full-bar-search-wrap .input-group .form-control {
    font-size: 22px;
    line-height: 1;
    padding: 0 75px;
}
.site-footer .widget.zozo_social_widget {
    padding-bottom: 10px;
}
.instagram-pics > li > a div.insta-footer-img:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transform: none;
    width: 100%;
    background: rgba(51, 139, 247, 0.58);
	opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.instagram-pics > li > a div.insta-footer-img:after {
    content: "\f16d";
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    font-size: 26px;
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    left: 0;
    right: 0;
}
.instagram-pics > li > a div.insta-footer-img:hover:before,
.instagram-pics > li > a div.insta-footer-img:hover:after {
    -webkit-animation: none;
    animation: none;
    opacity: 1;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.rtl .widget .widget-title:after {
    height: 1px;
}
.rtl .post-thumb-wrapper .category-tag {
    right: 15px;
    left: auto;
}
.rtl .widget .nav.social-icons {
    text-align: center;
}
@media only screen and (max-width : 768px){
	.site-footer .widget:last-child {
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.independent-block-title {
		margin-bottom: 50px !important;
	}
}