/* Mega Menu News Block Styles */
.mega-dropdown-menu .independent-block .post-thumbnail {
 	max-height: inherit;
}
.mega-dropdown-menu .independent-block .news-tabs > li {
    display: block;
}
.mega-dropdown-menu .independent-block {
 display: table;
}
.blog-masonry-wrapper {
    position: relative;
}
.mega-dropdown-menu .independent-block .news-tabs {
    display: table-cell;
    height: 100%;
    padding-top: 14px;
    position: relative;
    vertical-align: top;
    width: 190px;
    max-width: 190px;
}
.independent-main-menu .mega-dropdown-menu .nav.news-tabs > li > a {
    display: block;
}
.mega-dropdown-menu .independent-block .independent-content {
    padding: 15px 20px 0;
    border: none;
    border-radius: 0;
}
.mega-dropdown-menu .independent-block.news-tab-none .independent-content {
 	width: 100%;
}
.mega-dropdown-menu .independent-block .independent-content .col-sm-2 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 12px;
}
.mega-dropdown-menu .independent-block.news-tab-none .independent-content .col-sm-2 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 12px;
}
.mega-dropdown-menu .independent-block .independent-content .row {
	margin-left: -5px;
	margin-right: -5px;
}
.mega-dropdown-menu .independent-block .independent-slider-nav {
	clear: both;
	float: none;
	padding: 0 22px 13px;
}
.mega-dropdown-menu .independent-block .independent-slider-nav {
    margin-top: 15px;
}
.mega-dropdown-menu .independent-block.news-tab-none .independent-slider-nav {
 	margin-left: 0;
}
.mega-dropdown-menu .independent-block .independent-news > .row:last-child {
    margin-bottom: 0;
}
.mega-dropdown-menu .independent-block .independent-news > .row {
    margin-bottom: 20px;
}
.mega-dropdown-menu .independent-block .news-tabs > li {
 	border: solid 1px transparent;
}
.mega-dropdown-menu .independent-block .news-tabs > li.active > a {
    color: #fff;
}
.header-inner .secondary-space-toggle.active {
    background: none;
}
.mega-dropdown-menu .nav.news-tabs > li > a {
	line-height: 1;
    padding: 10px 22px;
    line-height: 1;
    padding: 10px 22px;
    margin-right: 0;
    border: none;
    background: none;
}
.independent-main-menu .mega-dropdown-menu .nav.news-tabs > li > a:hover {
    border: none;
    background: none;
	transition: unset;
}
.independent-main-menu .independent-slider-nav .slide-nav {
    margin-top: 15px;
    position: relative;
    display: inline;
	top: 0;
}
.independent-main-menu .independent-block .slide-nav a.independent-slider-previous {
    left: 0;
    right: auto;
}
.independent-main-menu .independent-block .slide-nav a.independent-slider-next {
    left: 20px;
    right: auto;
}
.independent-header .post-title {
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
}
.mega-dropdown-menu li.news-megamenu-li {
    padding: 0;
 	margin-bottom: -8px;
    margin-top: -8px;
}
.mega-dropdown-menu .independent-block .news-tabs > li {
	 border: solid 1px transparent;
	 border-right: none;
}
.mega-dropdown-menu .independent-block .news-tabs > li.active {
	 position: relative;
	 border-right: none;
}
.mega-dropdown-menu .independent-block .news-tabs > li.active:after {
	 background: #fff;
	 z-index: 1;
}
/*General Styles*/
.independent-main-menu .independent-block-post {
    margin-bottom: 15px;
}
.post-title {
	margin-bottom: 0;
}
.independent-block-title {
    border-bottom: 2px solid #2d2d2d;
    padding-bottom: 10px;
    margin-bottom: 35px;
}
.site-footer .independent-block-title {
    border-bottom-color: #3c3c3c;
}
.independent-block-title span {	
    line-height: 28px;
}
/*Style 1*/
.independent-block {
    position: relative;
}
.custom-video .independent-block.player-type-3 .independent-block-title.title-style-1 span {
    color: #fff;
    font-size: 17px;
}
.custom-video .independent-block.player-type-3 .independent-block-title.title-style-1:after {
    background: #444444;
}
.independent-block-title.text-center.title-style-1:before {
    margin: auto 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.independent-block-title.title-style-1 {
    position: relative;
    border-bottom: 1px solid #3B5BC0;
    padding-bottom: 12px;
    margin-bottom: 35px;
    font-weight: 700;
}
.independent-block .independent-block-title.title-style-1 span {
    background: transparent;
    color: #000;
    padding: 0;
}
.typo-white .independent-block .independent-block-title.title-style-1 span {
    color: #fff;
}

.independent-block .independent-block-title.title-style-1 span,
.independent-block .independent-block-title.title-style-2 span,
.independent-block .independent-block-title.title-style-3 span {
    background: transparent;
}
.independent-block .independent-block-title.title-style-3 {
    border: none;
    background: #000;
    color: #fff;
    margin-bottom: 0;
	padding: 8px 15px;
}
.independent-block .independent-block-title.title-style-3 span {
    padding: 0;
}
.independent-block-title.title-style-2,
.independent-block-title.title-style-3 {
    border: none;
}
.block-type-2 .nav.news-tabs {
    margin-bottom: 20px;
}
/*Block 8*/
.independent-block.independent-block-8 .post-thumb-wrapper .category-tag:after,
.independent-block.independent-block-2 .post-thumb-wrapper .category-tag:after {
    border-top-color: #333;
}
.independent-block.independent-block-8 .post-thumb-wrapper .category-tag,
.independent-block.independent-block-2 .post-thumb-wrapper .category-tag {
    background: #333;
}
/*Navigation*/
.independent-main-menu .independent-slider-nav {
    margin-bottom: 0;
}
.independent-main-menu .independent-slider-nav .slide-nav > li > a {
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 27px;
    border: solid 1px #e1e1e1;
    border-radius: 3px;
}
.independent-main-menu .independent-slider-nav .slide-nav > li > a:hover {
    color: #fff;
}
.independent-block.independent-block-13.custom-block .post-grid > div {
    margin-bottom: 0;
}
.independent-block.independent-block-13.custom-block .post-grid.independent-block-post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #eee;
}
.block-default.independent-block-13 .independent-news > .row {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.block-default.independent-block-13 .post-grid > div.post-content-wrapper {
    margin-top: 20px;
}
.block-default.independent-block-13 .independent-news > .row:last-child {
    margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.post.post-grid.independent-block-post.clearfix:first-child {
    padding-top: 0;
}
custom-list-dark
/*Block Type 2 Styles*/
.block-type-2 {
	padding: 20px;
    background: #fff;
    border-radius: 0px;
    border: solid 1px #f2f2f2;
    border-top: solid 2px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.09), 0 10px 0px rgba(0, 0, 0, 0);
}
.widget .independent-block-list .post-list .post-list-thumb {
    max-width: 35%;
}
.block-type-2 .independent-block-title.title-style-2 span {
    margin-bottom: 20px;
    border: none;
	background: none;
    color: #000;
    padding: 0;
}
.block-type-2 .independent-slider-nav:last-child {
    margin-bottom: 0;
}
.block-type-2 .post-grid.independent-block-post {
    padding-bottom: 20px;
    background: #fff;
    border-bottom: solid #ddd 1px;
} 
.independent-block-10.block-type-2 .post-grid.independent-block-post:last-child {
    background: #fff;
    border: none;
    margin-bottom: 0;
}
.block-type-2 .independent-block-list > .post-list {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.block-type-2 .independent-block-list > .post-list:last-child {
    margin-bottom: 0;
    border: none;
    padding-bottom: 0;
}
.independent-block-slide.block-type-2 .post-grid.independent-block-post:last-child,
.independent-block-1.block-type-2 .post-grid.independent-block-post:last-child,
.independent-block-6.block-type-2 .post-grid.independent-block-post:last-child,
.independent-block-7.block-type-2 .post-grid.independent-block-post:last-child,
.independent-block-13.block-type-2 .post-grid.independent-block-post:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}
.independent-block-20 .post-list-thumb {
    margin-right: 0;
    margin-left: 15px;
}
.independent-block-slide .post-grid.independent-block-post {
    margin-bottom: 0;
}
.independent-block-slide.block-type-2 .owl-nav > div {
	height: 25px;
    width: 25px;
    line-height: 25px;
}
.hvr-overlay-wrapper:hover .dark-overlay {
	background: linear-gradient(to right top, rgba(0,0,0,0.8) 0%, transparent 75%);	background: -webkit-linear-gradient(right top, rgba(0,0,0,0.8) 0%, transparent 75%);	background: -moz-linear-gradient(right top, rgba(0,0,0,0.8) 0%, transparent 75%);	background: -ms-linear-gradient(right top, rgba(0,0,0,0.8) 0%, transparent 75%);	background: -o-linear-gradient(right top, rgba(0,0,0,0.8) 0%, transparent 75%);
}
/*---------------------------------------------------------------
						OVERLAY
-------------------------------------------------------------- */
.overlay-container,.banner-post-grid,.banner-post-grid .banner-grid-thumb > a {
	display:block;
    overflow: hidden;
    position: relative;
}
.dark-overlay,.light-overlay,.theme-overlay,.gradient-black-overlay,.gradient-theme-overlay,.rainbow-overlay,.news-slide-loader {
	background:rgba(0,0,0,0.4);
	top: 0; right:0; bottom: 0; left:0;
	height: 100%; width: 100%;
	position: absolute;
	transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}
.light-overlay,.news-slide-loader { background:rgba(255,255,255,0.6); }	
.gradient-black-overlay {
	background: linear-gradient(to top, rgba(0,0,0,0.63) 0%, transparent 75%);	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.80) 0%, transparent 75%);	background: -moz-linear-gradient(bottom, rgba(0,0,0,0.80) 0%, transparent 75%);	background: -ms-linear-gradient(bottom, rgba(0,0,0,0.80) 0%, transparent 75%);	background: -o-linear-gradient(bottom, rgba(0,0,0,0.80) 0%, transparent 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0 );
}
.theme-dark .news-slide-loader {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
}
.gradient-theme-overlay,.rainbow-overlay { opacity:0.6; }
/*----- RAINBOW OVERLAY -----*/
.rainbow-overlay {
	background: linear-gradient(to right top, #0099F7, #F11712);	background: -webkit-linear-gradient(right top, #0099F7, #F11712);	background: -moz-linear-gradient(right top, #0099F7, #F11712);	background: -ms-linear-gradient(right top, #0099F7, #F11712);	background: -o-linear-gradient(right top, #0099F7, #F11712);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099F7', endColorstr='#F11712', GradientType=0 );
}
.banner-gradient-2 .rainbow-overlay {
	background: linear-gradient(to right top, #ffc500, #24FE41);	background: -webkit-linear-gradient(right top, #ffc500, #24FE41);	background: -moz-linear-gradient(right top, #ffc500, #24FE41);	background: -ms-linear-gradient(right top, #ffc500, #24FE41);	background: -o-linear-gradient(right top, #ffc500, #24FE41);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc500', endColorstr='#24FE41', GradientType=0 );
}
.banner-gradient-3 .rainbow-overlay {
	background: linear-gradient(to right top, #c21500, #ffc500);	background: -webkit-linear-gradient(right top, #c21500, #ffc500);	background: -moz-linear-gradient(right top, #c21500, #ffc500);	background: -ms-linear-gradient(right top, #c21500, #ffc500);	background: -o-linear-gradient(right top, #c21500, #ffc500);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c21500', endColorstr='#ffc500', GradientType=0 );
}
.banner-gradient-4 .rainbow-overlay {
	background: linear-gradient(to right top, #fc00ff, #00dbde);	background: -webkit-linear-gradient(right top, #fc00ff, #00dbde);	background: -moz-linear-gradient(right top, #fc00ff, #00dbde);	background: -ms-linear-gradient(right top, #fc00ff, #00dbde);	background: -o-linear-gradient(right top, #fc00ff, #00dbde);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc00ff', endColorstr='#00dbde', GradientType=0 );
}
.banner-gradient-5 .rainbow-overlay {
	background: linear-gradient(to right top, #f26522, #00dbde);	background: -webkit-linear-gradient(right top, #f26522, #00dbde);	background: -moz-linear-gradient(right top, #f26522, #00dbde);	background: -ms-linear-gradient(right top, #f26522, #00dbde);	background: -o-linear-gradient(right top, #f26522, #00dbde);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26522', endColorstr='#00dbde', GradientType=0 );
}
.banner-gradient-6 .rainbow-overlay {
	background: linear-gradient(to right top, #000, #ffc400);	background: -webkit-linear-gradient(right top, #000, #ffc400);	background: -moz-linear-gradient(right top, #000, #ffc400);	background: -ms-linear-gradient(right top, #000, #ffc400);	background: -o-linear-gradient(right top, #000, #ffc400);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffc400', GradientType=0 );
}
.banner-gradient-7 .rainbow-overlay {
	background: linear-gradient(to right top, #0b8793, #F11712);	background: -webkit-linear-gradient(right top, #0b8793, #F11712);	background: -moz-linear-gradient(right top, #0b8793, #F11712);	background: -ms-linear-gradient(right top, #0b8793, #F11712);	background: -o-linear-gradient(right top, #0b8793, #F11712);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b8793', endColorstr='#F11712', GradientType=0 );
}
/*Block Meta*/
.news-meta-wrapper .post-author .avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    margin: 0 9px 0 0;
    vertical-align: middle;
}
.post-meta .read-more {
    padding: 5px 20px;
    color: #fff;
    background: #000000;
    display: block;
}
.independent-block .post-meta .read-more {
    padding: 10px 20px;
}
.post-meta .read-more:hover {
    color: #fff;
}
.post-rating i {
    color: #fab702;
    margin: 0px 1px;
    font-size: 12px;
}
.independent-single-post .independent-block .independent-block-overlay .post-meta a {
    color: #fff;
}
.independent-block-overlay .post-meta a {
    color: #f7f7f7;
}
.independent-block-overlay .post-category > a {
    padding: 2px 12px;
    line-height: 20px;
    margin-bottom: 4px;
    position: relative;
    font-size: 12px;
}
.independent-block-overlay .post-category > a:hover {
	opacity: 0.9;
    color: #fff !important;
}
.independent-block-overlay .post-category > a:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 0;
}
.independent-block ul.social-icons > li > a {
    height: 30px;
    width: 30px;
    line-height: 30px;
}
.widget .news-meta-wrapper > ul > li:first-child {
    padding-bottom: 0;
}
/*News Slider Meta*/
.independent-block.news-slide .post-grid a {
    color: #fff;
}
.independent-block.news-slide .post-grid .post-meta a:hover {
    color: #c7c7c7;
}
.independent-block.news-slide .post-grid > div:not(.post-thumb-wrapper) {
    color: #fff;
    padding: 0 25px;
    margin-bottom: 0;
}
.news-slide .owl-carousel .owl-dots {
    margin-top: 0;
    margin-top: 0;
    text-align: left;
    padding: 25px 25px 0;
	line-height: 1;
}
.news-slide .owl-carousel .owl-dots span {
	background: #fff;
}
.independent-block.news-slide .post-grid > div:first-child {
    margin-bottom: 20px;
}
.owl-carousel {
    display: none;
}
/* News Common Styles */
.hide {
	display: none;
}
/* News Ticker */
.topbar .news-ticker-slide.independent-ticker, 
.topbar .news-ticker-title {
    line-height: inherit;
    height: inherit;
}
.topbar .easy-news-ticker {
    padding-left: 20px;
}
.news-ticker-slide.independent-ticker {
    position: relative;
    line-height: 25px;
}
.news-ticker-navs {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.news-ticker-navs > i:first-child {
    margin-right: 5px;
}
.news-ticker-navs > i {
    height: 20px;
    line-height: 20px;
    background: #0088ff;
    color: #fff;
    padding: 0 8px;
    cursor: pointer;
    font-size: 12px;
    vertical-align: middle;
}
.news-ticker-navs > i:hover {
    opacity: 0.7;
}
.news-ticker-title {
    float: left;
    margin-right: 10px;
    background: #333;
    color: #fff;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
}
.widget.widget_independent_vc_block_1,
.widget.widget_independent_vc_block_2,
.widget.widget_independent_vc_block_3,
.widget.widget_independent_vc_block_4,
.widget.widget_independent_vc_block_5,
.widget.widget_independent_vc_block_6,
.widget.widget_independent_vc_block_7,
.widget.widget_independent_vc_block_8,
.widget.widget_independent_vc_block_9,
.widget.widget_independent_vc_block_10,
.widget.widget_independent_vc_block_11,
.widget.widget_independent_vc_block_12,
.widget.widget_independent_vc_block_13,
.widget.widget_independent_vc_block_14 {
/*    margin-bottom: 0;*/
}
.vc_row .wpb_content_element .independent-block-list .post-list:last-child,
.widget-area .widget .independent-block-list .post-list:last-child {
    margin-bottom: 0;
}
.vc_row .wpb_content_element .independent-block-post .post-format-icon,
.widget-area .widget .independent-block-post .post-format-icon {
    bottom: 0;
    top: unset;
    right: unset;
    background: rgba(0, 0, 0, 0.74);
    padding: 12px;
    font-size: 18px;
}
/* News Tab Styles */
.nav.news-tabs {
    display: block;
}
a.tab-more-text {
    margin-right: 0 !important;
    text-align: center;
}
.nav.news-tabs  > li > a {
	padding: 0 12px 0px 12px;
    color: #686868;
}
.nav.news-tabs > li:last-child > a {
    padding-right: 0;
}
.independent-block .news-tabs ul.more-tab-dropdown li:nth-child(even) {
    background: #f4f4f4;
}
a.tab-more-text:after {
    border: none;
    content: "\f107";
    font-family: fontawesome;
    font-size: 12px;
    line-height: 20px;
    vertical-align: initial;
    margin-left: 7px;
    display: inline;
}
.independent-block .news-tabs ul.more-tab-dropdown > li > a {
    font-weight: 400;
    padding: 7px 15px;
    color: #888;
}
.independent-block .news-tabs .dropdown-menu {
    min-width: 140px;
}
.news-tabs ul.dropdown-menu > li {
    padding: 0;
}
ul.more-tab-dropdown {
    left: auto;
    right: 0;
	margin-top: -1px;
}
.news-tabs .dropdown-menu {
    min-width: 140px;
}
ul.more-tab-dropdown > li > a {
    display: block;
    padding: 6px 10px;
}
.news-slide-loader {
	display:none;
    z-index: 1;
}
.news-slide-loader:before {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 99;
}
.no-slide-verlay .independent-content .tab-pane.active.process > .independent-news.active:before {
	content: none;
	background: none;
}
.independent-load-more.btn {
    border: 1px solid #eeeeee;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}
.independent-load-more.btn:hover {
    background: #333333 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #ffffff;
}
.type-infinite img {
    display: none;
}
.independent-block-title-pack {
	position: relative;
}
.independent-block-title-pack .nav.news-tabs {
    position: absolute;
    top: 0;
    right: 0;
}
.no-slide-verlay .independent-slider > .independent-news {
    margin-bottom: 30px;
}
.no-slide-verlay .independent-slider > .independent-news:last-child {
    margin-bottom: 0;
}
@-webkit-keyframes newsFadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,20px,0);
		transform:translate3d(0,20px,0)
	} to {
		opacity:1; 
		-webkit-transform:none; 
		transform:none 
	}
}
@keyframes newsFadeInUp {
	0%{
		opacity:0;
		-webkit-transform:translate3d(0,20px,0);
		transform:translate3d(0,20px,0);
	} to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@-webkit-keyframes newsFadeInDown {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,-20px,0);
		transform:translate3d(0,-20px,0)
	} to {
		opacity:1; 
		-webkit-transform:none; 
		transform:none 
	}
}
@keyframes newsFadeInDown {
	0%{
		opacity:0;
		-webkit-transform:translate3d(0,-20px,0);
		transform:translate3d(0,-20px,0);
	} to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@-webkit-keyframes newsFadeInLeft {
	0% {
		opacity:0;
		-webkit-transform:translate3d(-20px,0,0);
		transform:translate3d(-20px,0,0);
	} to {
		opacity:1; 
		-webkit-transform:none; 
		transform:none 
	}
}
@keyframes newsFadeInLeft {
	0%{
		opacity:0;
		-webkit-transform:translate3d(-20px,0,0);
		transform:translate3d(-20px,0,0);
	} to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@-webkit-keyframes newsFadeInRight {
	0% {
		opacity:0;
		-webkit-transform:translate3d(20px,0,0);
		transform:translate3d(20px,0,0)
	} to {
		opacity:1; 
		-webkit-transform:none; 
		transform:none 
	}
}
@keyframes newsFadeInRight {
	0%{
		opacity:0;
		-webkit-transform:translate3d(20px,0,0);
		transform:translate3d(20px,0,0)
	} to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
.tab-content.independent-content {
    overflow: hidden;
	position: relative;
}
.independent-content .tab-pane, .independent-news {
	display: block;
	opacity: 0;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	margin: 0;
}
.independent-content .tab-pane.active, .independent-news.active {
	opacity: 1;
	visibility: visible;
	height: auto;
}
/*.animate-news-fade-in-up .independent-news.active {
    margin-top: -30px;
}*/
.animate-news-fade-in-up .independent-content .tab-pane.active, .animate-news-fade-in-up .independent-news.active {
	animation-duration: 0.7s;
    animation-name: newsFadeInUp;
}
.animate-news-fade-in-down .independent-content .tab-pane.active, .animate-news-fade-in-down .independent-news.active {
	animation-duration: 0.7s;
    animation-name: newsFadeInDown;
}
.animate-news-fade-in-left .independent-content .tab-pane.active, .animate-news-fade-in-left  .independent-news.active {
	animation-duration: 0.7s;
    animation-name: newsFadeInLeft;
}
.animate-news-fade-in-right .independent-content .tab-pane.active, .animate-news-fade-in-right .independent-news.active {
	animation-duration: 0.7s;
    animation-name: newsFadeInRight;
}
/*Grid and Small grid*/
.independent-block-14 .post-list-thumb {
    float: none;
}
.independent-block-14 .post-list-content {
	padding-left: 0;
}
.independent-block-14 .post.post-list .post-list-thumb {
    margin-bottom: 14px;
}
.independent-block-14 .post-list-content > * {
    margin-bottom: 0px !important;
}
.independent-block-14 .post-list-content > *:last-child {
    margin-bottom: 0px !important;
}
.independent-block-14 .post-grid.independent-block-post {
    margin-bottom: 30px;
}
.independent-block-14 .independent-block-list > .post-list {
    margin-bottom: 30px;
}	
/* News List Styles */
.post-list.independent-block-post {
	display: block;
}
.post-list.independent-block-post,
.big-list > .independent-block-post {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.post-list-thumb {
	margin-right: 15px;
}
.post-list-content {
	-ms-flex: 1;
    flex: 1;
}
.independent-block-list.big-list .post-list-content {
    padding-top: 15px;
}
.independent-block-list.big-list .post-category > a {
    padding: 4px 10px;
    line-height: 17px;
    font-size: 12px;
    background: #333;
    color: #fff;
    position: relative;
}
.independent-block-list.big-list .post-category > a:hover {
	color: #fff;
	opacity: 0.9;
}
.independent-block-list.big-list .post-category > a:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid #333333;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -6px;
    left: 0;
}
.independent-block-14 .post-list-thumb {
	margin-right: 0;
}
.independent-block-14 .post-list-content {
    flex: unset;
}
.independent-block-14 .post-list.independent-block-post {
    display: block;
}
.post-list-content li {
    display: inline-block;
}
.independent-block-list > .post-list {
    margin-bottom: 30px;
}
/*News Big List Styles*/
.big-list .independent-block-post .post-title {
    margin-bottom: 0;
}
.big-list .independent-block-post {
    margin-bottom: 15px;
}
.big-list .post-list-thumb {
    padding-right: 15px;
}
.independent-block .big-list .post-list-content > div:last-child {
    margin-top: 20px;
}
.independent-block .post-list-content > div {
    margin-bottom: 0;
}
.independent-block .big-list .post-list-content > div {
    margin-bottom: 7px;
}
.site-footer .independent-block.independent-block-9 .post-list-content > div {
    margin-bottom: 0;
}
.independent-block .post-list-content > div:last-child,
.site-footer .independent-block.independent-block-9 .post-list-content > div:last-child {
	margin-bottom: 0;
}
.independent-block.independent-block-3.custom-list-dark .independent-block-list.big-list {
    background: #000;
    color: #fff;
}
.independent-block.independent-block-3.custom-list-dark .independent-block-list.big-list .post-title a {
    color: #fff;
}
.independent-block.independent-block-3.custom-list-dark .independent-block-list.big-list .post-list-content {
    padding: 30px 30px 30px 0px;
}
/* News Slide Styles */
.slide-nav > li {
    display: inline-block;
    margin-right: 10px;
}
.slide-nav > li:last-child {
    margin-right: 0;
}
ul.slide-nav a.disabled {
	cursor: default;
}
.independent-slider-nav .slide-nav > li > a {
    display: block;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 2;
    border: solid 1px #d9d9d9;
}
.independent-slider-nav .slide-nav > li > a:hover {
    color: #fff;
}
.related-articles-wrap .independent-block .slide-nav a.independent-slider-previous, 
.related-articles-wrap .independent-block .slide-nav a.independent-slider-next {
    position: relative;
    right: 0;
    left: auto;
}
.slide-nav a.disabled  {
	-webkit-opacity: 0.4;
	-moz-opacity: 0.4;
	opacity: 0.4;
}
/* News Loader Styles */
.news-slide-loader > img {
    top: 50%; right: 0; left: 0;
    position: absolute;
    margin: 0 auto;
    transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);
	z-index: 99;
}
.type-load-more img {
	display:none;
}
/* News Meta Style */
ul.post-meta.right-meta {
    float: right;
}
.news-meta-wrapper > .nav {
    display: inline-block;
    float: left;
}
.news-meta-wrapper > ul > li {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    line-height: 1;
}
.news-meta-wrapper > ul > li:last-child {
    padding-right: 0;
}
.news-meta-wrapper > ul > li:first-child {
	padding-right: 0;
    padding-left: 0;
}
.post-list .post-content-wrapper {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
}
.news-meta-wrapper > ul > li:last-child {
    margin-right: 0;
}
/* News Items Styles */
.independent-content > div {
    margin-bottom: 30px;
}
.post-thumb-wrapper {
    position: relative;
    overflow: hidden;
}
.post-thumb-wrapper .category-tag {
    padding: 3px 12px;
    color: #fff !important;
    position: absolute;
    bottom: 0;
    margin: 0;
    line-height: 20px;
}
.independent-block.independent-block-1 .post-thumb-wrapper .category-tag:after {
    border-top-color: #333;
}
.independent-block.independent-block-1 .post-grid > .post-thumb-wrapper .category-tag {
    background-color: #333;
}
.independent-block .post-grid > .post-thumb-wrapper {
    overflow: unset;
}
/*.post-thumb-wrapper .category-tag:hover {
    background: #000;
    color: #fff;
}*/
.independent-block-overlay {
    position: absolute;
    padding: 0 25px 25px 25px;
    bottom: 0;
    right: 0;
    left: 0;
}
.independent-block-overlay > * {
    margin-bottom: 0;
}
.independent-block-overlay .news-meta-wrapper:first-child {
    margin-bottom: 11px;
}
.independent-block-overlay .news-meta-wrapper:last-child {
    margin-bottom: 0;
}
.independent-block-overlay > *:last-child {
    margin-bottom: 0;
}
.comments-count-wrap > span {
    display: inline-block;
    vertical-align: middle;
}
span.comments-count {
    line-height: 1;
}
.comments-count-wrap > span:first-child {
	margin-right: 0px;
}
.independent-block .post-thumb-wrapper .post-thumbnail {
    max-height: 100%;
    max-width: 100%;
}
.mega-dropdown-menu .independent-block .post-grid > div {
    margin-bottom: 10px;
    overflow: hidden;
}
ul.dropdown-menu > li .post-thumb-wrapper .category-tag {
    font-size: 11px;
    font-weight: 400;
    padding: 3px 0;
}
ul.dropdown-menu > li .post-thumb-wrapper .category-tag:hover,
ul.dropdown-menu > li .post-thumb-wrapper .category-tag {
    color: #fff;
}
.mega-dropdown-menu .post-grid.independent-block-post {
    margin-bottom: 10px;
}
.post-grid.independent-block-post {
    margin-bottom: 30px;
}
/*.independent-block.independent-block-4.custom-block-style [class^='col-md'] {
    padding-left: 0;
    padding-right: 5px;
}*/
.independent-block-overlay .post-title > a:hover, .banner-post-title > a:hover {
    color: #d2d2d2;
}
.little-space .post-grid.independent-block-post {
    margin-bottom: 13px;
}
.little-space .big-list .post-list-thumb {
    padding-right: 0;
    margin-right: 0;
}
.independent-content > div:last-child {
    margin-bottom: 0;
}
.independent-block .post-grid > div {
    margin-bottom: 5px;
}
.independent-block .post-grid > .post-thumb-wrapper {
    margin-bottom: 28px;
}
.independent-block .big-list .post-list-thumb {
    margin-bottom: 0;
}
.independent-block.big-list .post-list-content > div {
    margin-bottom: 0px;
}
.independent-block .post-list-content > div:last-child {
    margin-bottom: 0;
}
/*---------------------------------------------------------------
						SOCIAL COUNTS
-------------------------------------------------------------- */
.social-counts .social-facebook, 
.social-counts.modal-2 > li > a.social-facebook > span:first-child,
.social-counts.modal-4 > li > a.social-facebook > span:first-child { background:#3C599F; }
.social-counts .social-twitter,
.social-counts.modal-2 > li > a.social-twitter > span:first-child,
.social-counts.modal-4 > li > a.social-twitter > span:first-child { background:#32CCFE; }
.social-counts .social-pinterest,
.social-counts.modal-2 > li > a.social-pinterest > span:first-child ,
.social-counts.modal-4 > li > a.social-pinterest > span:first-child {	background:#cb2027; }
.social-counts .social-google-plus,
.social-counts.modal-2 > li > a.social-google-plus > span:first-child,
.social-counts.modal-4 > li > a.social-google-plus > span:first-child { background:#dd4b39; }
.social-counts .social-youtube,
.social-counts.modal-2 > li > a.social-youtube > span:first-child,
.social-counts.modal-4 > li > a.social-youtube > span:first-child  { background:#bb0000;}
.social-counts > li {
    display: block;
    margin-bottom: 10px;
}
.widget .social-counts > li {
    padding: 0;
}
.social-counts > li > a {
    display: block;
	font-size: 13px; font-weight: 700;
    height: 40px; line-height: 40px;
    padding: 0 10px;
}
.social-counts > li:last-child > a {
	margin-bottom:0;
}
.social-counts > li > a:hover,.social-counts > li > a:focus,
.zozo_social_widget .social-widget > li > a:hover,.zozo_social_widget .social-widget > li > a:focus {
	opacity:1; filter: alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1;
	color:#fff;
}
.social-counts > li > a > .fa {
	background: rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 25px; width: 25px; line-height: 25px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
}
.social-counts.modal-1 > li > a,.social-counts.modal-3 > li > a,
.social-counts.modal-1 > li > a > .fa,.social-counts.modal-3 > li > a > .fa {
	color:#fff;
}
.social-counts .follow-redirect-text {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    float: right;
    height: 24px;
    line-height: 24px;
    margin-top: 8px;
    padding: 0 10px;
    vertical-align: middle;
}
ul.social-counts {
    margin-bottom: 40px;
}
/* ----- MODEL 2 ----- */
.social-counts.modal-2 > li > a,.social-counts.modal-2 > li > a > .fa,.social-counts.modal-4 > li > a > .fa {	background:transparent; }
.social-counts.modal-2 > li > a > .fa { font-size: 14px; }
.social-counts.modal-2 > li > a .follow-redirect-text {
    background: #eee;
}
.social-counts.modal-2 li {
    border: solid 2px #eee;
    padding-bottom: 3px;
}
.social-counts.modal-2 li:last-child {
    margin-bottom: 0;
}
.social-counts.modal-2 > li > a {
    color: #333333;
}
.social-counts.modal-2 > li > a > span:first-child {
    color: #ffffff;
}
/* ----- MODEL 3 ----- */
.social-counts.modal-3 > li,.social-counts.modal-4 > li {
	display: inline-block;
    margin: 4px;
    width: 47.3%;
    vertical-align: top;
}
.social-counts.modal-3 > li:last-child, 
.social-counts.modal-4 > li:last-child {
	padding: 0;
}
.social-counts.modal-3 > li > a,.social-counts.modal-4 > li > a {
    display: inline-block;
    height: auto; width: 100%;
    line-height: 20px;
    padding: 15px 10px;
    text-align: center;
}
.social-counts.modal-3 > li > a > span,.social-counts.modal-4 > li > a > span  {
	display:block;
}
.social-counts.modal-3 > li > a > .fa,.social-counts.modal-4 > li > a > .fa {
    font-size: 25px;
    margin: 0 auto 5px;
    height: 45px; width: 45px; line-height: 45px;
    border-radius: 50%;
}
.social-counts.modal-3 .follow-redirect-text.pull-right,.social-counts.modal-4 .follow-redirect-text.pull-right {
	float:none!important;
}
/* ----- MODEL 4 ----- */
.social-counts.modal-4 > li > a, .social-counts.modal-4 > li > a > .follow-redirect-text {
	background: none;
	color: #333;
}
.social-counts.modal-4 > li > a > span:first-child {
    color: #ffffff;
}
/* Banner Styles */
.independent-banner {
    position: relative;
}
span.banner-as-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.post-format-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 24px;
    color: #fff;
    z-index: 1;
}
.independent-block-post .post-format-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    left: auto;
}
.independent-block-post .post-list-thumb .post-format-icon {
    position: unset;
    display: none;
}
.banner-grid-item,.banner-inner-parent {
	overflow: hidden;
	float: left;
}
.banner-author-meta img,
.owl-carousel .owl-item .author-link img,
.news-meta-wrapper .post-author .avatar {
    display: inline-block;
    width: 20px;
    margin-right: 8px;
    border-radius: 50%;
}
.banner-grid-itemw2 { width:50%;}
.banner-grid-itemw3 { width:33.333%;}
.banner-grid-itemw4 { width:25%;}
.banner-grid-sizer { width: 25%;}
.independent-banner .banner-grid-parent{	 height:400px; overflow:hidden;}
.independent-banner.banner-layout-6 .banner-grid-parent { height:600px; }
.banner-inner-parent, .banner-grid-item, .banner-grid-parent .banner-grid-item .banner-post-grid, .banner-grid-thumb, .banner-grid-parent .banner-grid-item .banner-grid-thumb a, .banner-grid-thumb img, .banner-grid-67x100{
	 height: 100%;
}
.banner-grid-50x100, .banner-grid-25x100 { height:100%; }
.banner-grid-25x50, .banner-grid-50x50, .banner-grid-33x50 { height:50%; }
.banner-grid-50x33, .banner-grid-25x33 { height:33.333%;}
.banner-grid-25x66{ height:66.666%; }
.banner-grid-67x100{ width:66.666%; }
.banner-grid-itemw2 .banner-grid-50x50, .banner-grid-itemw4 .banner-grid-25x50, .banner-grid-itemw2 .banner-grid-50x33, .banner-grid-itemw4 .banner-grid-25x66, .banner-grid-itemw4 .banner-grid-25x33{
	width:100%;
}
.banner-grid-thumb img{
	width:100%;
	height:100%;
}
.banner-grid-50x33 img{
	height:auto;
}
.banner-post-grid {
	position: relative;
}
.banner-post-grid .banner-grid-details {
	padding: 0 25px 25px 25px;
	position: absolute;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
}
.banner-grid-thumb {
    overflow:hidden;
}
.post-mini-grid-content {
    margin-bottom: 19px;
}
.banner-post-grid .banner-grid-thumb img, .banner-post-grid .banner-grid-thumb img, .mblock26 .independent-block-post .post-thumbnail, .mblock27 .independent-block-post .post-thumbnail {
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}
.banner-post-grid:hover .banner-grid-thumb img, .banner-post-grid:focus .banner-grid-thumb img, .mblock26 .independent-block-post:hover .post-thumbnail, .mblock27 .independent-block-post:hover .post-thumbnail {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/*Trending Icon*/
span.news-trend > i {
    line-height: 30px;
    font-size: 16px;
}
span.news-trend {
	position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    background: #0084B4;
    padding: 1px 0px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
    vertical-align: middle;
}
/*Banner Meta*/
.banner-post-title,
.banner-author-meta {
    margin-bottom: 0;
}
.banner-post-title {
    margin-top: 15px;
}
.banner-author-meta {
	margin-top: 4px;
}
.banner-author {
    text-align: center;
}
.banner-author-meta a:last-child {
    margin-right: 0;
}
.banner-author-meta a {
    position: relative;
	padding-left: 7px;
    padding-right: 7px;;
}
.banner-grid-item span.before-icon {
    padding-right: 8px;
    font-weight: normal;
}
.banner-author-meta a.author-link {
    text-transform: uppercase;
    font-weight: 500;
}
.banner-author-meta a:first-child {
    padding-left: 0;
}
.banner-author-meta a:last-child {
    padding-right: 0;
}
.category-tag {
}
.category-tag {
    position: relative;
    padding: 4px 10px;
    line-height: 25px;
    font-size: 12px;
    margin-bottom: 10px;
}
.category-tag:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid #333333;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 0;
}
.category-tag:hover {
	opacity: 0.9;
    color: #fff;
}
/* ----- VIDEO PLAYLIST ----- */
.video-playlist-outer {
	position:relative;
}
.video-playlist-slide {
	width: 100%;
	background: #444444;
}
.video-playlist { 
	padding:10px; 
	transition: all ease 0.4s;-webkit-transition: all ease 0.4s;-moz-transition: all ease 0.4s;-o-transition: all ease 0.4s;
}

.player-type-1 .video-playlist {
    padding: 0 0 15px;
}
.player-type-1 .video-playlist-slide,
.player-type-1 .video-playlist.active {
    background: none;
}
.video-playlist-nav > i:hover {
    cursor: pointer;
}
.player-type-1 .video-play .post-format-icon {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}
.video-playlist .post-thumb-wrapper { cursor:pointer; }
.video-playlist-nav .easy-ticker-prev,.video-playlist-nav .easy-ticker-next { top:0; transform: none;-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none; }
/* Playlist 2 */
.video-playlist-nav .easy-ticker-prev, .video-playlist-nav .easy-ticker-next{
	top:5px;
}
/* Playlist 3 */
.player-type-3 .video-playlist-slide .video-playlist .video-content {
	padding: 5px 0;
}
.player-type-3 .video-playlist-slide .video-playlist .video-poster {
	float: none;
	margin: 0;
}
.player-type-3 .video-playlist-slide.nav.navbar-nav{
	text-align: center;
	margin:0 auto;
	display: block;
}
.player-type-3 .video-playlist-slide.nav.navbar-nav li{
	float: none;
	display: inline-block;
	text-align:left;
	margin-right:10px;
	white-space:normal;
	vertical-align: top
}	
.player-type-3 .video-playlist-outer{
	padding-top:0px;
}
.player-type-3 .video-playlist-slide.nav.navbar-nav li, .player-type-3 .video-playlist-slide .post-list-thumb img{
	width:150px;
}
.player-type-3 .video-playlist-slide .post-list-content .list-inline li{
	width:auto;
}
.player-type-3 .video-playlist-slide{
	padding: 20px 20px 0;
	white-space:nowrap;
}
.player-type-3 .video-playlist-wrapper {
    overflow: auto;
    white-space: nowrap;
}
.video-play {
    position: relative;
    text-align: center;
}
.video-play .post-format-icon {
	border-radius: 50%;
    color: #fff;
    height: 50px;
    left: 50%;
    line-height: 50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    font-size: 18px;
    padding-left: 2px;
    background: #e22122;
}
.video-playlist .post-item-views > span:first-child {
    margin-right: 4px;
}
.video-playlist .post-item-views > span {
    display: inline-block;
    vertical-align: middle;
}
.video-play .post-format-icon.icon-control-pause {
	padding-left: 0;
}
.video-playlist-nav > i {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    background: #000;
    color: #fff;
    margin-right: 4px;
}
.video-playlist.active a:hover {
    color: #ccc;
}
.video-playlist.active a {
    color: #fff;
}
.video-playlist.active {
    background: #333;
    color: #fff;
}
.video-playlist-nav {
    margin-top: 10px;
}
.video-player {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.independent-block.player-type-4 .col-lg-9 {
    padding-right: 5px;
}
.independent-block.player-type-4 .col-lg-3 {
    padding-left: 5px;
}
.independent-block.player-type-4 .video-playlist-slide {
	background: transparent;
}
.independent-block.player-type-4 .video-playlist-nav {
    margin-top: 10px;
    padding-left: 9px;
    position: absolute;
    top: 10px;
    right: 15px;
}
.independent-block.player-type-4 .video-playlist {
    padding: 0px 0 15px;
}
.independent-block.player-type-4 .video-playlist:nth-child(3) {
    padding-bottom: 0;
    margin-bottom: 5px !important;
}
.independent-block.player-type-4 .video-poster ul.list-inline {
    padding: 8px 15px 7px;
	background: linear-gradient(to top, rgba(0,0,0,0.80) 0%, transparent 75%);
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.80) 0%, transparent 75%);
	background: -moz-linear-gradient(bottom, rgba(0,0,0,0.80) 0%, transparent 75%);
	background: -ms-linear-gradient(bottom, rgba(0,0,0,0.80) 0%, transparent 75%);
	background: -o-linear-gradient(bottom, rgba(0,0,0,0.80) 0%, transparent 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0 );
}

.independent-block.player-type-4 .video-poster.post-list-thumb {
    margin-right: 0;
}
.video-player > iframe {
    background: #000;
    border: none;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
}
.independent-block .video-player .mejs__container {
    height: 400px !important;
    width: 100% !important;
}
.independent-block .video-player .mejs__container video,
.independent-block .video-player .mejs__container .mejs__overlay {
	width: 100% !important;
}
.independent-block .player-type-4 .video-playlist .post-list-thumb {
    margin-right: 0;
}
.video-playlist {
    display: flex;
}
.video-playlist .post-list-thumb {
    margin-right: 15px;
}
/*Related Articles*/
.related-articles-wrap, 
.related-articles-wrap .independent-block-post {
    position: relative;
}
.related-articles-wrap {
    padding-top: 40px;
}
.related-articles-wrap .independent-block {
    position: relative;
}
.related-articles-wrap .independent-slider-nav {
	margin-bottom: 0;
}
.related-articles-wrap .post-thumb-wrapper .category-tag {
    display: none;
}
/*Scrollbars*/
.player-type-3 .video-playlist-wrapper::-webkit-scrollbar {
	width: 10px;
	height: 8px;
}
.independent-block .news-tabs .dropdown-menu {
	min-width: 140px;
	margin-top: 11px;
}
.player-type-3 .video-playlist-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #999;
}
.player-type-3 .video-playlist-wrapper::-webkit-scrollbar-thumb {
	background-color: #000;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                  color-stop(.5, rgba(255, 255, 255, .2)),
					          color-stop(.5, transparent), to(transparent));
}
/*News Related RTL Style*/
.rtl .news-meta-wrapper .post-author .avatar {
    margin-right: 0;
    margin-left: 10px;
}
.rtl .news-meta-wrapper > .nav {
    float: right;
}
.rtl .post-list-thumb {
    margin-right: 0;
    margin-left: 15px;
}
.rtl .social-counts > li > a > .fa {
    margin-right: 0;
    margin-left: 10px;
}
.rtl .post-title {
    text-align: right;
}
.rtl .independent-block {
    text-align: right;
}
.rtl .social-counts .follow-redirect-text {
    float: left;
}
.rtl .social-counts.modal-3 > li > a > span, 
.rtl .social-counts.modal-4 > li > a > span {
    text-align: center;
}
.rtl .post-thumb-wrapper .category-tag {
    right: 0px;
    left: auto;
}
.rtl .independent-block-post .post-format-icon {
    left: 15px;
    right: auto;
}
.rtl .text-left {
    text-align: right !important;
}
.rtl .text-right {
    text-align: left !important;
}
.rtl .mega-dropdown-menu .independent-block .news-tabs > li > a {
    text-align: right;
}
.rtl .mega-dropdown-menu .independent-block .news-tabs > li:last-child > a {
    padding: 10px 22px;
}
.rtl .video-playlist .post-item-views > span:first-child {
    margin-right: 0;
    margin-left: 5px;
}
.rtl .news-meta-wrapper > ul > li {
    margin-right: 0;
    margin-left: 10px;
}
.rtl .news-meta-wrapper > ul > li:last-child {
    margin-left: 0;
}
.rtl .big-list .post-list-thumb {
    padding-right: 0;
    padding-left: 15px;
}
.rtl .banner-author-meta a {
    padding-left: 0;
    padding-right: 15px;
    margin-right: 0;
}
.rtl .independent-block-title.title-style-1:before,
.rtl span.post-serial {
    right: 0;
    left: auto;
}
.rtl .news-ticker-navs {
    left: 0;
    right: auto;
}
.rtl .news-ticker-title {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}
.rtl .full-search-wrapper .input-group-btn {
    left: 0;
    right: auto;
}
.rtl .little-space .big-list .post-list-thumb {
    padding-left: 0;
    margin-left: 0;
}
.rtl .social-counts.modal-3 > li > a > .fa, 
.rtl .social-counts.modal-4 > li > a > .fa {
    margin: auto;
    margin-bottom: 5px;
}
.rtl .independent-block .slide-nav a.independent-slider-previous {
    left: 0;
    right: auto;
    margin-left: 10px;
}
.rtl .independent-banner .banner-grid-parent {
    text-align: right;
}
.rtl .independent-block .slide-nav a.independent-slider-next {
    left: -20px;
    right: auto;
}
.rtl .independent-main-menu .independent-block .slide-nav a.independent-slider-previous {
    left: auto;
    right: 20px;
}
.rtl .independent-main-menu .independent-block .slide-nav a.independent-slider-next {
    left: 0;
    right: 0;
}
.rtl .related-articles-wrap .independent-block .slide-nav a.independent-slider-previous {
    right: 20px;
}
.rtl span.tag-link-count {
    display: inline-block;
}
.rtl .bottom-search-wrap {
    left: 0;
    right: auto;
}
/*Resoponsive Code*/
@media screen and (min-width: 768px){
	.banner-grid-item,.banner-inner-parent {
		overflow:hidden;
		float:left;
	}
	.banner-grid-itemw2 { width:50%;}
	.banner-grid-itemw3 { width:33.333%;}
	.banner-grid-itemw4 { width:25%;}
	.banner-grid-sizer { width: 25%;}
	.independent-banner .banner-grid-parent{	 height:400px; overflow:hidden;}
	.independent-banner.banner-layout-6 .banner-grid-parent { height:600px; }
	.banner-grid-50x100, .banner-grid-25x100 { height:100%; }
	.banner-grid-25x50, .banner-grid-50x50 { height:50%; }
	.banner-grid-50x33, .banner-grid-25x33 { height:33.333%;}
	.banner-grid-25x66{ height:66.666%; }
	.banner-grid-itemw2 .banner-grid-50x50, .banner-grid-itemw4 .banner-grid-25x50, .banner-grid-itemw2 .banner-grid-50x33, .banner-grid-itemw4 .banner-grid-25x66, .banner-grid-itemw4 .banner-grid-25x33, .banner-grid-itemw4 .banner-grid-25x100{
		width:100%;
	}
	.banner-grid-thumb img{
		width:100%;
		height:auto;
	}
	.banner-grid-50x33 img{
		height:auto;
	}
	span.follow-inner-text {
		display: none;
	}
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
	.independent-block-post .post-format-icon,
	.independent-banner .post-format-icon {
		font-size: 18px;
		top: 10px;
		right: 10px;
	}
	.independent-block-list > .post-list {
		margin-bottom: 15px;
	}
	.independent-block .post-list-content > div {
		margin-bottom: 5px;
	}
	/*VC Styles*/
	.vc_column_container>.vc_column-inner {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	/*Block Title*/
	h2.post-title, h2.banner-post-title {
		font-size: 24px;
		line-height: 1.4;
	}
	h3.post-title, h3.banner-post-title {
		font-size: 22px;
		line-height: 1.4;
	}
	h4.post-title, h4.banner-post-title{
		font-size: 18px;
		line-height: 1.4;
	}
	h5.post-title, h5.banner-post-title{
		font-size: 15px;
		line-height: 1.4;
	}
	h6.post-title, h6.banner-post-title {
		font-size: 14px;
		line-height: 23px;
	}	
}
@media only screen and (max-width: 1024px){
	.block-static-block {
		z-index: 9999;
		display: none;
	}
	.widget .independent-block .post-thumb-wrapper .post-thumbnail {
		width: 100%;
	}
	.widget .most-viewed-post-image img {
		width: 100%;
	}
	.independent-block .news-tabs .dropdown-menu {
		min-width: 140px;
		margin-top: 11px;
	}
	.rtl .independent-block .news-tabs .dropdown-menu {
    	right: auto;
		left: 0;
	}
	.site-footer .container, .site-footer .boxed-container, .site-footer .custom-container {
		padding: 0 15px;
	}
}
@media only screen and (max-width: 768px){
	.social-counts.modal-3 > li, 
	.social-counts.modal-4 > li {
		padding: 0;
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
	.banner-post-grid .banner-grid-details {
		padding: 0 15px 15px 15px;
	}
	h3.post-title, h3.banner-post-title {
		font-size: 18px;
		line-height: 1.4;
	}
	.category-tag {
		font-size: 10px;
		padding: 3px 11px;
	}
	.social-counts.modal-3 > li:last-child, 
	.social-counts.modal-4 > li:last-child {
		margin-bottom: 0;
	}
	.widget .independent-block .post-thumb-wrapper .post-thumbnail {
		width: 100%;
	}
	.independent-block-4 .independent-block-overlay {
		padding: 10px;
	}
	h4.post-title, h4.banner-post-title {
		font-size: 15px;
		line-height: 1.4;
	}
	.widget .most-viewed-post-image img {
		width: 100%;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px){ 
	.independent-block.independent-block-2 .post-thumb-wrapper .post-thumbnail,
	.independent-block.independent-block-8 .post-list-thumb .post-thumb-wrapper .post-thumbnail,
	.independent-block.independent-block-5 .post-thumb-wrapper .post-thumbnail,
	.independent-block.independent-block-9 .post-thumb-wrapper .post-thumbnail {
		width: 100%;
	}
	.independent-block.independent-block-3 .big-list .post-list-thumb .post-thumbnail,
	.independent-block.independent-block-10 .big-list .post-list-thumb .post-thumbnail {
		width: 100%;
		margin-bottom: 15px;
	}
	.independent-block.independent-block-3 .big-list .independent-block-post,
	.independent-block.independent-block-10 .big-list .independent-block-post {
		margin-bottom: 15px;
		display: block;
	}
	.independent-block.independent-block-3 .big-list .post-list-thumb,
	.independent-block.independent-block-10 .big-list .post-list-thumb {
		margin-right: 0;
		padding-right: 0;
	}
	a.tab-more-text {
		min-width: 100px;
	}
	.independent-block.independent-block-13 {
		margin-bottom: 50px;
	}
	.single-post .widget-area .most-viewed-posts > div, .category .widget-area .most-viewed-posts > div {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media only screen and (max-width: 767px){ 
	.banner-grid-item,.banner-inner-parent {
    overflow: hidden;
    float: left; 
    width: 100% !important;
    display: block;
	}
	span.follow-inner-text {
		display: unset;
	}
	h4.post-title, h4.banner-post-title {
    	font-size: 18px;
		line-height: 1.4;
	}
	.independent-block-list > .post-list:last-child {
		margin-bottom: 30px;
	}	
	.wpb_row .news-tick-res.wpb_column {
	margin-bottom: 0;
	}
	.full-search-wrapper .search-form {
		width: 100%;
	}
	.full-search-wrapper .search-form .form-control {
		font-size: 30px;
		line-height: 30px;
	}
	.full-search-wrapper .search-form .input-group .btn {
		line-height: 47px;
		font-size: 21px;
	}
	.big-list .independent-block-post {
		display: block;
	}
	.independent-block .post-thumb-wrapper .post-thumbnail {
		width: 100%;
	}
	.post-grid .post-list-thumb {
		margin-right: 0;
		padding-right: 0;
	}
	.vc_row .vc_column_container>.vc_column-inner {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.big-list .post-list-content {
		margin-top: 30px;
	}
	.independent-block.independent-block-3.custom-list-dark .independent-block-list.big-list .post-list-content {
		padding: 30px;
	}
	.independent-banner.independent-banner-as-bg .banner-grid-item {
		height: 250px;
		width: 100%;
	}
}
@media only screen and (max-width: 640px){ 
	.news-ticker {
		display: none;
	}
}
@media only screen and (max-width: 480px){ 
	.wpb_row .wpb_column:last-child {
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 380px){
	.banner-post-grid .banner-grid-details {
		padding: 0 15px 15px 15px;
	}
	.independent-block .independent-block-title span {
		font-size: 17px !important;
	}
	
}


body.independent-lazy-active img, body.independent-lazy-active img.lazy-process {
    opacity: 0;
}
body.independent-lazy-active img.lazy-initiate {
	opacity: 1;
}
body.independent-lazy-active img.lazy-active {
    opacity: 1;
    transition: opacity .5s;
    transition-timing-function: cubic-bezier(.39,.76,.51,.56);
}