/*-------------------------------------------
              TABLE OF CONTENT
---------------------------------------------*/
/**! 01. Custom Post Type Styles **/
	/**! 1.1 CPT Portfolio Styles  **/
	/**! 1.2 CPT Testimonial Styles  **/   
	/**! 1.3 CPT Team Styles  **/
	/**! 1.4 CPT Event Styles  **/
	/**! 1.5 CPT Service Styles  **/
/**! 02. Countdown Shortcode Styles **/
/**! 03. Pricing Tables Shortcode Styles **/
/**! 04. Pricing Compare Shortcode **/
/**! 05. Icons Shortcode Styles **/
/**! 06. Mailchimp Shortcode Styles **/
/**! 07. Twitter Shortcode Styles **/
/**! 08. Counter Shortcode Styles  **/
/**! 09. Section Title Shortcode Style **/
/**! 10. Feature Box Shortcode Styles **/
/**! 11. Flip Box Shortcode Styles **/
/**! 12. Modal Popup Shortcode Styles **/
/**! 13. Timeline Shortcode Styles **/
/**! 14. Blog Shortcode Styles **/
/**! 15. Circle Progress Styles **/
/**! 16. Contact Info Styles **/
/**! 17. Contact - Form7 Styles **/
/**! 18. Image Grid Shortcode Styles **/
/**! 19. List Item **/
/**! 20. content courosel **/
/**! 21. Custom Heading **/
/**! 22. Progress Bar **/
/**! 23. Accordian **/
/**! 24. Call To Action Styles **/
/**! 25. Tabs **/
/**! 26. Google Map **/
/**! 27. Responsive Shortcode Styles **/
/**! 28. Time Table **/
/*-------------------------------------------
            TABLE OF CONTENT END
---------------------------------------------*/
/*--------------------------------------------------------------
01. Others
--------------------------------------------------------------*/
.modal-backdrop.show {
    z-index: -1;
}
/*dark*/
.entry-title .post-title, .entry-title a, .client-name, .entry-title {
	color:#222;
}
/*light*/
.blog-dark .entry-title a , .services-dark .entry-title {
	color:#fff;
}
/*--------------------------------------------------------------
01. Custom Post Type Styles
--------------------------------------------------------------*/
.custom-post-nav > a {
    background: #eeeeee none repeat scroll 0 0;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 50px;
}
/*--------------------------------------------------------------
1.1 CPT Portfolio Styles
--------------------------------------------------------------*/
/*Portfolio General*/
.portfolio-wrap {
    position: relative;
	overflow: hidden;
}
ul.portfolio-meta-list {
	padding-left: 0;
}
.portfolio-meta li > div {
    float: left;
    margin-right: 15px;
}
.portfolio-categories > span:first-child {
    padding: 0;
    clear: both;
}
.portfolio-categories > span {
    padding-left: 6px;
}
.portfolio-meta-title-wrap .portfolio-meta-icon {
    margin-right: 10px;
}
.portfolio-video iframe, .portfolio-video .mejs__mediaelement video {
	min-height: 400px;
}
.portfolio-single.portfolio-model-2 .portfolio-details {
    padding-top: 60px;
}
.portfolio-meta-list > li {
    margin-bottom: 15px;
	display:table;
}
.portfolio-meta-title-wrap h6 {
    margin-bottom: 15px;
}
ul.portfolio-share.social-icons > li > a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #000;
	color:#fff;
}
.portfolio-meta-list > li:last-child {
    margin-bottom: 0;
}
.portfolio-content-wrap > *:last-child {
    margin-bottom: 0;
}
.portfolio-single .portfolio-content-wrap > * {
	margin-bottom: 25px;
}
.portfolio-content-wrap > * {
    margin-bottom: 10px;
}
.post.independent-portfolio {
    position: relative;
}
.portfolio-archive-title {
    bottom: 0;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px 16px;
    position: absolute;
	-webkit-transition: all 0.5s ease 0.15s;
    transition: all 0.5s ease 0.15s;
}
.post.independent-portfolio:hover .portfolio-archive-title {
    margin-bottom: 0;
    opacity: 1;
}
.portfolio-default-gallery > article.cpt-item {
    margin-bottom: 20px;
}
.portfolio-default-gallery > article.cpt-item:last-child {
    margin-bottom: 0;
}
.portfolio-related-slider {
    padding-top: 50px;
}
.portfolio-related-slider h4 {
    margin-bottom: 25px;
}
.portfolio-single .portfolio-meta-wrap {
    padding: 30px;
    border: 1px solid #eaeaea;
}
.portfolio-related-slider article.cpt-item {
    background: #f2f2f2;
    padding-bottom: 10px;
}
.portfolio-related-slider h6.related-title {
    margin-top: 15px;
	text-align:center;
}
.vc-portfolio .portfolio-content-wrap {
    padding: 20px 20px 0;
}
.portfolio-filter {
    margin-bottom: 30px;
    text-align: center;
}
.portfolio-filter > ul > li {
	display: inline-block;
}
.portfolio-filter.filter-1 > ul > li {
    padding: 0 2px;
}
.portfolio-filter.filter-1 a.portfolio-filter-item {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}
.portfolio-icons p a {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px;
	margin-right: 6px;
}
.portfolio-overlay .portfolio-icons p a {
    background: #fff;
}
.portfolio-overlay .portfolio-icons i {
    color: #222;
}
.portfolio-icons p a:last-child {
    margin-right: 0;
}
.infinite-load .post-pagination-wrap{
	opacity: 0;
	visibility: hidden;
	height: 0;
}
.portfolio-wrap .portfolio-img {
	position: relative;
    overflow: hidden;
}
.portfolio-wrap .portfolio-overlay {
    position: absolute;
	padding: 20px;
}
.portfolio-wrap .overlay-center {
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.portfolio-wrap .overlay-top-left {
    left: 0;
	top: 0;
    text-align: left;
}
.portfolio-wrap .overlay-top-right {
    right: 0;
	top: 0;
    text-align: right;
}
.portfolio-wrap .overlay-bottom-left {
    left: 0;
	bottom: 0;
    text-align: left;
}
.portfolio-wrap .overlay-bottom-right {
    right: 0;
	bottom: 0;
    text-align: right;
}
.portfolio-wrap .portfolio-overlay > * {
    margin-bottom: 15px;
}
.portfolio-wrap .portfolio-overlay > *:last-child {
    margin-bottom: 0;
}
.portfolio-icons i {
    line-height: 2;
}
/* Portfolio Overlay */
.portfolio-overlay, .portfolio-overlay a {
    color: #fff;
}
.portfolio-overlay {
    opacity: 0;
	z-index: 1;
}
.portfolio-wrap:hover .portfolio-overlay {
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.portfolio-overlay-wrap:before {
    background: rgba(0, 0, 0, 0.9);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	opacity: 0;
	z-index: 1;
    bottom: 0;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.portfolio-wrap:hover .portfolio-overlay-wrap:before {
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.portfolio-overlay-wrap img {
    transition: all 350ms ease-in-out 0s;
    -webkit-transition: all 350ms ease-in-out 0s;
    -moz-transition: all 350ms ease-in-out 0s;
    -ms-transition: all 350ms ease-in-out 0s;
    -o-transition: all 350ms ease-in-out 0s;	
}
.portfolio-wrap:hover .portfolio-overlay-wrap img {
    transform: scale(1.1);
    transition: all 350ms ease-in-out 0s;
    -webkit-transition: all 350ms ease-in-out 0s;
    -moz-transition: all 350ms ease-in-out 0s;
    -ms-transition: all 350ms ease-in-out 0s;
    -o-transition: all 350ms ease-in-out 0s;
}
/*Portfolio Classic*/
.portfolio-classic .portfolio-overlay-wrap:before,
.portfolio-classic .portfolio-wrap:hover .portfolio-overlay-wrap img {
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transform: translate(0);
}
.portfolio-classic .portfolio-overlay-wrap:before {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 2px solid rgba(127, 127, 127,0.5);
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.3,1.3,1);
	transform: scale3d(1.3,1.3,1);
    background: rgba(0, 0, 0, 0.3);
}
.portfolio-classic .portfolio-wrap .portfolio-overlay.overlay-bottom-right, 
.portfolio-classic .portfolio-wrap .portfolio-overlay.overlay-bottom-left {
    right: 20px;
    bottom: 20px;
    left: 20px;
}
.portfolio-classic .portfolio-wrap .portfolio-overlay.overlay-top-right, 
.portfolio-classic .portfolio-wrap .portfolio-overlay.overlay-top-left {
    right: 20px;
    top: 20px;
    left: 20px;
}
/*Portfolio Creative*/
.portfolio-creative .portfolio-overlay-wrap:before,
.portfolio-creative .portfolio-wrap:hover .portfolio-overlay-wrap img {
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transform: translate(0);
}
.portfolio-creative .portfolio-overlay-wrap:before {
    background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(0,0,0,0.8) 75%);
    background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
    content: '';
    opacity: 1;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,30%,0);
}
/*Portfolio Minimal*/
.portfolio-minimal .portfolio-overlay-wrap:before,
.portfolio-minimal .portfolio-wrap:hover .portfolio-overlay-wrap img {
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transform: translate(0);
}
.portfolio-minimal .portfolio-overlay-wrap:hover img {
	opacity: 0.2;
}
 
.portfolio-minimal .portfolio-overlay-wrap:before,
.portfolio-minimal .portfolio-overlay-wrap:after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.portfolio-minimal .portfolio-overlay-wrap:before {
	border-top: 2px solid;
	border-bottom: 2px solid;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	background-color: transparent;
    z-index: 1;
}
.portfolio-minimal .portfolio-overlay-wrap:after {
	border-right: 2px solid;
	border-left: 2px solid;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
    z-index: 1;
}
.portfolio-minimal .portfolio-wrap:hover .portfolio-overlay-wrap:after,
.portfolio-minimal .portfolio-wrap:hover .portfolio-overlay-wrap:before {
	opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
}
.portfolio-minimal .portfolio-wrap:hover .portfolio-overlay-wrap {
		opacity: 1;
}
.portfolio-minimal .portfolio-wrap .portfolio-overlay.overlay-center {
    right: 30px;
    left: 30px;
}
.portfolio-minimal .portfolio-wrap .portfolio-overlay.overlay-bottom-right, 
.portfolio-minimal .portfolio-wrap .portfolio-overlay.overlay-bottom-left {
    right: 30px;
    bottom: 30px;
    left: 30px;
}
.portfolio-minimal .portfolio-wrap .portfolio-overlay.overlay-top-right, 
.portfolio-minimal .portfolio-wrap .portfolio-overlay.overlay-top-left {
    right: 30px;
    top: 30px;
    left: 30px;
}
/*Portfolio Angle*/
.portfolio-angle .portfolio-overlay-wrap:before,
.portfolio-angle .portfolio-wrap:hover .portfolio-overlay-wrap img {
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.portfolio-angle .portfolio-overlay-wrap:before {
	background: linear-gradient(-45deg, rgba(0, 0, 0, 0.75) 0%,rgba(0, 87, 255, 0.86) 100%);
}
/* Portfolio Normal */
/*Portfolio Default*/
.portfolio-default .portfolio-wrap .portfolio-content-wrap {
 	padding: 20px 0;
}
/*Portfolio Classic*/
.portfolio-classic .portfolio-wrap .portfolio-content-wrap {
	 border: solid 1px rgba(0,0,0,0.06);
	 border-top: 0;
	 padding: 20px;
}
/*Portfolio Creative*/
.portfolio-creative .portfolio-content-wrap {
    background: #f7f7f7;
    padding: 20px;
}
/*Portfolio Minimal*/
.portfolio-minimal .portfolio-content-wrap {
    padding: 20px 0;
}
/*Portfolio Angle*/
.portfolio-angle .portfolio-wrap {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
}
.portfolio-angle .portfolio-content-wrap {
    padding: 20px;
}
/*Portfolio Filters*/
.portfolio-filter ul > li {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-bottom: 15px;
}
.portfolio-filter ul > li:last-child {
    padding-right: 0;
}
.portfolio-filter.filter-1 ul > li > a {
    padding: 6px 26px;
    transition: all 350ms ease-in-out 0s;
    -webkit-transition: all 350ms ease-in-out 0s;
    -moz-transition: all 350ms ease-in-out 0s;
    -ms-transition: all 350ms ease-in-out 0s;
    -o-transition: all 350ms ease-in-out 0s;
    display: block;
    border: 1px #32bab8 solid;
    border-radius: 30px;
}
.portfolio-filter.filter-1 ul > li > a:hover,
.portfolio-filter.filter-1 ul > li.active > a {
	color: #fff;
}
.portfolio-filter.filter-1 ul > li.active > a:hover {
	background: #000;
	border: 1px #000 solid;
}
.portfolio-filter {
    margin-bottom: 50px;
    text-align: center;
}
.portfolio-filter > ul > li {
	display: inline-block;
}
.portfolio-filter.filter-1 > ul > li {
    padding: 0 2px;
}
.portfolio-filter a.portfolio-filter-item {
    margin-right: 12px;
}
.portfolio-filter.filter-2 > ul > li {
    position: relative;
    padding: 0;
    margin: 0 20px;
}
.portfolio-filter.filter-2 a.portfolio-filter-item {
	font-size: 18px;
     margin-right: 0; 
}
.portfolio-filter.filter-2 > ul.text-right > li:last-child {
    margin-right: 0;
}
.portfolio-filter.filter-2 > ul.text-left > li:first-child {
    margin-left: 0;
}
.portfolio-filter.filter-2 li a:after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.typo-white .portfolio-filter.filter-2 li a:after {
    background: white;
}
.portfolio-filter.filter-2 li a:hover:after,
.portfolio-filter.filter-2 li.active a:after {
	width: 100%;
}
.portfolio-filter.filter-3 {
    margin-bottom: 20px;
}
.portfolio-filter.filter-3 li.active a {
    color: #000;
}
.portfolio-info > div {
    margin-bottom: 20px;
}
.portfolio-info > div:last-child {
    margin-bottom: 0;
}
/*slider*/
.portfolio-slide .portfolio-content-wrap {
   padding: 20px;
   background:#fff;
}
/* Portfolio Animation */
@-webkit-keyframes independentFadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,50px,0);
		transform:translate3d(0,50px,0)
	} to {
		opacity:1; 
		-webkit-transform:none; 
		transform:none 
	}
}
@keyframes independentFadeInUp {
	0%{
		opacity:0;
		-webkit-transform:translate3d(0,50px,0);
		transform:translate3d(0,50px,0);
	} to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
.independent-animate {
	opacity: 0;
	visibility: hidden;
}
.independent-animate.run-animate {
	opacity: 1;
	visibility: visible;
	animation-duration: 0.7s;
    animation-name: independentFadeInUp;
}
@media only screen and (max-width: 991px) {
	.portfolio-wrapper img {
		width:100%;
	}
}
/*--------------------------------------------------------------
1.2 CPT Testimonial Styles
--------------------------------------------------------------*/
.testimonial {
	text-align: center;
}
.testimonial-content-wrap {
    margin-bottom: 30px;
}
.testimonial-rating i {
    color: #ffc400;
}
.testimonial-wrapper .testimonial-inner {
    border: 1px solid rgba(127, 127, 127,0.3);
    padding: 20px 15px;
}
.testimonial-wrapper .owl-carousel div[class^="col-"] {
    padding: 0;
    width: auto;
    max-width: 100%;
}
.testimonial-wrapper.testimonial-dark .testimonial-inner {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
}
.testimonial-wrapper .testimonial-info p {
	margin-bottom: 0;
}
.testimonial-wrapper .testimonial-inner > * {
	margin-bottom: 14px;
}
.testimonial-wrapper .testimonial-inner > *:last-child {
	margin-bottom: 0;
}
.testimonial-info p > * {
    margin-right: 10px;
	display: block;
    margin-bottom: 6px;
    width: 100%;
}
.testimonial-info p > *:last-child {
    margin-right: 0;
	margin-bottom: 0;
}
.testimonial-thumb img {
    max-width: 80px;
	margin: unset;
}
.text-right .testimonial-thumb img {
    margin-left: auto;
}
.text-center .testimonial-thumb img {
	margin:0 auto;
}
.testimonial-inner p {
    margin-bottom: 0;
}
/*Testimonial Layout One */
.testimonial-wrapper.testimonial-1 .testimonial-inner {
    border: none;
	padding:0;
}
.testimonial-wrapper.testimonial-dark.testimonial-1 .testimonial-inner {
    padding: 20px 15px;
}
.testimonial-wrapper.testimonial-1 .testimonial-excerpt {
    border-radius: 5px;
	position:relative;
}
.testimonial-wrapper.testimonial-1 .testimonial-excerpt p {
	margin-bottom:0px;
}  
.testimonial-1 .testimonial-thumb img {
    border: 5px solid rgba(127, 127, 127, 0.4);
    padding: 7px;
}
.testimonial-1 .client-name {
    font-size: 13px;
}
.typo-white .client-name {
    color: #fff;
}
/*Testimonial Layout Three */
.testimonial-wrapper.testimonial-3 .testimonial-inner {
    border: 1px dashed;
}
.testimonial-wrapper.testimonial-3 .testimonial-thumb img {
    border-radius: 0;
    border: 2px dotted;
} 
.testimonial-3 .testimonial-name a {
	color:#fff;
	padding:0 18px;
}
.testimonial-3.testimonial-dark .testimonial-rating i {
    color: #fff;
}
.widget .testimonial-wrapper {
    padding: 15px;
}
.testimonial-3 .testimonial-name a:hover {
    color: #ccc !important;
}
/*--------------------------------------------------------------
1.3 CPT Team Styles
--------------------------------------------------------------*/
.team-title > *:last-child {
    margin-bottom: 0;
}
.team-title > * {
    margin-bottom: 14px;
}
.team-info > *:last-child {
    margin-bottom: 0;
}
.team-info > * {
    margin-bottom: 30px;
}
.team-wrapper.text-center .nav.social-icons {
    display: inline-flex;
}
.team-wrapper.text-right .nav.social-icons {
	display: inline-flex;
    float: right;
}
.team-inner p {
	margin-bottom: 0;
}
.team-wrapper .team-inner > * {
    padding-left: 12px;
    padding-right: 12px;
}
.team-wrapper .team-inner {
    border: 1px solid rgba(127, 127, 127, 0.3);
	margin-bottom: 30px;
}
div .team-wrapper .team-inner > .team-thumb > img {
    width: 100% !important;
}
.team-wrapper .team-inner > *:first-child {
    padding-top: 12px;
}
.team-inner > * {
    margin-bottom: 15px;
}
.team-excerpt {
    font-size: 12px;
}
.client-name {
    color: #222;
    font-size: 20px;
    font-weight: 600;
}
.team-wrapper .team-inner .team-thumb {
	overflow:hidden;
    padding: 0;
}
.team-wrapper.team-2 .team-inner > *.team-thumb:last-child,
.team-wrapper.team-3 .team-inner > *.team-thumb:last-child {
    margin-bottom: 0;
}
.team-wrapper.team-dark .team-inner {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
	border: none;
}
.team-wrapper.team-dark .team-inner > *:last-child {
    padding-bottom: 15px;
}
.single-independent-team .team-social-wrap ul.social-icons > li > a {
    border: 1px solid #eaeaea;
    color: #222;
}
.single-independent-team .team-social-wrap ul.social-icons > li > a:hover {
	color:#fff;
}
.team-social-wrap ul.social-icons > li > a {
    width: 33px;
    height: 33px;
    line-height: 33px;
}
.team-dark .client-name ,.team-dark p {
	color:#fff;
}
.team-wrapper .item .team-inner {
    margin-top: 7px;
    margin-right: 7px;
    margin-left: 7px;
}
/*team slider*/
.team-wrapper .owl-carousel div[class^="col-"] {
    padding: 0;
    width: auto;
    max-width: 100%;
}
/*team style-1 */
.team-wrapper.team-1 .team-inner > .team-thumb {
    overflow: hidden;
    margin-left: 12px;
    margin-right: 12px;
}
.team-wrapper.team-1 .team-inner > .team-thumb:first-child {
	margin-top:12px;
}
.team-wrapper.team-1 .team-inner > .team-thumb:first-child:last-child {	
	margin-bottom:12px;
}
.team-1 .team-designation > p {
    display: inline-block;
    padding: 0 16px;
	color: #fff;
}
.team-wrapper.team-1.team-dark .team-inner > .team-thumb:first-child:last-child {
    padding: 12px;
    margin: 0;
}
.team-wrapper.team-1.team-dark .team-inner > .team-thumb {
    margin-left: 0;
    margin-right: 0;
}
/*team style-2 */
.team-2 .team-thumb img {
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
	-webkit-transition: all 0.8s ease-in;
	-moz-transition: all 0.8s ease-in;
	-o-transition: all 0.8s ease-in;
	transition: all 0.8s ease-in;
}
.team-2 .team-inner:hover .team-thumb img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
	-webkit-transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
	transition: all 0.8s ease-out;
}
/*team style -2 overlay style*/
.team-2 .team-overlay-actived .team-social-wrap {
    border: 0;
    padding: 0;
}
.team-2 .team-inner.team-overlay-actived > *:last-child {
    margin-bottom: 0;
}
.team-2 .team-overlay-actived .team-thumb img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.team-2 .team-overlay-actived .team-thumb {
    position: relative;
}
.team-2 .team-overlay-actived .team-thumb:before {
    z-index: 2;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}
.team-2 .team-overlay-actived .team-thumb:after {
    z-index: 1;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.team-2 .team-overlay-actived .team-thumb:before , .team-2 .team-overlay-actived .team-thumb:after {
	opacity:0;
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    pointer-events: none;
}
.team-2 .team-inner:hover .team-thumb:before, .team-2 .team-inner:hover .team-thumb:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.team-2 .team-inner.team-overlay-actived {
    border: 0;
}
.team-wrapper.team-2 .team-inner > .team-thumb {
    margin-left: 0;
    margin-right: 0;
}
.team-wrapper.team-2 .team-inner {
	padding:0;
}
/*team style-3 */
.team-wrapper.team-3 .team-inner > .team-thumb {
    border-bottom: 5px solid;
    margin-left: 0;
    margin-right: 0;
}
.team-wrapper.team-3 .team-inner {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
	border-color:transparent;
}
/*Team Overlay*/
.team-wrapper .team-thumb {
	position: relative;
}
.team-wrapper .team-overlay {
    position: absolute;
	padding: 20px;
	opacity:0;
	visibility: hidden;
	z-index:1;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.team-wrapper .team-inner:hover .team-overlay {
	opacity:1;
    visibility: visible;
	-webkit-transition: all 0.35s ease-in 0.15s;
    transition: all 0.35s ease-in 0.15s;	
}
.team-wrapper .team-overlay > div {
	-ms-transform: scale(4); /* IE 9 */
    -webkit-transform: scale(4); /* Safari */
    transform: scale(4);
	-webkit-transition: all 0.35s 0.1s ease-in-out;
    -moz-transition: all 0.35s 0.1s ease-in-out;
    transition: all 0.35s 0.1s ease-in-out;
}
.team-wrapper .team-inner:hover .team-overlay > div {
	-ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
}
.team-inner.team-overlay-actived {
    cursor: pointer;
}
.team-inner.team-overlay-actived img {
	-webkit-transition: all 0.35s 0.1s ease-in-out;
    -moz-transition: all 0.35s 0.1s ease-in-out;
    transition: all 0.35s 0.1s ease-in-out;
}
.team-inner:hover.team-overlay-actived img {
    transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
	-webkit-transition: all 0.35s 0.1s ease-in-out;
    -moz-transition: all 0.35s 0.1s ease-in-out;
    transition: all 0.35s 0.1s ease-in-out;
} 
.team-wrapper .overlay-center {
    left: 0;
    right: 0;
    top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.team-wrapper .overlay-top-left {
    left: 0;
	top: 0;
}
.team-wrapper .overlay-top-right {
    right: 0;
	top: 0;
}
.team-wrapper .overlay-bottom-left {
    left: 0;
	bottom: 0;
}
.team-wrapper .overlay-bottom-right {
    right: 0;
	bottom: 0;
}
.team-wrapper .team-overlay > * {
    margin-bottom: 15px;
}
.team-wrapper .team-overlay > *:last-child {
    margin-bottom: 0;
}
.team-wrapper .team-thumb .overlay-bg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	opacity:0;
	-webkit-transition: all 0.3s ease-in 0.15s;
    transition: all 0.3s ease-in 0.15s;
	z-index:1;
}
.team-wrapper .team-inner:hover .team-thumb .overlay-bg {
	opacity:1;
	-webkit-transition: all 0.3s ease-in 0.15s;
    transition: all 0.3s ease-in 0.15s;	
}
.team-wrapper .team-thumb .overlay-dark {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
}
.team-wrapper .team-thumb .overlay-light {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}
/*Team List */
.team-inner .media {
    display: table;
    padding-bottom: 12px;
    margin-bottom: 0;
}
.team-left-wrap, .team-right-wrap {
    display: table-cell;
    vertical-align: middle;
}
.team-inner .team-left-wrap img {
	max-width:300px;
}
.team-inner .team-right-wrap > * {
    margin-bottom: 10px;
}	
.team-left-wrap .team-thumb {
    margin-right: 15px;
}
@media only screen and (max-width: 640px) {
	.team-left-wrap, .team-right-wrap,.team-inner .media {
		display: block;
	}
	.team-left-wrap {
		margin-bottom:20px;
	}
	.team-inner .team-left-wrap img {
		max-width:100%;
	}
}
/*--------------------------------------------------------------
1.4 CPT Event Styles
--------------------------------------------------------------*/
.event .event-inner > *:last-child {
    margin-bottom: 0;
}
.event .event-inner > * {
    margin-bottom: 30px;
}
.event-info .event-subtitle, .event-venue .event-subtitle {
	display: block;
}
.events-inner p {
	margin-bottom: 0;
}
.events-inner > * {
    margin-bottom: 20px;
}
.events-wrapper .events-inner {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 12px 12px;
    margin-bottom: 30px;
}
.events-wrapper .events-inner > *:first-child {
    padding-top: 12px;
}
.events-inner > * {
    margin-bottom: 15px;
}
.events-wrapper .events-inner > .events-thumb {
    margin-left: -12px;
    margin-right: -12px;
    padding-top: 0;
}
.events-wrapper.events-dark .events-inner {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
	border: none;
}
.events-wrapper .owl-carousel div[class^="col-"] {
    padding: 0;
    width: auto;
    max-width: 100%;
}
.events-title .entry-title {
    font-size: 17px;
    line-height: 1;
    font-weight: 600;
}
.events-dark .events-title .entry-title {
    color: #fff;
}
span.event-time {
	float:right;
}
.events-date {
    border: 1px solid;
    border-left: 0;
    border-right: 0;
    padding: 5px 16px;
    color: #fff
}
.events-inner .read-more {
    padding: 10px;
    border: 1px solid;
    background: #000;
	color:#fff;
}
.events-inner .read-more:hover {
    background: transparent;
}
.events-list .events-thumb > img {
    margin-right: 12px;
}
.events-list > .event-list-item:last-child {
    margin-bottom: 0;
}
.events-list > .event-list-item {
    margin-bottom: 20px;
}
.events-list .event-list-item p {
	margin-bottom: 0;
}
.event-list-item > .media-body > * {
    margin-bottom: 12px;
}
.events-list.events-dark .media-body {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    padding: 12px;
}
/*Events Style 2 */
.event-style-2 .events-inner {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    border: none;
}
.event-style-2 .events-date {
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    background: rgba(0,0,0,0.4);
    border: 0;
}
/*--------------------------------------------------------------
1.5 CPT Service Styles
--------------------------------------------------------------*/
.typo-white .entry-title {
	color:#fff;
}
.services-dark .entry-title {
    color: #fff;
}
.service-info-wrap > * {
	 margin-bottom: 30px;
}
.service-info-wrap > *:last-child {
    margin-bottom: 0;
}
.services-inner p {
	margin-bottom: 0;
}
.services-inner > * {
    margin-bottom: 20px;
}
.services-wrapper .services-inner {
    border: 1px solid rgba(127, 127, 127, 0.2);
}
.services-wrapper .services-inner > *:first-child {
    padding-top: 20px;
}
.services-inner > * {
    margin-bottom: 15px;
}
.services-wrapper .services-inner > div {
	padding:0 20px;
}
.services-wrapper .services-inner > .services-thumb {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
	overflow:hidden;
}
.services-wrapper .services-inner img {
	 transform: scale(1);
	 -ms-transform: scale(1);
	-webkit-transform: scale(1);
	 transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.services-wrapper .services-inner:hover img {
    transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.services-wrapper.services-dark .services-inner {
    background: #000 none repeat scroll 0 0;
    color: #ffffff;
	border: none;
	padding-bottom: 5px;
}
.services-wrapper > div > div {
    margin-bottom: 30px;
} 
.services-wrapper .owl-carousel div[class^="col-"] {
    padding: 0;
    width: auto;
    max-width: 100%;
}
/*service style 1*/
.services-wrapper.services-1 .services-inner > .services-thumb {
	border-top:2px solid;
	border-bottom:2px solid;
}
/* services style 2 */
.services-2 .services-title a {
    color: #fff;
    padding: 7px 20px;
    display: block;
}
.services-2 .services-title a:hover {
    color: rgba(255,255,255,0.5) !important;
}
.services-wrapper.services-2 .services-inner > div.services-title {
    padding: 0;
}
.services-wrapper.services-2 .services-inner > *:first-child.services-thumb {
    margin-bottom: 0;
}
.services-2 .services-inner:hover img {
	opacity: .5;
}
.services-2 .services-inner img {
	opacity: 1;
}
/* services style 3 */
.services-3 .services-inner > .services-thumb {
	border-bottom:5px solid;
}
.services-3 .services-inner:hover img {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.services-3 .services-inner img {
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
/*Single style*/
.sidebar-menu > li {
    border-bottom: 1px solid #c1c1c1;
    color: #3f3f3f;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0;
}
.sidebar-menu > li:first-child {
    padding: 0px 0 10px;
}
.sidebar-menu > li:last-child {
    border-bottom: none;
}
.sidebar-menu span {
    float: right;
    color: #666;
}
/*--------------------------------------------------------------
02.     Countdown Shortcode Styles
--------------------------------------------------------------*/
.day-counter > *:last-child {
    margin-right: 0;
}
.day-counter > * {
    display: inline-block;
    margin-right: 10px;
    height: 150px;
    width: 150px;
	padding:0 20px;
}
.day-counter .counter-item {
	margin-top: 75px;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.day-counter .counter-item > h3 {
    line-height: unset;
	margin-bottom: 14px;
	font-size:35px;
}
.day-counter-light .day-counter > * {
	background: #fff none repeat scroll 0 0;
}
.day-counter-dark .day-counter > * {
	background: #000 none repeat scroll 0 0;
    color: #fff;
}
.day-counter-transparent .day-counter > * {
	background: transparent;
}
/*--------------------------------------------------------------
03.     Pricing Tables Shortcode Styles
--------------------------------------------------------------*/
.pricing-table-wrapper {
    overflow: hidden;
    position: relative;
	margin-bottom:35px;
}
.pricing-inner-wrapper {
    padding: 35px 0;
	border: 1px solid rgba(127, 127, 127, 0.3);
}
.pricing-inner-wrapper > *:last-child {
    margin-bottom: 0;
}
.pricing-inner-wrapper > * {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
ul.pricing-features-list > li {
	display: inline-block;
	border: medium none;
	background: unset;
    padding-left: 0;
    padding-right: 0;
}
li.feature-inactive {
    text-decoration: line-through;
}
li.feature-inactive:hover {
    text-decoration: line-through;
}
.pricing-icon > span {
    font-size: 60px;
}
.corner-ribbon{
	width: 180px;
	background: #e43;
	position: absolute;
	top: 25px;
	left: -50px;
	text-align: center;
	line-height: 30px;
	letter-spacing: 1px;
	color: #f0f0f0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
	-moz-box-shadow:  0 0 3px rgba(0,0,0,.3);
	-ms-box-shadow:  0 0 3px rgba(0,0,0,.3);
	-o-box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.corner-ribbon.top-right {
    top: 17px;
    right: -55px;
    left: auto;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
}
.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
/* price */
.price-text {
    font-size: 45px;
    line-height: 1;
    font-weight: 600;
}
.pricing-table-wrapper .pricing-title {
    font-size: 23px;
    line-height: 1;
}
.price-after p {
    margin-bottom: 0;
} 
/* price image */
.pricing-inner-wrapper > .pricing-image {
    padding: 0;
}
.pricing-inner-wrapper > *:last-child.pricing-image {
	margin-bottom:0;
}
.image-top .pricing-inner-wrapper {
    padding-top: 0;
}
.pricing-table-wrapper .btn {
    color: #fff;
}
/* pricing table layout one */
.pricing-style-1 .pricing-table-info {
    background: #000;
    padding: 20px;
    color: #fff;
}
.pricing-style-1 .price-text {
    color: #fff;
}
.pricing-style-1 .pricing-table-foot .btn {
    display: block;
	background:#000;
	border-color: rgba(121,121,121,0.3);
}
.pricing-style-1 .pricing-table-foot .btn:hover {
    color: #000;
    background: #fff;
	border-color: rgba(121,121,121,0.3);
}
/* pricing table layout two */
.pricing-table-wrapper.pricing-style-2,.pricing-style-2 ul.pricing-features-list > li,
.pricing-style-2 .pricing-table-info p {
    background: #fff;
    color: #000;
}
.pricing-style-2 .pricing-title {
    font-size: 24px;
}
.pricing-style-2 .price-text p{
	font-size:36px;
}
.pricing-style-2 .btn {
    display: block;
    color: #000;
    font-size: 14px;
    padding: 15px 0;
}
.pricing-style-2 .btn:hover {
    color: #fff;
}
.pricing-style-2 ul.pricing-features-list > li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 13px 35px;
}
.pricing-style-2 ul.pricing-features-list > li:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.06);
}
.pricing-style-2 .pricing-inner-wrapper > .pricing-table-body {
    padding: 0;
}
.pricing-style-2 .pricing-inner-wrapper > .pricing-table-foot {
    padding: 20px 20px 27px 20px;
	background: rgba(0, 0, 0, 0.06);
}
.pricing-style-2 .pricing-inner-wrapper > .pricing-table-body {
    margin-bottom: 0;
}
.pricing-style-2 .pricing-inner-wrapper {
    padding-bottom: 0;
}
/* pricing table layout three */
.pricing-style-3 .pricing-title, .pricing-style-3 .price-text {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}
.pricing-style-3 .pricing-inner-wrapper {
    border: 1px solid;
}
.pricing-style-3 ul.pricing-features-list > li {
    box-shadow: 0px 6px 9px -7px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 6px 9px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 9px -7px rgba(0,0,0,0.5);
    -ms-box-shadow: 0px 6px 9px -7px rgba(0,0,0,0.5);
    -o-box-shadow: 0px 6px 9px -7px rgba(0,0,0,0.5);
	
}
.pricing-style-3 ul.pricing-features-list > li:last-child {
    box-shadow: none;
}
.pricing-style-3 .pricing-table-foot .btn {
    display: block;
    border-radius: 0;
}
/*--------------------------------------------------------------
04.     Pricing Compare Shortcode
--------------------------------------------------------------*/
.compare-pricing-wrapper .pricing-inner-wrapper, .compare-pricing-wrapper > *  {
    float: left;
	padding-top:0;
}
.compare-pricing-inner .pricing-inner-wrapper {
    border: 1px solid rgba(127, 127, 127, 0.1);
}
.compare-pricing-tables {
    width: 80%;
}
.compare-pricing-wrapper > *:first-child {
    width: 20%;
}
.compare-title-wrap {
    display: table;
    vertical-align: middle;
    width: 100%;
	background: #000;
    color: #fff;
}
.compare-features-wrap {
    color: #fff;
}
.compare-title-wrap .compare-title {
    display: table-cell;
    vertical-align: middle;
	font-size: 25px;
    line-height: 1;
	color:#fff;
}
.compare-features-wrap .list-group-item {
    font-weight: bold;
}
.compare-pricing-wrapper ul.pricing-features-list > li {
    font-size: 13px;
    line-height: 40px;
}
.compare-pricing-wrapper .pricing-table-head {
    color: #fff;
	margin-bottom:0;
}
.compare-pricing-wrapper .pricing-table-head .pricing-title {
    font-size: 20px;
    line-height: 52px;
	margin-bottom:0;
	color:#fff;
}
.compare-pricing-wrapper .price-text {
    font-size: 16px;
    line-height: 40px;
    padding: 12px 0;
}
.compare-pricing-inner .pricing-inner-wrapper > .pricing-table-info {
    margin-bottom: 0;
}
.compare-pricing-wrapper .price-text p {
    margin-bottom: 0;
}
.compare-pricing-inner .fa.fa-check {
    color: #008000;
}
.compare-pricing-inner .fa.fa-times {
    color: #f00000;
}
/*Compare pricing Style- 2*/
.compare-pricing-style-2.compare-pricing-wrapper .pricing-table-head, .compare-pricing-style-2 .compare-features-wrap {
    background: #000;
} 
.compare-pricing-style-2.compare-pricing-wrapper .btn {
	display:block;
}
.compare-pricing-wrapper.compare-pricing-style-2 ul.pricing-features-list > li {
    border-top: 1px solid rgba(127,127,127,0.1);
}
/*Compare pricing Style- 3*/
.compare-pricing-wrapper.compare-pricing-style-3 .pricing-table-head {
    background: #000;
	padding:0px 20px;
}
.compare-pricing-style-3.compare-pricing-wrapper .btn {
	background:#000;
}
.compare-pricing-wrapper.compare-pricing-style-3 ul.pricing-features-list > li:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.06);
}
.compare-pricing-style-3 .compare-pricing-inner .pricing-inner-wrapper > * {
	padding:0;
}
/*--------------------------------------------------------------
05.     Icons Shortcode Styles
--------------------------------------------------------------*/
.icon-wrapper .icon-inner {
	text-align: center;
	display: inline-block;
	line-height: 2;
	height: 30px;
	width: 30px;
	font-size: 30px;
	
	transition: all ease 0.35s;
	-webkit-transition: all ease 0.35s;
	-moz-transition: all ease 0.35s;
}
.icon-wrapper .icon-inner span {
	display: inline-block;
    line-height: unset;
}
/*--------------------------------------------------------------
06.     Mailchimp Shortcode Styles
--------------------------------------------------------------*/
.mailchimp-wrapper .mc-submit-btn > * {
	margin-right: 6px;
}
.mailchimp-wrapper .mc-submit-btn > *:last-child {
	margin-right: 0;
}
form.mc-form input {
    margin-bottom: 15px;
}
form.mc-form input:last-child {
	margin-bottom: 0;
}
.mc-form > :not(.input-group) > .btn {
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
/*--------------------------------------------------------------
07.    Twitter Shortcode Style
--------------------------------------------------------------*/
.twitter-title {
    margin-bottom: 30px;
}
.twitter-box .tweet-info img {
	width: auto;
	max-width: 100%;
	margin: 0;
}
.tweet-info > a {
    display: inline-block;
}
/*Twitter Layout 1 */
.twitter-1 .tweet-info > * {
    margin-bottom: 10px;
}
.twitter-1 .tweet-info > *:last-child, .tweet-item p, .tweet-item h5 {
    margin-bottom: 0;
}
.twitter-dark .tweet-item {
	background-color: #000;
	transition: all ease 0.35s;
}
.twitter-dark a {
	color:#ccc;
}
.twitter-dark .tweet-item, .twitter-dark .tweet-title a {
	color: #fff;
	transition: all ease 0.35s;
}
.tweet-title a {
   color: #000;
}
.row-overlay-dark .tweet-title a {
    color: #fff;
}
ul.twitter-box{
	margin: 0;
	padding: 0;
}
.twitter-wrapper .tweet-item {
    border: 1px solid rgba(121, 121, 121, 0.2);
    padding: 20px;
}
/*Twitter Layout 3*/
.twitter-3 .tweet-info {
    border: 3px double;
    padding: 30px;
}
.twitter-3.twitter-wrapper .tweet-item {
	padding: 5px;
	border:0;
}
/*twitter center*/
.text-center .twitter-box .tweet-info img {
}
/*twitter right*/
.text-right .twitter-box .tweet-info img {
}
/*--------------------------------------------------------------
08.     Counter
--------------------------------------------------------------*/
span.counter-up {
    font-size: 32px;
    line-height: 1;
}
.counter-title h4 {
    font-size: 18px;
}
.counter-content p {
    margin-bottom: 0;
}
.counter-wrapper > * {
	margin-bottom: 15px;
}
.counter-wrapper > *:last-child {
	margin-bottom: 0;
}
.counter-icon > span {
    display: block;
    font-size: 40px;
    line-height: 40px;
}
.counter-icon.icon-dark  > span{
	color: #000;
}
.counter-icon.icon-light > span {
	color: #fff;
}
.counter-wrapper {
    margin-bottom: 40px;
}
/*counter style-1 */
.counter-style-1 .counter-value h3 span {
    font-size: 45px;
    line-height: 50px;
    font-weight: 900;
}
/*counter style-2 */
.counter-wrapper.counter-style-2 {
    border: 1px dashed;
    padding: 20px;
}
/*counter style-3 */
.counter-style-3 span.counter-up {
    font-weight: 100;
}
/*--------------------------------------------------------------
09.     Section Title Shortcode Style
--------------------------------------------------------------*/
.section-title-wrapper .title-separator {
    background-color: #000000;
    display: block;
    height: 2px;
    position: relative;
    width: 45px;
}
.section-title-wrapper.text-center .title-separator {
	margin: 0 auto;
}
.section-title-wrapper.text-left .title-separator {
	margin-right: auto;
}
.section-title-wrapper.text-right .title-separator {
	margin-left: auto;
}
.section-title-wrapper {
    margin-bottom: 50px;
}
.title-separator.separator-img {
	background: transparent;
	height: auto;
	width: auto;
	max-width: 200px;
}
.title-separator.separator-img > img {
	max-height: 50px;
}
.text-left .title-separator.separator-img > img {
    margin-left: 0;
}
.text-right .title-separator.separator-img > img {
    margin-right: 0;
}
.section-title-wrapper .title-wrap > * {
    display: block;
    margin-bottom: 20px;
}
.section-title-wrapper .title-wrap > .sub-title {
	font-weight: 800;
}
.section-title-wrapper .title-wrap > *:last-child {
    margin-bottom: 0;
}
.section-title-wrapper .title-wrap {
    margin-bottom: 30px;
}
.section-title-wrapper.text-center .section-description {
    margin: 0 auto;
	max-width:800px;
}
.section-title-wrapper .section-description a.btn {
    margin-top: 20px;
}
.textshadow .section-title {
    text-shadow:0px 2px 5px rgba(0,0,0,0.5);
}
/*--------------------------------------------------------------
10.     Feature Box Shortcode Styles
--------------------------------------------------------------*/
.feature-box-icon {
	font-size: 24px;
	display: inline-block;
	line-height:1;
	transition: all ease 0.35s;
	-webkit-transition: all ease 0.35s;
	-moz-transition: all ease 0.35s;
}
.feature-box-wrapper.text-center .feature-box-icon {
    margin-left: auto;
    margin-right: auto;
}
.feature-box-wrapper.text-right .feature-box-icon {
    margin-left: auto;
    margin-right: 0;
}
.icon-dark {
    color: #000;
} 
.icon-light {
    color: #fff;
}
.feature-box-wrapper > * {
    margin-bottom: 20px;
}
.feature-box-wrapper .section-title {
    margin-bottom: 0;
}
.feature-box-wrapper > *:last-child {
    margin-bottom: 0;
}
.feature-box-wrapper {
    margin-bottom: 30px;
	padding: 25px 25px;
}
/*feature box image*/
.feature-box-wrapper.text-left img {
    margin-left: 0;
}
.feature-box-wrapper.text-right img {
    margin-right: 0;
}
/*feature Box Image hover styles*/
.fbox-img-overlay .feature-box-thumb {
    position: relative;
}
.fbox-img-overlay .feature-box-thumb:before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transform: scale(0);
	-webkit-transform:  scale(0);
	-moz-transform:    scale(0);
	-ms-transform:    scale(0);
	-o-transform:      scale(0);
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.fbox-img-overlay:hover .feature-box-thumb:before {
	opacity: 1;
     transform: scale(1);
	-webkit-transform:  scale(1);
	-moz-transform:    scale(1);
	-ms-transform:    scale(1);
	-o-transform:      scale(1);
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
/*zoom in*/
.feature-box-thumb {
    overflow: hidden;
}
.fbox-img-zoomin img {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.fbox-img-zoomin:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
/*grayscale*/
.fbox-img-grayscale img { 
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
		-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.fbox-img-grayscale:hover img{ 
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
/*Blur*/
.fbox-img-blur img {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}
.fbox-img-blur:hover img {
  -webkit-filter: blur(2px);
  -moz-filter: all .25s ease;
  -o-filter: all .25s ease;
  -ms-filter: all .25s ease;
  filter: blur(2px);
}
/*Feature Box List*/
.fbox-list-head > *:first-child {
    float: left;
}
.fbox-list img {
    max-width: 80px;
}
.fbox-list-head .feature-box-icon, .fbox-list-head .feature-box-thumb {
	margin-right: 15px;
}
/*Feature Box list-1 */
.feature-list-1 .feature-box-title, .feature-list-3 .feature-box-title {
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px) { 
	.feature-list-1 .media {
		display: block;
	}
	.feature-list-1 .media > div:first-child {
    	margin-bottom: 15px;
	}
	
}
/*Feature Box list-2 */
.feature-list-2 .fbox-list-head {
    margin-bottom: 10px;
}
/*Feature Box style 2 */
.feature-box-style-2 {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
    padding: 35px 25px;
	margin-bottom:35px;
}
.feature-box-style-2.extra-shadow {
    box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
/*Feature Box style 3 */
.feature-box-style-3 {
    border: 1px solid #ececec;
    padding: 35px 25px;
	margin-bottom:35px;
}
/*Feature Box style 4(service box) */
.feature-box-wrapper.feature-box-style-4 {
    height: 250px;
    max-width: 250px;
    line-height: 2;
    padding: 50px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
    margin: 0 auto;
	background: #f7f7f7;
    border: 1px solid #e1e1e1;
	position:relative;
}
.feature-box-style-4 .feature-box-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
span.feature-box-ribbon {
    position: absolute;
    right: 30px;
    top: 0;
    background: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
	text-align:center;
}
/*--------------------------------------------------------------
11.     Flip Box Shortcode Styles
--------------------------------------------------------------*/
.flip-box-icon {
    line-height: 1;
	transition: all ease 0.35s;
	-webkit-transition: all ease 0.35s;
	-moz-transition: all ease 0.35s;
}
.flip-box-wrapper > .flip-inner .flip-box-icon {
    padding: initial;
}
.flip-box-icon.icon-light span {
    color: #fff;
}
.flip-box-icon.icon-light span {
    color: #fff;
}
.flip-box-wrapper.text-center .flip-box-icon {
    margin-left: auto;
    margin-right: auto;
}
.flip-box-wrapper.text-right .flip-box-icon {
    margin-left: auto;
    margin-right: 0;
}
.flip-box-wrapper .flip-front > *, .flip-box-wrapper .flip-back > * {
    margin-bottom: 20px;
}
.flip-box-wrapper .flip-front > *:last-child, .flip-box-wrapper .flip-back > *:last-child {
    margin-bottom: 0;
}
.flip-box-wrapper .flip-front > div , .flip-box-wrapper .flip-back > div {
	padding: 0 30px;
}
.flip-box-wrapper .flip-front > div.flip-box-thumb, .flip-box-wrapper .flip-back > div.flip-box-thumb {
    padding: 0;
}
.flip-box-wrapper {
    cursor: pointer;
    overflow: hidden;
}
.flip-box-content {
    font-size: 13px;
}
.flip-front .section-title {
	position:relative;
}
.flip-box-btn a {
    position: relative;
}
/*--------------------------------------------------------------
12.     Modal Popup Shortcode Styles
--------------------------------------------------------------*/
.modal-popup-wrapper .modal-close, .modal-box-trigger-img {
	cursor: pointer;
}
.text-left .modal-box-trigger-img {
	margin-left:0;	
}
.text-center .modal-box-trigger-img {
	margin:0 auto;
}
.text-right .modal-box-trigger-img {
	margin-right:0;
}
.modal-popup-wrapper .modal {
    background: rgba(0,0,0,0.6);
}
.modal-trigger-icon > span {
    font-size: 40px;
}
.modal-backdrop {
    background-color: unset;
}
.modal-backdrop.show {
    display: none;
    opacity: 0;
}
.modal.show .modal-dialog {
    transform: translate(0,50px);
}
/*--------------------------------------------------------------
13.     Timeline Shortcode Styles
--------------------------------------------------------------*/
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}
.timeline:before {
	top: 22px;
	bottom: 42px;
	position: absolute;
	content: " ";
	width: 1px;
	border-right: 1px dotted rgba(121,121,121,0.3);
	left: 50%;
	margin-left: -0.5px;
}
.timeline > li {
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	width: 50%;
	float: left;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
}
.timeline > li:not(.timeline-inverted) {
	padding-right:90px;
}
.timeline > li.timeline-inverted {
	padding-left:90px;
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}
.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}
.timeline > li > .timeline-badge, .timeline-sep-title {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
}
.timeline > li > .timeline-badge {
	background-color: #999999;
	color: #fff;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.timeline-title {
	margin-top: 0;
	color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
	margin-bottom: 0;
}
.timeline-body > p + p {
	margin-top: 5px;
}
.timeline > li > .timeline-sep-title {
	line-height: 1.4;
	margin-left: 50px;
	width: auto;
	width: 70px;
    word-wrap: break-word;
}
.timeline > li.timeline-inverted > .timeline-sep-title {
	margin-left: -100px;
}
.timeline-sep-title > span {
	display: block;
	font-size: 14px;
}
.timeline.tl-border-solid:before {
	border-right-style: solid;
}
/*Timeline Left Layout */
.timeline.tl-left-layout > li > .timeline-sep-title {
    text-align: left;
}
.separator-shape-custom > i,
.separator-shape-custom > img,
.separator-shape-custom > .separator-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
 -moz-transform: translateY(-50%);
 transform: translateY(-50%);
}
/*style 2 */
.timeline-style-2 .timeline > li > .timeline-panel {
    border: 1px dotted rgba(121,121,121,0.3);
    box-shadow: none;
}
/*style-3*/
.timeline-style-3 .timeline > li > .timeline-panel {
    box-shadow: 0 0 0 8px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%);
}
.timeline-style-2 .timeline > li {
    margin-bottom: 50px;
}
/*--------------------------------------------------------------
14.     Blog Shortcode Styles
--------------------------------------------------------------*/
.blog-wrapper .post-author .author-img {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
	max-width: 20px;
}
.blog-wrapper .blog-inner > div:last-child {
    margin-bottom: 0;
	padding-bottom:15px;
}
.blog-wrapper .owl-carousel div[class^="col-"] {
	padding: 0;
	width: auto;
	max-width: 100%;
}
.blog-wrapper .blog-inner {
    border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom:30px;
}
.blog-wrapper .blog-inner > div {
    padding: 0 25px;
    margin-bottom: 15px;
}
.blog-wrapper.blog-style-1 .blog-inner > div {
    padding: 0;
}
.blog-wrapper.blog-dark .blog-inner {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
	border: none;
}
.blog-dark .blog-inner a {
    color: #fff;
}
.typo-white .post-title {
    color: #fff;
} 
.blog-dark .entry-title a {
    color: #fff;
}
.blog-wrapper .blog-inner > *:first-child {
    padding-top: 12px;
}
.blog-wrapper .blog-inner > .post-thumb {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.blog-wrapper > .row:last-child {
    margin-bottom: 0;
}
.blog-wrapper .read-more:after {
    content: "\f101";
    font-family: fontAwesome;
    margin: 0 10px;
}
.blog-wrapper .col-lg-12.col-md-12 .blog-inner {
    padding-bottom: 30px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 40px;
}
.blog-wrapper > .row:last-child .blog-inner {
    border: 0;
}
/*Blog Style -1 */
.blog-wrapper.blog-style-1 .blog-inner > .post-thumb {
    margin-left: 0;
    margin-right: 0;
}
.blog-wrapper.blog-style-1 .blog-inner {
	border:0;
}
/*dark*/
.blog-wrapper.blog-style-1.blog-dark .blog-inner > div {
    padding: 0 25px;
}
.blog-wrapper.blog-style-1.blog-dark .blog-inner > div:last-child {
	padding-bottom:15px;
}
.blog-wrapper.blog-style-1.blog-dark .blog-inner > div.post-thumb {
	padding:0;
} 
/*Blog Style - 2 */
.blog-style-2 .blog-inner {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
	border: none;
}
.blog-wrapper.blog-style-2 {
    padding: 0 5px;
}
.blog-wrapper.blog-style-2 .owl-carousel div[class^="col-"] {
	 padding: 0 10px;
}
/*Blog Style - 3 */
.blog-style-3 .post-thumb {
    border-bottom: 3px solid;
}
/*list style*/
.blog-style-4 .post-thumb > img {
	margin-right:15px;
}
.blog-wrapper.blog-style-4 .col-lg-12.col-md-12 .blog-inner {
    border-bottom: 0;
}
.blog-wrapper.blog-style-4 .blog-inner {
    border: 0;
    padding: 0 0 15px 0;
    margin-bottom: 0px !important;
}
.blog-wrapper.blog-style-4 > .row {
    margin-bottom: 0;
}
.blog-style-4 p {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 0;
}
.blog-style-4 > .row:last-child .blog-inner {
    border: 0;
}
.blog-style-4 > .row .blog-inner > div {
    padding: 0;
}
.blog-style-4 .media-body > * {
    margin-bottom: 15px;
}
.blog-style-4 .media-body > *:last-child {
    margin-bottom: 0;
}
.blog-style-4 > .row .blog-inner > div {
    padding: 0 0 0;
    background: #fff;
    box-shadow: 0 2px 7px rgba(0,0,0,.15);
}
.blog-style-4 .media-body {
    padding: 20px;
}
/*meta*/
.blog-wrapper .top-meta ul > li:last-child, .blog-wrapper .bottom-meta ul > li:last-child {
 	float: right;
	margin-right:0;	
}
.blog-wrapper .top-meta ul > li:first-child, .blog-wrapper .bottom-meta ul > li:first-child {
	float: left;
}
.blog-wrapper .top-meta ul > li {
    display: inline-block;
	margin-right:15px;
}
.blog-wrapper .top-meta, .blog-wrapper .bottom-meta {
 clear: both;
}
.bottom-meta-list > li {
    display: inline-block;
}
.bottom-meta-list {
    overflow: hidden;
}
/*--------------------------------------------------------------
15.     Circle Progress Styles
--------------------------------------------------------------*/
.circle-progress-wrapper > * {
	margin-bottom: 20px;
}
.circle-progress-wrapper {
    margin-bottom: 40px;
}
.circle-progress-wrapper > *:last-child {
	margin-bottom: 0;
}
.circle-progress-circle {
    position: relative;
}
.progress-value {
    display: block;
    font-size: 26px;
    font-weight: 600;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
	padding: 0 20px;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
/*--------------------------------------------------------------
16.     Contact Info Styles
--------------------------------------------------------------*/
.contact-info-wrapper > * {
    margin-bottom: 10px;
}
.contact-info-wrapper > div span {
    padding-right: 8px;
}
/* style -2 */
.contact-info-wrapper.contact-info-style-2 {
    padding: 25px;
    background: #000;
    color: #fff;
}
/* style -3 */
.contact-info-wrapper.contact-info-style-3 {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
    padding: 25px;
}
/*--------------------------------------------------------------
17.     Contact - Form7 Styles
--------------------------------------------------------------*/
.contact-form-title {
    margin-bottom: 30px;
}
.contact-form-classic .wpcf7 input[type="submit"] {
    display: block;
}
.wpcf7 textarea:focus, .wpcf7 input:focus, .wpcf7 select:focus {
    outline: 0;
}
.wpcf7 label {
    display: block;
}
.wpcf7 textarea, .wpcf7 input, .wpcf7 select {
    background: transparent;
    border: 1px solid #ddd;
    font-weight: normal;
    margin-bottom: 22px;
    width: 100%;
	padding:0 10px;
}
.wpcf7 input[type="file"] {
    padding: 0;
}
.wpcf7 select option {
	color:#000;
}
.typo-white .wpcf7 textarea, .typo-white .wpcf7 input, .typo-white .wpcf7 select {
	color:#fff;
}
.wpcf7 textarea {
    max-height: 160px;
    line-height: 28px;
}
.wpcf7 input[type="submit"] {
    margin-bottom: 0;
    height: 40px;
    line-height: 0;
	width: auto;
    cursor: pointer;
	padding: 0 35px;
	color:#fff;
}
.wpcf7 input[type="submit"]:hover {
    background: #000;
}
.wpcf7 .invalid input {
    margin-bottom: 0;
}
/*Classic*/
.contact-form-classic .wpcf7 textarea, .contact-form-classic .wpcf7 input, .contact-form-classic .wpcf7 select {
	border:1px solid rgba(127,127,127,.3)
}
/*Contact Form material design*/
.contact-form-material .wpcf7 textarea, .contact-form-material .wpcf7 input, .contact-form-material .wpcf7 select {
    box-shadow: -1px 0px 15px 0px rgba(0,0,0,0.12);
    border: 0;
}
.contact-button-dark input[type="submit"] {
    color: #000;
}
.contact-button-dark input[type="submit"]:hover {
    color: #fff;
}
/*Contact Form grey design*/
.contact-form-grey .wpcf7 input, .contact-form-grey .wpcf7 select {
    line-height: 44px;
    height: 44px;
}
.contact-form-grey .wpcf7 textarea, .contact-form-grey .wpcf7 input, .contact-form-grey .wpcf7 select {
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    letter-spacing: 3px;
    background: #f5f5f5;
    padding: 0 15px;
}
.contact-form-grey .wpcf7 textarea:focus, .contact-form-grey .wpcf7 input:focus, .contact-form-grey .wpcf7 select:focus {
    border-bottom: none;
    border-left: solid 15px;
}
.contact-form-grey .wpcf7 textarea {
    max-height: 112px;
}
/*--------------------------------------------------------------
18.     Image Grid Shortcode Styles
--------------------------------------------------------------*/
.image-grid-wrapper > .row:last-child {
    margin-bottom: 0;
}
.image-grid-wrapper > .row {
    margin-bottom: 30px;
}
.image-grid-wrapper .owl-carousel div[class^="col-"] {
    padding: 0;
    width: auto;
    max-width: 100%;
}
.image-grid-wrapper.image-grid-2 .image-grid-inner {
 	overflow: hidden;
}
/*slider*/
.image-grid-wrapper.image-grid-2 .image-grid-inner:hover img {
    -webkit-filter: grayscale(0%);
    filter: gray;
    opacity: 1;
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-animation: clientSlider 550ms forwards;
    -moz-animation: clientSlider 550ms forwards;
    -ms-animation: clientSlider 550ms forwards;
    -o-animation: clientSlider 550ms forwards;
    animation: clientSlider 550ms forwards;
}
.image-grid-wrapper.image-grid-2 .image-grid-inner img {
-webkit-filter: grayscale(100%);
    filter: gray;
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
@-webkit-keyframes clientSlider {
    49% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes clientSlider {
    49% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-ms-keyframes clientSlider {
    49% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-o-keyframes clientSlider {
    49% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes clientSlider {
    49% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
/*--------------------------------------------------------------
19.     List Item
--------------------------------------------------------------*/
.list-item-title {
    line-height: 30px;
}
.list-item-title span {
    padding: 10px;
    font-size: 24px;
    line-height: 30px;
}
.list-item-inner {
    margin-bottom: 10px;
}
/*--------------------------------------------------------------
20.     Content Carousel
--------------------------------------------------------------*/
.content-carousel-wrapper .owl-item img {
    max-width: 100%;
	width:auto;
}
.screenshot:after {
    background-image: url(http://themerail.com/wp/theme/appex/wp-content/themes/appexwp/images/bg/screenshot.png);
    content: "";
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 450px;
    height: 486px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99999;
}
.screenshot {
	position:relative;
	padding-top:67px;
}
@media only screen and (max-width: 1024px) {
	.screenshot:after {
		display:none;
	}
	.screenshot {
		padding-top:0;
	}
}
/***** VC Shortcode Styles *****/
/*--------------------------------------------------------------
21.     Custom Heading
--------------------------------------------------------------*/
.vc_custom_heading {
    margin-bottom: 35px;
}
/*--------------------------------------------------------------
22.     Progress Bar
--------------------------------------------------------------*/
.vc_row .vc_progress_bar .vc_single_bar {
	margin-bottom: 35px;
}
.vc_progress_bar .vc_single_bar .vc_label {
    top: -40px;
	padding-left: 0;
	font-size: 100%;
}
.typo-dark .vc_progress_bar .vc_general.vc_single_bar .vc_label {
    color: #000;
	text-shadow:none;
}
.vc_row .vc_progress_bar .vc_single_bar {
    margin-bottom: 35px;
    margin-top: 60px;
	background:#000;
}
.vc_row .vc_progress_bar .vc_single_bar:first-child {
    margin-top: 75px;
}
.vc_row .vc_progress_bar .vc_single_bar:last-child {
    margin-bottom: 0;
}
.vc_progress_bar .vc_single_bar .vc_bar {
	border-radius:0;
}
.vc_progress_bar .vc_single_bar {
	height: 30px;
	margin-bottom: 30px;
}
.vc_single_bar .vc_label_units {
    margin: 1px 0px;
    top: -26px;
    right: 0;
    position: absolute;
	line-height:1;
}
/*Classic*/
.vc-progress-bar-classic .vc_single_bar .vc_label_units {
    background: #000;
    color: #fff;
    padding: 6px;
    top: -37px;
    right: -18px;
}
.vc-progress-bar-classic .vc_single_bar span.vc_label_units:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
/*Stack*/
.vc-progress-bar-stack.vc_progress_bar .vc_single_bar {
    background: #e0e0e0;
}
/*--------------------------------------------------------------
23.     Accordian
--------------------------------------------------------------*/
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a {
    color: #000 !important;
    font-size: 16px;
    line-height: 16px;
	border-bottom: 1px solid #e1e1e1;
}
.transparent-accordion .vc_tta-panel-heading a, .transparent-accordion .vc_tta-panel-heading i {
    font-size: 14px !important;
    line-height: 18px;
}
.wpb-js-composer .vc_tta.vc_general.transparent-accordion .vc_tta-panel-title>a {
    padding: 10px 46px;
}
/*--------------------------------------------------------------
24.     Call To Action Styles
--------------------------------------------------------------*/
.independent-content-wrapper section.vc_cta3-container {
    padding: 15px 0 0px 0;
    margin-bottom: 15px;
}
.vc_general.vc_cta3 {
    border: 0;
}
.vc_general.vc_cta3 .vc_cta3-content {
    vertical-align: middle;
}
.vc_general.vc_cta3.vc_cta3-actions-right .vc_cta3-content,
.vc_general.vc_cta3.vc_cta3-actions-right .vc_cta3-actions {
    display: inline-block;
}
.vc_general.vc_cta3.vc_cta3-align-center .vc_cta3_content-container {
    text-align: center;
}
/*--------------------------------------------------------------
25.     	Tabs
--------------------------------------------------------------*/
.wpb_tabs_nav a {
    color: #fff;
}
.wpb_tabs_nav li.ui-tabs-active a {
    color: #000;
}
.wpb_wrapper .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
	background:#f2f2f2;
}
.fullwidth-title .vc_toggle_title h4 {
    font-size: 18px;
}
/*--------------------------------------------------------------
26.     	Google Map
--------------------------------------------------------------*/
.gmap-info-wrap {
    text-align: center;
}
/*Category Box*/
.category-box {
    text-align: center;
    border: dashed 1px #eaeaea;
}
.category-box-name {
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
	position: relative;
    margin-bottom: 0;
}
.category-box-name:before,
.category-box-name:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #aaa;
}
.category-box-name:before {
    left: 0;
    right: 0;
}
.category-box-name:after {
    right: 0px;
    left: auto;
}
/*--------------------------------------------------------------
27.     Responsive Shortcode Styles
--------------------------------------------------------------*/
@media screen and ( max-width: 1024px ) {
	.day-counter > div {
		margin-bottom:10px;
	}	
}
@media screen and ( min-width: 768px ) {
    .timeline.tl-left-layout > li > .timeline-badge, .timeline.tl-left-layout > li > .timeline-sep-title {
		left: auto;
	}
	.timeline.tl-left-layout > li.timeline-inverted {
		padding-left: 100px;
	}
	.timeline.tl-left-layout:before {
		left: 100px;
	}
	.timeline.tl-left-layout > li > .timeline-panel {
		width: auto;
		margin-left: 50px;
	}
	.timeline.tl-right-layout > li > .timeline-panel {
		width: auto;
	}
	.timeline.tl-right-layout > li > .timeline-badge, .timeline.tl-right-layout > li > .timeline-sep-title {
		left: unset;
		margin-left: auto;
		right: 0;
	}
	.timeline.tl-right-layout > li > .timeline-badge {
		margin-right: 75px;
	}
	.timeline.tl-right-layout > li {
		padding-right: 150px;
	}
	.timeline.tl-right-layout:before {
		right: 0;
		margin-right: 100px;
		left: auto;
		margin-left: auto;
	}
	.timeline.tl-left-layout .timeline-inverted .timeline-panel {
		margin-left: 0;
		left: 50px;
		float: left;
	}
	.timeline.tl-right-layout .timeline-panel {
		float: right;
	}
}
@media only screen and (max-device-width : 767px){
	.timeline > li.timeline-inverted, .timeline > li:not(.timeline-inverted) {
		padding-left: 70px;
		padding-right: 0;
	}
	.timeline > li > .timeline-panel {
		width: auto;
	}
	.timeline > li > .timeline-badge, .timeline::before {
		left: 25px;
	}
	.timeline > li > .timeline-panel::before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}
	.timeline > li > .timeline-panel::after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
	.timeline > li > .timeline-sep-title, .timeline > li.timeline-inverted > .timeline-sep-title {
		background: #ffffff none repeat scroll 0 0;
		left: 0;
		top: 66px;
		margin-left: 0;
		margin-top: 10px;
		font-size: 16px;
	}
	.timeline > li > .timeline-sep-title > span {
		font-size: 11px;
	}
}
/*--------------------------------------------------------------
28.     Time Table
--------------------------------------------------------------*/
.mp-event .post-format-wrap {
    margin: 0;
}
.mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs {
    padding-left: 0;
    margin-bottom: 40px;
}
.mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li {
    margin: 0 20px 0 0!important;
}
.mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li a {
    border-bottom-width: 3px;
    border-bottom-style: solid;
	border-color: #eee;
	color: #000;
	padding-bottom:7px;
}
/*--------------------------------------------------------------
28.     Learn Press
--------------------------------------------------------------*/
.learn-press-breadcrumb {
    display: none;
}
.single-lp_course .content-area {
    margin-top: 40px;
}
.purchase-course .purchase-button {
    background: #000;
    padding: 10px;
    color: #fff;
}
/*--------------------------------------------------------------
29.     Charitable
--------------------------------------------------------------*/
.donate-button.button:hover {
    background: #000;
}
.single-campaign .campaign-description {
    margin: 20px 0px;
}
.campaign-donation .button {
    background: #000 !important;
}
/*Grid Style */
.campaign-loop.campaign-grid .campaign.hentry h3 {
    font-size: 22px !important;
    line-height: 22px;
}
.donate-button{
    border: 1px solid transparent;
}
.campaign-loop.campaign-grid .campaign.hentry, .campaign-loop.campaign-grid li.campaign {
	 box-shadow: 0px 1px 13px 3px rgba(0,0,0,0.1);
	 -moz-box-shadow: 0px 1px 13px 3px rgba(0,0,0,0.1);
	 -webkit-box-shadow: 0px 1px 13px 3px rgba(0,0,0,0.1);
	 background-color:#fff;
}
.campaign-loop.campaign-grid .campaign-donation .button {
	width:100%;
	text-align:center;
}
.campaign-loop.campaign-list .campaign-donation .button {
    width: auto;
}
a.donate-button:hover {
	-webkit-transition: border-color 500ms linear;
} 
.campaign .campaign-progress-bar {
	background-color:#000;
}
/*Campaign - widget (Menu)*/
.megamenu-widget .widget.widget_charitable_campaigns_widget .campaign {
	display: table;
    border-bottom: 0;
}
.megamenu-widget .widget.widget_charitable_campaigns_widget .campaign .wp-post-image {
	width: 80px;
    height: 75px;
    border-radius: 5px;
	float:left;
	display:table-cell;
	margin-bottom:0;
}
.megamenu-widget .widget.widget_charitable_campaigns_widget .campaign .campaign-title {
	display: table-cell;
	vertical-align: middle;
}
.megamenu-widget .widget.widget_charitable_campaigns_widget .campaign .campaign-title a {
    padding-left: 15px;
    font-size: 13px;
    font-weight: 100;
}
/*charitable widget stats */
.wpb_wrapper .widget.widget_charitable_donation_stats_widget .widget-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 16px;
}
.wpb_wrapper .widget_charitable_donation_stats_widget .donation-stats li {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
}
.widget_charitable_donation_stats_widget .donation-stats li {
    padding: 10px 0;
    font-size: 16px;
}
/*charitable widget LIST */
ol.campaign-loop.campaign-list .campaign-wrap {
    display: table;
    padding: 0 0 25px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.campaign-loop.campaign-list .campaign.hentry, .campaign-loop.campaign-list li.campaign {
    border-bottom: none;
}
.charity-campaigns ol.campaign-loop.campaign-list li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
ol.campaign-loop.campaign-list li:last-child .campaign-wrap {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
ol.campaign-loop.campaign-list .campaign-content-wrap {
    width: 60%;
    float: left;
	padding-left:25px;
}
ol.campaign-loop.campaign-list .campaign-thumbnail-wrap {
    max-width: 40%;
	float:left;
	padding-right:25px;
}
/*RTL*/
/*progress Bar*/
.rtl .vc_progress_bar .vc_single_bar .vc_bar {
    left: auto;
    right: 0;
}
.rtl .vc_single_bar .vc_label_units {
    left: 0;
    transform: translateX(-50%);
    right: auto;
}
/*blog */
.rtl .blog-style-4 .post-thumb > img {
	margin-right:0;
}
.rtl .list-layout .article-inner .post-list-left-part,.rtl .list-layout .article-inner .post-list-right-part {
	float:right;
}
.rtl .list-layout .article-inner .post-list-left-part {
	padding-right:0;
	padding-left:25px;
}
.rtl .blog-zz-list .blog-zz-odd .blog-zz-items {
    right: -60px;
    left: auto;
}
.rtl .blog-zz-list .blog-zz-even .blog-zz-items {
    right: auto;
	left: -60px;
}
/*woo*/
.rtl .woocommerce ul.cart_list li img, .rtl .woocommerce ul.product_list_widget li img {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
/*intropage */
.portfolio-shadow .portfolio-img {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}
.portfolio-shadow .portfolio-wrap {
    padding: 20px;
}
.portfolio-shadow .portfolio-title h4 {
    font-weight: 900;
}
.feature-shadow .feature-box-style-2 {
    box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.1);
}
.font-big .counter-value h3 span {
    font-size: 100px;
	line-height: 100px;
}
.font-big .counter-value h3 span:after {
    content: "+";
}
.intro-page .vc_single_image-wrapper img {
    box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.1);
	 -webkit-box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Crypto Shortcode Styles */
.crypto-stat-down {
    color: #f02222;
}
.crypto-stat-up {
    color: #20c52f;
}
.last-hour-stat-text {
    display: block;
    font-size: 11px;
}
ul.crypto-slider > li {
    padding: 0 10px;
    line-height: 40px;
}
.crypto-slider.crypto-dark,
.crypto-slider.crypto-dark h3, .crypto-slider.crypto-dark h5 {
    color: #fff;
}
.crypto-dark .crypto-short-info .crypto-symbol {
    color: #fff;
}
.crypto-slider.crypto-dark {
	background: #333;
}
.crypto-slider.crypto-light,
.crypto-slider.crypto-light h6, .crypto-slider.crypto-light h5 {
    color: #000;
}
.crypto-light {
	background: #fff;
}
.crypto-light .crypto-short-info .crypto-symbol {
    color: #000;
}
/* liScroll styles */
.tickercontainer {
	width: 100%;
	min-height: 40px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
}
.tickercontainer .mask {
  position: relative;
  width: 100%;
  overflow: hidden;
}
ul.newsticker {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.newsticker li {
  float: left;
  margin: 0 10px;
  padding: 0;
}

/* Crypto Widget Styles */
div.btcwdgt-chart .stats,
div.btcwdgt-chart .btcwdgt-header h2,
div.btcwdgt-text-ticker .btcwdgt-edge {
    background: #000000 !important;
}
div.btcwdgt-chart .btcwdgt-header .stats div,
div.btcwdgt-chart .btcwdgt-header h4 {
    color: #fff !important;
}
div .btcwdgt-s-price {
    max-width: 100% !important;
    margin: 0 !important;
    box-shadow: none !important;
}
.vc_row .btcwdgt-headlines.btcwdgt-light {
    box-shadow: none !important;
}
.crypto-short-info > * {
    vertical-align: middle;
    display: inline-block;
}
.crypto-short-info > img {
    margin-left: 0px !important;
    max-width: 20px;
    height: auto !important;
}
.crypto-short-info .crypto-symbol {
    font-size: 14px;
    margin-left: 6px;
    font-weight: bold;
}
.crypto-short-info {
    margin-right: 6px;
}
.crypto-short-info .crypto-usd {
    font-size: 12px;
    margin-left: 8px;
}
.crypto-short-info .crypto-1h-percent {
    color: #67c624;
    margin-left: 6px;
}
.crypto-short-info .crypto-stat-down {
    color: #ff0000;
}
.crypto-short-info .crypto-stat-up,
.crypto-short-info .crypto-stat-down {
	font-size: 12px;
}

/* Blog Zig Zag Styles */
.blog-zz-list .blog-zz-inner > * {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
.blog-zz-inner .post-category a, 
.blog-zz-inner .post .post-tags a {
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}
.blog-zz-inner .post-category a, 
.blog-zz-inner .post .post-tags a {
    font-size: 12px;
    padding: 5px 10px;
    line-height: 1;
}
.blog-zz-list .blog-zz-inner {
    margin-bottom: 40px;
}
.blog-zz-even .blog-zz-items, .blog-zz-odd .blog-zz-items {
    background: #f7f7f7;
    border: solid 1px #eaeaea;
}
.blog-zz-even .blog-zz-items {
    padding: 60px 40px 50px;
	border-bottom: 0;
}
.blog-zz-odd .blog-zz-items {
    padding: 55px 40px 56px;
	border-top: 0;
}
.blog-zz-grid .blog-zz-items-inner .entry-title a {
    position: relative;
    margin-bottom: 23px;
    display: block;
    padding-bottom: 20px;
}
.blog-zz-grid .blog-zz-items-inner .entry-title a:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 2px;
    background: #5f5f5f;
    left: 0;
    right: 0;
    margin: auto;
}
.blog-zz-list .blog-zz-odd .blog-zz-items,
.blog-zz-list .blog-zz-even .blog-zz-items {
    padding: 40px 40px 40px;
    position: relative;
}
.blog-zz-list .blog-zz-odd .blog-zz-items,
.blog-zz-list .blog-zz-even .blog-zz-items {
    border: solid 1px #eaeaea;
}
.blog-zz-list .blog-zz-odd .blog-zz-items {
    left: -60px;
}
.blog-zz-list .blog-zz-even .blog-zz-items {
    right: -60px;
}
@media only screen and (max-width: 767px) {
	.blog-zz-odd .blog-zz-items {
		margin-bottom: 30px;
	}
	.blog-zz-list .blog-zz-odd .blog-zz-items {
		left: 0;
	}
	.blog-zz-list .blog-zz-even .blog-zz-items {
		right: 0;
	}
	.blog-zz-list .blog-zz-inner > * {
		display: block;
		width: 100%;
	}
	.category-box {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 580px) {
	.site-footer .widget.widget_nav_menu ul.menu > li a {
		padding: 0 13px;
	}
}