
/*
 * independent theme custom style
 */
/* General Styles */
body{
	color: #676767;
	font-family: Open Sans;
	font-weight: 400;
	
	font-size: 14px;
	line-height: 28px;
	
	
	
	
	
	
	
	
	
	
	
}body{
}body .independent-content-inner > .container {
}h1{
	
	font-family: Poppins;
	font-weight: 400;
	
	font-size: 34px;
	line-height: 42px;
	
	
	
	
}h2{
	
	font-family: Poppins;
	font-weight: 400;
	
	font-size: 28px;
	line-height: 36px;
	
	
	
	
}h3{
	
	font-family: Poppins;
	font-weight: 400;
	
	font-size: 26px;
	line-height: 32px;
	
	
	
	
}h4{
	
	font-family: Poppins;
	font-weight: 400;
	
	font-size: 22px;
	line-height: 28px;
	
	
	
	
}h5{
	
	font-family: Poppins;
	font-weight: 400;
	
	font-size: 18px;
	line-height: 24px;
	
	
	
	
}h6{
	
	font-family: Poppins;
	font-weight: 400;
	
	font-size: 14px;
	line-height: 20px;
	
	
	
	
}a{
	color: #111111;
}a:hover{
	color: #0088ff;
}a:active{
	color: #0088ff;
}
/* Widget Typography Styles */
.widget{
	color: #888888;
	font-family: Open Sans;
	font-weight: 400;
	
	font-size: 14px;
	line-height: 26px;
	
	
	
	
}.widget .widget-title{
	color: #333333;
	font-family: Poppins;
	font-weight: 600;
	
	font-size: 18px;
	line-height: 28px;
	
	text-align: center;
	
	
}.container, .boxed-container, .boxed-container .site-footer.footer-fixed, .custom-container  {
	width: 1200px;
}.independent-content > .independent-content-inner > div {
}
/* Header Styles */
header.independent-header {
	
	
	
	
	
	
	}
/* Topbar Styles */
.topbar{
	color: #ffffff;
	font-family: Open Sans;
	font-weight: 400;
	
	font-size: 12px;
	
	
	
	
	background: rgba(24,36,52,1);
}.topbar a{
	color: #aaaaaa;
}.topbar a:hover{
	color: #0088ff;
}.topbar a:active,.topbar a:focus {
	color: #0088ff;
}
.topbar-items > li{
    height: 40px ;
    line-height: 40px ;
}
.header-sticky .topbar-items > li,
.sticky-scroll.show-menu .topbar-items > li{
	height:  ;
    line-height:  ;
}
.topbar-items > li img{
	max-height: 40px ;
}
/* Logobar Styles */
.logobar{
	
	
	
	
	
	
	
	
	
	
}.logobar a{
}.logobar a:hover{
}.logobar a:active,
.logobar a:focus, .logobar .independent-main-menu > li.current-menu-item > a, .logobar .independent-main-menu > li.current-menu-ancestor > a, .logobar a.active {
}
.logobar-items > li{
    height: 120px ;
    line-height: 120px ;
}
.header-sticky .logobar-items > li,
.sticky-scroll.show-menu .logobar-items > li{
	height: 110px ;
    line-height: 110px ;
}
.logobar-items > li img{
	max-height: 120px ;
}
/* Logobar Sticky Styles */
.header-sticky .logobar, .sticky-scroll.show-menu .logobar{
	
}.header-sticky .logobar a, .sticky-scroll.show-menu .logobar a{
}.header-sticky .logobar a:hover, .sticky-scroll.show-menu .logobar a:hover{
}.header-sticky .logobar a:active, .sticky-scroll.show-menu .logobar a:active,
.header-sticky .logobar .independent-main-menu .current-menu-item > a, .header-sticky .logobar .independent-main-menu .current-menu-ancestor > a,
.sticky-scroll.show-menu .logobar .independent-main-menu .current-menu-item > a, .sticky-scroll.show-menu .logobar .independent-main-menu .current-menu-ancestor > a ,
.header-sticky .logobar a.active, .sticky-scroll.show-menu .logobar a.active{
}
.header-sticky .logobar img.custom-logo, .sticky-scroll.show-menu .logobar img.custom-logo{
	max-height: 110px ;
}
/* Navbar Styles */
.navbar{
	color: #ffffff;
	
	
	
	font-size: 13px;
	
	letter-spacing: 0.5px;
	
	
	background: rgba(24,36,52,1);
}.navbar a{
	color: #ffffff;
}.navbar a:hover{
	color: #0088ff;
}.navbar a:active,.navbar a:focus, .navbar .independent-main-menu > li.current-menu-item > a, .navbar .independent-main-menu > li.current-menu-ancestor > a, .navbar a.active {
	color: #0088ff;
}.navbar .secondary-space-toggle > span{
	background-color: #ffffff;
}.header-sticky .navbar .secondary-space-toggle > span,
.sticky-scroll.show-menu .navbar .secondary-space-toggle > span{
	background-color: #ffffff;
}
.navbar-items > li, ul.independent-main-menu > li > a {
    height: 65px ;
    line-height: 65px ;
}
.header-sticky .navbar-items > li,
.sticky-scroll.show-menu .navbar-items > li{
	height: 60px ;
    line-height: 60px ;
}
.navbar-items > li img{
	max-height: 65px ;
}
/* Navbar Sticky Styles */
.header-sticky .navbar, .sticky-scroll.show-menu .navbar{
	color: #ffffff;background: rgba(0,0,0,1);
}.header-sticky .navbar a, .sticky-scroll.show-menu .navbar a {
	color: #ffffff;
}.header-sticky .navbar a:hover, .sticky-scroll.show-menu .navbar a:hover {
	color: #0088ff;
}.header-sticky .navbar a:active, .sticky-scroll.show-menu .navbar a:active,
.header-sticky .navbar .independent-main-menu .current-menu-item > a, .header-sticky .navbar .independent-main-menu .current-menu-ancestor > a,
.sticky-scroll.show-menu .navbar .independent-main-menu .current-menu-item > a, .sticky-scroll.show-menu .navbar .independent-main-menu .current-menu-ancestor > a,
.header-sticky .navbar a.active, .sticky-scroll.show-menu .navbar a.active {
	color: #0088ff;
}
.header-sticky .navbar img.custom-logo, .sticky-scroll.show-menu .navbar img.custom-logo{
	max-height: 60px ;
}
/* Secondary Menu Space Styles */
.secondary-menu-area{width: 350px ;}.secondary-menu-area,.secondary-menu-area .widget{
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	right: -350px;
}.secondary-menu-area.left-overlay, .secondary-menu-area.left-push{
}.secondary-menu-area.right-overlay, .secondary-menu-area.right-push{right: -350px;
}.secondary-menu-area .secondary-menu-area-inner{
}.secondary-menu-area a{
}.secondary-menu-area a:hover{
}.secondary-menu-area a:active{
}
/* Sticky Header Styles */
.sticky-header-space{
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}.sticky-header-space li a{
}.sticky-header-space li a:hover{
}.sticky-header-space li a:active{
}
/* Mobile Header Styles */
.mobile-header-items > li{
    height: 80px ;
    line-height: 80px ;
}
.mobile-header .mobile-header-inner ul > li img {
	max-height: 80px ;
}
.mobile-header{background: rgba(255,255,255,1);
}.mobile-header-items li a{
}.mobile-header-items li a:hover{
}.mobile-header-items li a:active{
}
.header-sticky .mobile-header-items > li, .show-menu .mobile-header-items > li{
    height: 75px ;
    line-height: 75px ;
}
.header-sticky .mobile-header-items > li .mobile-logo img, .show-menu .mobile-header-items > li .mobile-logo img{
	max-height: 75px ;
}
.mobile-header .header-sticky, .mobile-header .show-menu{}.header-sticky .mobile-header-items li a, .show-menu .mobile-header-items li a{
}.header-sticky .mobile-header-items li a:hover, .show-menu .mobile-header-items li a:hover{
}.header-sticky .mobile-header-items li a:hover, .show-menu .mobile-header-items li a:hover{
}
/* Mobile Bar Styles */
.mobile-bar{
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}.mobile-bar li a{
}.mobile-bar li a:hover{
}.mobile-bar li a:active, .mobile-bar li.current-menu-item > a, 
ul > li.current-menu-parent > a, .mobile-bar li.current-menu-ancestor > a{
}
/* Top Sliding Bar Styles */
/* General Menu Styles */
.menu-tag-hot{
	background-color: #dd2525;
}.menu-tag-new{
	background-color: #7100e2;
}.menu-tag-trend{
	background-color: #0088ff;
}
/* Main Menu Styles */
ul.independent-main-menu > li > a,
ul.independent-main-menu > li > .main-logo{
	
	font-family: Poppins;
	font-weight: 500;
	
	font-size: 14px;
	
	
	
	text-transform: uppercase;
	
}
/* Dropdown Menu Styles */
ul.dropdown-menu{
}ul.dropdown-menu > li{
	color: #222222;
	font-family: Open Sans;
	font-weight: 600;
	
	font-size: 13px;
	line-height: 14px;
	
	
	
	
}ul.dropdown-menu > li a,
ul.mega-child-dropdown-menu > li a,
.header-sticky ul.dropdown-menu > li a, .sticky-scroll.show-menu ul.dropdown-menu > li a,
.header-sticky ul.mega-child-dropdown-menu > li a, .sticky-scroll.show-menu ul.mega-child-dropdown-menu > li a {
	color: #222222;
}ul.dropdown-menu > li a:hover,
ul.mega-child-dropdown-menu > li a:hover,
.header-sticky ul.dropdown-menu > li a:hover, .sticky-scroll.show-menu ul.dropdown-menu > li a:hover,
.header-sticky ul.mega-child-dropdown-menu > li a:hover, .sticky-scroll.show-menu ul.mega-child-dropdown-menu > li a:hover {
	color: #0088ff;
}ul.dropdown-menu > li a:active,
ul.mega-child-dropdown-menu > li a:active,
.header-sticky ul.dropdown-menu > li a:active, .sticky-scroll.show-menu ul.dropdown-menu > li a:active,
.header-sticky ul.mega-child-dropdown-menu > li a:active, .sticky-scroll.show-menu ul.mega-child-dropdown-menu > li a:active,
ul.dropdown-menu > li.current-menu-item > a, ul.dropdown-menu > li.current-menu-parent > a, ul.mega-child-dropdown-menu > li.current_page_item a {
	color: #0088ff;
}
/* Template Page Title Styles */
.independent-single-post .page-title-wrap-inner{
		color: ;
	
	
	
	
	
	
	
	}.independent-single-post .page-title-wrap a{
	}.independent-single-post .page-title-wrap a:hover{
	}.independent-single-post .page-title-wrap a:active{
	}.independent-single-post .page-title-wrap-inner > .page-title-overlay{
	}.independent-blog .page-title-wrap-inner{
		color: ;
	
	
	
	
	
	
	
	}.independent-blog .page-title-wrap a{
	}.independent-blog .page-title-wrap a:hover{
	}.independent-blog .page-title-wrap a:active{
	}.independent-blog .page-title-wrap-inner > .page-title-overlay{
	}.independent-page .page-title-wrap-inner{
		color: ;
	
	
	
	
	
	
	
	}.independent-page .page-title-wrap a{
	}.independent-page .page-title-wrap a:hover{
	}.independent-page .page-title-wrap a:active{
	}.independent-page .page-title-wrap-inner > .page-title-overlay{
	}.independent-archive .page-title-wrap-inner{
		color: ;
	
	
	
	
	
	
	
	}.independent-archive .page-title-wrap a{
	}.independent-archive .page-title-wrap a:hover{
	}.independent-archive .page-title-wrap a:active{
	}.independent-archive .page-title-wrap-inner > .page-title-overlay{
	}
/* Template Article Styles */
.single-post-template article.post{
		color: #444444;
	}.single-post-template article.post a{
	}.single-post-template article.post a:hover{
	}.single-post-template article.post a:active{
	}.single-post-template .post-format-wrap{
			
			
		}.single-post-template .post-quote-wrap > .blockquote, .single-post-template .post-link-inner, .single-post-template .post-format-wrap .post-audio-wrap{
			
			
		}.blog-template article.post{
		color: #888888;
				border-top-width: 1px;
				border-top-style: solid;
				border-top-color: #eeeeee;
				border-right-width: 1px;
				border-right-style: solid;
				border-right-color: #eeeeee;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: #eeeeee;
				border-left-width: 1px;
				border-left-style: solid;
				border-left-color: #eeeeee;padding-top: 25px;padding-right: 25px;padding-bottom: 25px;padding-left: 25px;
	}.blog-template article.post a{
	}.blog-template article.post a:hover{
	}.blog-template article.post a:active{
	}.blog-template .post-format-wrap{
			margin-left: -25px;
			margin-right: -25px;
		}.blog-template .post-quote-wrap > .blockquote, .blog-template .post-link-inner, .blog-template .post-format-wrap .post-audio-wrap{
			padding-left: 25px;
			padding-right: 25px;
		}.archive-template article.post{
		color: ;background: rgba(247,247,247,1);
				border-top-width: 1px;
				border-top-style: solid;
				border-top-color: #eeeeee;
				border-right-width: 1px;
				border-right-style: solid;
				border-right-color: #eeeeee;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: #eeeeee;
				border-left-width: 1px;
				border-left-style: solid;
				border-left-color: #eeeeee;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;
	}.archive-template article.post a{
	}.archive-template article.post a:hover{
	}.archive-template article.post a:active{
	}.archive-template .post-format-wrap{
			margin-left: -20px;
			margin-right: -20px;
		}.archive-template .post-quote-wrap > .blockquote, .archive-template .post-link-inner, .archive-template .post-format-wrap .post-audio-wrap{
			padding-left: 20px;
			padding-right: 20px;
		}
/* Blockquote / Audio / Link Styles */
.post-quote-wrap > .blockquote{
	border-left-color: #0088ff;
}.post-audio-wrap{
	background-color: #0088ff;
}.single-post-template .post-quote-wrap > .blockquote{
			background-color: rgba(0, 0, 0, 0.7);
		}.blog-template .post-quote-wrap > .blockquote{
			background-color: rgba(0, 0, 0, 0.7);
		}.archive-template .post-quote-wrap > .blockquote{
			background-color: rgba(0, 0, 0, 0.7);
		}.single-post-template .post-link-inner{
			background-color: rgba(0, 0, 0, 0.7);
		}.blog-template .post-link-inner{
			background-color: rgba(0, 0, 0, 0.7);
		}.archive-template .post-link-inner{
			background-color: rgba(0, 0, 0, 0.7);
		}
/* Post Item Overlay Styles */
.post-overlay-items{
	color: ;
}.post-overlay-items a{
}.post-overlay-items a:hover{
}.post-overlay-items a:hover{
}
/* Footer Styles */
.site-footer{
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}.site-footer .widget{
	
	
	
	
	
	
	
	
	
	
}
footer.site-footer:before {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: "";
	background-color: ;
}.site-footer a{
}.site-footer a:hover{
}.site-footer a:hover{
}
/* Footer Top Styles */
.footer-top-wrap{
	
	
	
	
	
	
	
	
	
	
}.footer-top-wrap .widget{
	
	
	
	
	
	
	
	
	
	
}.footer-top-wrap a{
}.footer-top-wrap a:hover{
}.footer-top-wrap a:hover{
}.footer-top-wrap .widget .widget-title {
	color: ;
}
/* Footer Middle Styles */
.footer-middle-wrap{
	
	
	
	
	
	
	
	
	
	
}.footer-middle-wrap .widget{
	
	
	
	
	
	
	
	
	
	
}.footer-middle-wrap a{
}.footer-middle-wrap a:hover{
}.footer-middle-wrap a:active{
}.footer-middle-wrap .widget .widget-title {
	color: ;
}
/* Footer Bottom Styles */
.footer-bottom{
	color: #999999;
	
	
	
	
	
	
	
	
	background: rgba(0,0,0,1);padding-top: 20px;padding-bottom: 20px;
}.footer-bottom .widget{
	color: #999999;
	
	
	
	
	
	
	
	
	
}.footer-bottom a{
	color: #999999;
}.footer-bottom a:hover{
	color: #0088ff;
}.footer-bottom a:active{
	color: #0088ff;
}.footer-bottom-wrap .widget .widget-title {
	color: ;
}
/* Theme Extra Styles */
.theme-color {
	color: #0088ff;
}.theme-color-bg {
	background-color: #0088ff;
}
/*----------- News Blocks Style----------- */
.category-tag {
	background-color: #0088ff;
}
/*----------- General Style----------- */
::selection {
	background : #0088ff;
}.top-sliding-toggle.fa-minus {
	border-top-color : #0088ff;
}.typo-white .entry-title:hover {
	color : #0088ff;
}
/*----------- Menu----------- */
.dropdown:hover > .dropdown-menu {
	border-color: #0088ff;
}
/*----------- Search Style----------- */
.search-form .input-group .btn {
	background: #0088ff;
}.full-search-wrapper .search-form .input-group .btn {
	border-color: #0088ff;
}.form-control:focus ,input.search-field:focus{
	border-color: #0088ff !important;
}
/*----------- Button Style----------- */
.btn, button , .btn.bordered:hover{
	background: #0088ff;
}.btn.classic:hover {
	background: #0088ff;
}.btn.bordered {
	border-color: #0088ff;
	color: #0088ff;
}.btn:hover, button:hover, .search-form .input-group .btn:hover {
	border-color: #0088ff;
}
/* -----------Pagination Style----------- */
.nav.pagination > li.nav-item.active span, 
.nav.pagination > li.nav-item a:hover { 
	background: #0088ff;
}
/*----------- Select Style ----------- */
select:focus,.wpcf7 textarea:focus, .wpcf7 input:focus, .wpcf7 select:focus {
	border-color: #0088ff;
}
/*----------- Header Styles---------------- */
.close:before, .close:after { 
	background: #0088ff;
}.nav-link:focus, .nav-link:hover { 
	color: #0088ff;
}.zmm-dropdown-toggle { 
	color: #0088ff;
}
/*----------- Post Style----------- */
.post-more .read-more:hover, .post-meta .read-more:hover {
	background: #0088ff;
}
/*----------- Post Meta----------- */
.post-meta li a:hover, .post-meta .post-date a:hover, .post-meta .post-category a:hover,
article.post .post-format-wrap .post-overlay-items .post-meta ul li a:hover {
	color: #0088ff;
}.post-navigation .nav-links .nav-previous a:hover, .post-navigation .nav-links .nav-next a:hover {
	color: #0088ff;
}.independent-single-post .author-url a:hover {
	background: #0088ff;
}
/*----------- Post Navigation ---------*/
/*----------- Calender---------------- */
.calendar_wrap th ,tfoot td { 
	background: #0088ff;
}.widget_calendar caption {
	border-color: #0088ff;
}
/*----------- Calender---------------- */
/*----------- Archive---------------- */
.widget_archive li:before { 
	color: #0088ff;
}
/*----------- Instagram widget---------------- */
.null-instagram-feed p a { 
	background: #0088ff;
}
/*----------- Tag Cloud---------------- */
/*----------- Service Menu---------------- */
.widget-area .widget .menu-item-object-independent-service a:hover,
.widget-area .widget .menu-item-object-independent-service.current-menu-item a { 
	background: #0088ff;
}
/*----------- Service Menu---------------- */
.widget-area .widget .menu-item-object-independent-service a { 
	border-color: #0088ff;
}
/*----------- Post Nav---------------- */
.widget.independent_latest_post_widget a:hover,
.zozo_advance_tab_post_widget a:hover { 
	color: #0088ff;
}
/*----------- Back to top---------------- */
.back-to-top > i { 
	background: #0088ff;
}
/*----------- Owl Carousel---------------- */
.owl-dot span , .owl-prev, .owl-next  { 
	background: #0088ff;
}
/*----------- Shortcodes---------------- */
.typo-white .client-name:hover,.team-wrapper .team-overlay a.client-name:hover,.team-dark .client-name:hover,
.entry-title a:hover,.blog-dark .entry-title a:hover,
.portfolio-title a:hover, .portfolio-overlay a:hover,
.services-dark .entry-title:hover,.entry-title:hover { 
	color: #0088ff !important;
}.title-separator.separator-border { 
	background-color: #0088ff;
}.twitter-3 .tweet-info { 
	border-color: #0088ff;
}.twitter-dark a:hover { 
	color: #0088ff;
}.header-inner .media i { 
	background: #0088ff;
}
/*----------- Blog---------------- */
.blog-dark .blog-inner a:hover { 
	color: #0088ff;
}.blog-style-3 .post-thumb { 
	border-color: #0088ff;
}
/*----------- Blog List---------------- */
/*----------- Pricing table---------------- */
.price-text { 
	color: #0088ff;
}.pricing-style-3 .pricing-inner-wrapper,.pricing-table-wrapper .btn:hover { 
	border-color: #0088ff;
}.pricing-style-2 .price-text p { 
	color: #0088ff;
}.pricing-style-3 ul.pricing-features-list > li {
	box-shadow: 0 7px 10px -9px rgba(0,136,255, 0.8);
}
/*-----------Compare Pricing table---------------- */
.compare-pricing-wrapper .pricing-table-head, .compare-features-wrap { 
	background: #0088ff;
}
/*-----------Counter Style---------------- */
.counter-wrapper.counter-style-2 { 
	border-color: #0088ff;
}.font-big .counter-value h3 span { 
	color: #0088ff;
}
/*-----------Testimonials---------------- */
.testimonial-wrapper.testimonial-3 .testimonial-inner, .testimonial-wrapper.testimonial-3 .testimonial-thumb img { 
	border-color: #0088ff;
}.testimonial-3 .testimonial-name a { 
	background: #0088ff;
}
/*-----------Events---------------- */
.events-date { 
	background: #0088ff;
}.events-date { 
	border-color: #0088ff;
}.events-inner .read-more:hover { 
	color: #0088ff;
}
/*-----------Team---------------- */
.team-wrapper.team-3 .team-inner > .team-thumb { 
	border-color: #0088ff;
}.team-1 .team-designation > p { 
	background: #0088ff;
}.team-2 .team-overlay-actived .team-thumb:before, .team-2 .team-overlay-actived .team-thumb:after { 
	border-color: #0088ff;
}.single-independent-team .team-social-wrap ul.social-icons > li > a:hover { 
	background: #0088ff;
}
/*-----------Portfolio---------------- */
.portfolio-masonry-layout .portfolio-angle .portfolio-title h4:after {
	background-color: #0088ff;
}span.portfolio-meta-icon , ul.portfolio-share.social-icons > li > a:hover{
	color: #0088ff;
}.portfolio-filter.filter-1 ul > li.active > a, .portfolio-filter.filter-1 ul > li > a:hover {
	background-color: #0088ff;
}.portfolio-filter.filter-1 ul > li > a, .portfolio-filter.filter-1 ul > li > a:hover {
	border: solid 1px #0088ff;
}.portfolio-filter.filter-1 ul > li > a {
	border-color: #0088ff;
}.portfolio-masonry-layout .portfolio-classic .portfolio-content-wrap {
	background: #0088ff;
}.portfolio-filter.filter-2 .active a.portfolio-filter-item {
	color: #0088ff;
}.portfolio-slide .portfolio-content-wrap > .portfolio-title {
	background: #0088ff;
}.portfolio-minimal .portfolio-overlay-wrap:before,
.portfolio-minimal .portfolio-overlay-wrap:after { 
 border-color: #0088ff;
}.portfolio-angle .portfolio-overlay-wrap:before { 
 background: linear-gradient(-45deg, rgba(0, 0, 0, 0.75) 0%, rgba(0,136,255, 0.86) 100%);
 
}.portfolio-overlay .portfolio-icons a:hover i { 
	color: #0088ff;
}
/*-----------Feature Box---------------- */
span.feature-box-ribbon { 
	background: #0088ff;
}
/*-----------Flipbox---------------- */
[class^='imghvr-shutter-out-']:before, [class*=' imghvr-shutter-out-']:before,
[class^='imghvr-shutter-in-']:after, [class^='imghvr-shutter-in-']:before, [class*=' imghvr-shutter-in-']:after, [class*=' imghvr-shutter-in-']:before,
[class^='imghvr-reveal-']:before, [class*=' imghvr-reveal-']:before { 
	background: #0088ff;
}
/*-----------Progress Bar---------------- */
.vc_progress_bar .vc_single_bar .vc_bar { 
	background: #0088ff;
}
/*-----------Accordion---------------- */
.wpb-js-composer .transparent-accordion.vc_tta-color-grey.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading { 
	border-color: #0088ff;
}
/*-----------Services---------------- */
.services-2 .services-title a { 
	background: #0088ff;
}.services-wrapper.services-1 .services-inner > .services-thumb , .services-3 .services-inner > .services-thumb { 
	border-color: #0088ff;
}
/*-----------Contact form 7---------------- */
.wpcf7 input[type="submit"] { 
	background: #0088ff;
}.contact-form-classic .wpcf7 textarea, .contact-form-classic .wpcf7 input, .contact-form-classic .wpcf7 select,
.wpcf7 textarea:focus, .wpcf7 input:focus, .wpcf7 select:focus, .invalid div.wpcf7-validation-errors { 
 	border-color: #0088ff;
}.contact-form-grey .wpcf7 textarea:focus, .contact-form-grey .wpcf7 input:focus, .contact-form-grey .wpcf7 select:focus { 
 	border-color: #0088ff;
}.mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li.active a, .mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li:hover a { 
 	border-color: #0088ff;
}.mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li.active a, .mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li:hover a { 
	border-color: #0088ff;
}
/*-----------Tab---------------- */
.wpb_tabs .wpb_tabs_nav li { 
	background: #0088ff;
}.wpb-js-composer .vc_tta-container .vc_tta-style-classic.theme-tab .vc_tta-tab> a { 
	background: #0088ff;
}
/*-----------Flipbox---------------- */
/*-----------Charity---------------- */
.donate-button.button { 
	background: #0088ff;
}.campaign-raised .amount, .campaign-figures .amount, .donors-count, .time-left, .charitable-form-field a:not(.button), .charitable-form-fields .charitable-fieldset a:not(.button), .charitable-notice, .charitable-notice .errors a {
	color: #0088ff !important;
}.campaign-progress-bar .bar, .donate-button, .charitable-donation-form .donation-amount.selected, .charitable-donation-amount-form .donation-amount.selected {
	background: #0088ff !important;
}
/*-----------Woocommerce---------------- */
.woocommerce ul.products li.product .price,
.woocommerce .product .price,
.woocommerce.single  .product .price,
.woocommerce p.stars a { 
 color: #0088ff;
}.woocommerce .product .onsale,.woocommerce nav.woocommerce-pagination ul li span.current { 
 background-color: #0088ff;
}.woocommerce .product .button, 
.woocommerce.single .product .button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce button.button,
.woocommerce ul.products li.product .woo-thumb-wrap .button:hover { 
 background-color: #0088ff;
}.woocommerce .widget_price_filter .ui-slider .ui-slider-range { 
 background-color: #0088ff;
}.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,.dropdown-menu.cart-dropdown-menu .mini-view-cart a { 
 background: #0088ff;
}
/*-----------Widgets---------------- */
.widget .widget-title:before,
.related-articles-wrap .related-title:before { 
 background-color: #0088ff;
}.widget .nav.nav-tabs { 
	border-color: #0088ff;
}.widget-title { 
	border-top-color: #0088ff;
}.widget.independent_latest_post_widget li .side-item:hover .post-serial { 
 background-color: #0088ff;
}
/*----------- Scrollbar ---------------- */
.player-type-3 .video-playlist-wrapper::-webkit-scrollbar-thumb { 
 background-color: #0088ff;
}
/*----------- News Related Styles ---------------- */
/*----------- Banner ---------------- */
.category-tag { 
 	color: #0088ff;
}.category-tag:after, .independent-block-overlay .post-category > a:before, .category-tag:hover:after {
 	border-top-color: #0088ff;
}.independent-block-title.title-style-1:before, .independent-block-overlay .post-category > a { 
 	background-color: #0088ff;
}.gradient-theme-overlay { 
 background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0,136,255, 0.86) 100%);
}.hvr-overlay-wrapper:hover .gradient-theme-overlay {
 background: linear-gradient(-45deg, rgba(0,136,255, 0.86), rgba(0, 0, 0, 0.99) 100%);
}.independent-block .news-tabs ul.more-tab-dropdown > li > a:hover,
.independent-news-slider .independent-block-overlay .post-meta li a span.before-icon,
.independent-block.independent-block-3.custom-list-dark .independent-block-list.big-list .post-title a:hover,
.nav.news-tabs > li > a:hover { 
 color: #0088ff;
}.news-ticker-title, .news-ticker-navs > i { 
 	background-color: #0088ff;
}.independent-block.independent-block-3.custom-list-dark .independent-block-list.big-list .post-list-content a.read-more { 
 	background-color: #0088ff;
}.independent-slider-nav .slide-nav > li > a:hover { 
 	background-color: #0088ff;
	border-color: #0088ff;
}
/*-----------Social Widget---------------- */
ul.social-icons.social-theme > li a, 
ul.social-icons.social-hbg-theme > li a:hover,
ul.social-icons.social-bg-light > li a:hover {
	background-color: #0088ff;
}ul.social-icons.social-bg-light > li a:hover,
.single-post-template article ul.social-icons > li > a:hover {
	background-color: #0088ff;
}ul.social-icons.social-theme > li a, 
ul.social-icons.social-h-theme > li a:hover,
.custom-post-nav ul.social-icons > li > a:hover,
.topbar-items ul.social-icons > li > a:hover { 
	color: #0088ff;
}.most-viewed-post-image .most-viewed-index {
	background-color: #0088ff;
}
/* Theme Option Custom Styles */