
/*
 * independent theme custom style
 */
/* General Styles */
body{
	color: #505050;
	font-family: Roboto;
	font-weight: 400;
	
	font-size: 15px;
	line-height: 29px;
	
	
	
	
	
	
	
	
	
	
	
}body{
}body .independent-content-inner > .container {
	
	
	
	
	
	
	
}h1{
	
	font-family: Roboto Slab;
	font-weight: 400;
	
	font-size: 34px;
	line-height: 42px;
	
	
	
	
}h2{
	color: #282f2f;
	font-family: Roboto Slab;
	font-weight: 700;
	
	font-size: 28px;
	line-height: 36px;
	
	
	
	
}h3{
	color: #2d2d2d;
	font-family: Roboto Slab;
	font-weight: 700;
	
	font-size: 26px;
	line-height: 34px;
	
	
	
	
}h4{
	color: #282f2f;
	font-family: Roboto Slab;
	font-weight: 700;
	
	font-size: 20px;
	line-height: 29px;
	
	
	
	
}h5{
	color: #282f2f;
	font-family: Roboto Slab;
	font-weight: 700;
	
	font-size: 18px;
	line-height: 28px;
	
	
	
	
}h6{
	color: #282f2f;
	font-family: Roboto Slab;
	font-weight: 700;
	
	font-size: 14px;
	line-height: 25px;
	
	
	
	
}a{
	color: #282f2f;
}a:hover{
	color: #E22122;
}a:active{
	color: #E22122;
}
/* Widget Typography Styles */
.widget{
	color: #505050;
	font-family: Roboto;
	font-weight: 400;
	
	font-size: 15px;
	line-height: 29px;
	
	
	
	
}.widget .widget-title, .widget .independent-block-title span {
	color: #272727;
	font-family: Roboto Slab;
	font-weight: 700;
	
	font-size: 18px;
	line-height: 28px;
	
	text-align: left;
	
	
}.page-loader {background: url('https://kitchencenter.pe/novedades/wp-content/uploads/2019/01/sports-loader.gif') 50% 50% no-repeat rgb(249,249,249);}.container, .boxed-container, .boxed-container .site-footer.footer-fixed, .custom-container  {
	width: 1170px;
}.independent-content > .independent-content-inner > div {padding-bottom: 20px;
}
/* Header Styles */
header.independent-header {
	background-color: #f9f9f9;
	
	
	
	
	
	}
/* Topbar Styles */
.topbar{
	color: #545454;
	font-family: Roboto Slab;
	
	
	font-size: 12px;
	
	
	
	
	background: rgba(255,255,255,1);
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: #e5e5e5;
}.topbar a{
	color: #545454;
}.topbar a:hover{
	color: #E22122;
}.topbar a:active,.topbar a:focus {
	color: #E22122;
}
.topbar-items > li{
    height: 40px ;
    line-height: 40px ;
}
.header-sticky .topbar-items > li,
.sticky-scroll.show-menu .topbar-items > li{
	height:  ;
    line-height:  ;
}
.topbar-items > li img{
	max-height: 40px ;
}
/* Logobar Styles */
.logobar{
	
	font-family: Roboto Slab;
	
	
	font-size: 16px;
	
	
	
	
	
}.logobar a{
}.logobar a:hover{
}.logobar a:active,
.logobar a:focus, .logobar .independent-main-menu > li.current-menu-item > a, .logobar .independent-main-menu > li.current-menu-ancestor > a, .logobar a.active {
}
.logobar-items > li{
    height: 160px ;
    line-height: 160px ;
}
.header-sticky .logobar-items > li,
.sticky-scroll.show-menu .logobar-items > li{
	height: 0px ;
    line-height: 0px ;
}
.logobar-items > li img{
	max-height: 160px ;
}
/* Logobar Sticky Styles */
.header-sticky .logobar, .sticky-scroll.show-menu .logobar{
	
}.header-sticky .logobar a, .sticky-scroll.show-menu .logobar a{
}.header-sticky .logobar a:hover, .sticky-scroll.show-menu .logobar a:hover{
}.header-sticky .logobar a:active, .sticky-scroll.show-menu .logobar a:active,
.header-sticky .logobar .independent-main-menu .current-menu-item > a, .header-sticky .logobar .independent-main-menu .current-menu-ancestor > a,
.sticky-scroll.show-menu .logobar .independent-main-menu .current-menu-item > a, .sticky-scroll.show-menu .logobar .independent-main-menu .current-menu-ancestor > a ,
.header-sticky .logobar a.active, .sticky-scroll.show-menu .logobar a.active{
}
.header-sticky .logobar img.custom-logo, .sticky-scroll.show-menu .logobar img.custom-logo{
	max-height: 0px ;
}
/* Navbar Styles */
.navbar{
	color: #272727;
	font-family: Roboto;
	font-weight: 700;
	
	font-size: 14px;
	
	letter-spacing: 0.5px;
	
	text-transform: uppercase;
	background: rgba(249,249,249,1);
				border-top-width: 1px;
				border-top-style: solid;
				border-top-color: #d9d9d9;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: #d9d9d9;
}.navbar a{
	color: #272727;
}.navbar a:hover{
	color: #E22122;
}.navbar a:active,.navbar a:focus, .navbar .independent-main-menu > li.current-menu-item > a, .navbar .independent-main-menu > li.current-menu-ancestor > a, .navbar a.active {
	color: #E22122;
}.navbar .secondary-space-toggle > span {
	background-color: #272727;
}.header-sticky .navbar .secondary-space-toggle > span,
.sticky-scroll.show-menu .navbar .secondary-space-toggle > span{
	background-color: #272727;
}
.navbar-items > li {
    height: 60px ;
    line-height: 60px ;
}
.header-sticky .navbar-items > li,
.sticky-scroll.show-menu .navbar-items > li{
	height: 60px ;
    line-height: 60px ;
}
.navbar-items > li img{
	max-height: 60px ;
}
/* Navbar Sticky Styles */
.header-sticky .navbar, .sticky-scroll.show-menu .navbar{
	color: #272727;background: rgba(255,255,255,1);
				border-top-width: 1px;
				border-top-style: solid;
				border-top-color: #d9d9d9;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: #d9d9d9;
}.header-sticky .navbar a, .sticky-scroll.show-menu .navbar a {
	color: #272727;
}.header-sticky .navbar a:hover, .sticky-scroll.show-menu .navbar a:hover {
	color: #E22122;
}.header-sticky .navbar a:active, .sticky-scroll.show-menu .navbar a:active,
.header-sticky .navbar .independent-main-menu .current-menu-item > a, .header-sticky .navbar .independent-main-menu .current-menu-ancestor > a,
.sticky-scroll.show-menu .navbar .independent-main-menu .current-menu-item > a, .sticky-scroll.show-menu .navbar .independent-main-menu .current-menu-ancestor > a,
.header-sticky .navbar a.active, .sticky-scroll.show-menu .navbar a.active {
	color: #E22122;
}
.header-sticky .navbar img.custom-logo, .sticky-scroll.show-menu .navbar img.custom-logo{
	max-height: 60px ;
}
/* Secondary Menu Space Styles */
.secondary-menu-area{width: 350px ;}.secondary-menu-area,.secondary-menu-area .widget{
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	left: -350px;
}.secondary-menu-area.left-overlay, .secondary-menu-area.left-push{left: -350px;
}.secondary-menu-area.right-overlay, .secondary-menu-area.right-push{
}.secondary-menu-area .secondary-menu-area-inner{
}.secondary-menu-area a{
}.secondary-menu-area a:hover{
}.secondary-menu-area a:active{
}
/* Sticky Header Styles */
.sticky-header-space{
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}.sticky-header-space li a{
	color: #ffffff;
}.sticky-header-space li a:hover{
	color: #ffffff;
}.sticky-header-space li a:active{
	color: #ffffff;
}
/* Mobile Header Styles */
.mobile-header-items > li{
    height: 80px ;
    line-height: 80px ;
}
.mobile-header .mobile-header-inner ul > li img {
	max-height: 80px ;
}
.mobile-header{
}.mobile-header-items li a{
	color: #262626;
}.mobile-header-items li a:hover{
	color: #c6861f;
}.mobile-header-items li a:active{
}
.header-sticky .mobile-header-items > li, .show-menu .mobile-header-items > li{
    height: 75px ;
    line-height: 75px ;
}
.header-sticky .mobile-header-items > li .mobile-logo img, .show-menu .mobile-header-items > li .mobile-logo img{
	max-height: 75px ;
}
.mobile-header .header-sticky, .mobile-header .show-menu{}.header-sticky .mobile-header-items li a, .show-menu .mobile-header-items li a{
}.header-sticky .mobile-header-items li a:hover, .show-menu .mobile-header-items li a:hover{
}.header-sticky .mobile-header-items li a:hover, .show-menu .mobile-header-items li a:hover{
}
/* Mobile Bar Styles */
.mobile-bar{
	color: #ffffff;
	
	
	
	
	
	
	
	
	
	background-color: #545454;
	
	
	
	
	
	
}.mobile-bar li a{
	color: #ffffff;
}.mobile-bar li a:hover{
	color: #cc922e;
}.mobile-bar li a:active, .mobile-bar li.current-menu-item > a, 
.mobile-bar ul>li.current-menu-parent>a, .mobile-bar li.current-menu-ancestor > a{
}
/* Top Sliding Bar Styles */
.header-inner .main-logo img{
    max-height: 100px ;
}
.header-inner .sticky-logo img{
    max-height: 100px !important;
}
.mobile-header .mobile-header-inner ul > li img ,
.mobile-bar-items .mobile-logo img {
    max-height: 30px !important;
}
/* General Menu Styles */
.menu-tag-hot{
	background-color: #dd2525;
}.menu-tag-new{
	background-color: #7100e2;
}.menu-tag-trend{
	background-color: #0088ff;
}
/* Main Menu Styles */
ul.independent-main-menu > li > a,
ul.independent-main-menu > li > .main-logo{
	
	
	
	
	
	
	
	
	
	
}
/* Dropdown Menu Styles */
ul.dropdown-menu{
}ul.dropdown-menu > li{
	color: #282828;
	font-family: Roboto Slab;
	font-weight: 400;
	
	font-size: 13px;
	line-height: 27px;
	
	
	text-transform: capitalize;
	
}ul.dropdown-menu > li a,
ul.mega-child-dropdown-menu > li a,
.header-sticky ul.dropdown-menu > li a, .sticky-scroll.show-menu ul.dropdown-menu > li a,
.header-sticky ul.mega-child-dropdown-menu > li a, .sticky-scroll.show-menu ul.mega-child-dropdown-menu > li a {
	color: #282828;
}ul.dropdown-menu > li a:hover,
ul.mega-child-dropdown-menu > li a:hover,
.header-sticky ul.dropdown-menu > li a:hover, .sticky-scroll.show-menu ul.dropdown-menu > li a:hover,
.header-sticky ul.mega-child-dropdown-menu > li a:hover, .sticky-scroll.show-menu ul.mega-child-dropdown-menu > li a:hover {
	color: #E22122;
}ul.dropdown-menu > li a:active,
ul.mega-child-dropdown-menu > li a:active,
.header-sticky ul.dropdown-menu > li a:active, .sticky-scroll.show-menu ul.dropdown-menu > li a:active,
.header-sticky ul.mega-child-dropdown-menu > li a:active, .sticky-scroll.show-menu ul.mega-child-dropdown-menu > li a:active,
ul.dropdown-menu > li.current-menu-item > a, ul.dropdown-menu > li.current-menu-parent > a, ul.mega-child-dropdown-menu > li.current_page_item a,
.header-sticky .navbar .independent-main-menu .dropdown-menu .current-menu-item > a,
.header-sticky .navbar .independent-main-menu .dropdown .current-menu-ancestor>a {
	color: #E22122;
}
/* Template Page Title Styles */
.independent-single-post .page-title-wrap-inner{
		color: ;
	background-color: #ffffff;
	
	
	
	
	
	padding-bottom: 0;
	}.independent-single-post .page-title-wrap a{
	}.independent-single-post .page-title-wrap a:hover{
	}.independent-single-post .page-title-wrap a:active{
	}.independent-single-post .page-title-wrap-inner > .page-title-overlay{
	}.independent-blog .page-title-wrap-inner{
		color: #505050;
	background-color: #ffffff;
	
	
	
	
	
	padding-top: 40px;padding-bottom: 0;
	}.independent-blog .page-title-wrap a{
	color: #505050;
	}.independent-blog .page-title-wrap a:hover{
	color: #001b2b;
	}.independent-blog .page-title-wrap a:active{
	color: #157c8e;
	}.independent-blog .page-title-wrap-inner > .page-title-overlay{
	}.independent-page .page-title-wrap-inner{
		color: ;
	
	
	
	
	
	
	
	}.independent-page .page-title-wrap a{
	}.independent-page .page-title-wrap a:hover{
	}.independent-page .page-title-wrap a:active{
	}.independent-page .page-title-wrap-inner > .page-title-overlay{
	}.independent-archive .page-title-wrap-inner{
		color: #505050;
	background-color: #ffffff;
	
	
	
	
	
	padding-top: 40px;padding-bottom: 0;
	}.independent-archive .page-title-wrap a{
	color: #505050;
	}.independent-archive .page-title-wrap a:hover{
	color: #E22122;
	}.independent-archive .page-title-wrap a:active{
	color: #E22122;
	}.independent-archive .page-title-wrap-inner > .page-title-overlay{
	}.independent-category .page-title-wrap-inner{
		color: #505050;
	background-color: #ffffff;
	
	
	
	
	
	
				border-top-width: 1px;
				border-top-style: solid;
				border-top-color: #d9d9d9;
				border-right-width: 1px;
				border-right-style: solid;
				border-right-color: #d9d9d9;
				border-bottom-width: 3px;
				border-bottom-style: solid;
				border-bottom-color: #d9d9d9;
				border-left-width: 1px;
				border-left-style: solid;
				border-left-color: #d9d9d9;padding-top: 40px;padding-right: 30px;padding-bottom: 40px;padding-left: 30px;
	}.independent-category .page-title-wrap a{
	color: #505050;
	}.independent-category .page-title-wrap a:hover{
	color: #E22122;
	}.independent-category .page-title-wrap a:active{
	color: #E22122;
	}.independent-category .page-title-wrap-inner > .page-title-overlay{
	}.independent-tag .page-title-wrap-inner{
		color: #505050;
	background-color: #ffffff;
	
	
	
	
	
	padding-top: 40px;padding-bottom: 0;
	}.independent-tag .page-title-wrap a{
	color: #505050;
	}.independent-tag .page-title-wrap a:hover{
	color: #E22122;
	}.independent-tag .page-title-wrap a:active{
	color: #E22122;
	}.independent-tag .page-title-wrap-inner > .page-title-overlay{
	}.independent-search .page-title-wrap-inner{
		color: #505050;
	background-color: #ffffff;
	
	
	
	
	
	padding-top: 40px;padding-bottom: 0;
	}.independent-search .page-title-wrap a{
	color: #505050;
	}.independent-search .page-title-wrap a:hover{
	color: #E22122;
	}.independent-search .page-title-wrap a:active{
	color: #E22122;
	}.independent-search .page-title-wrap-inner > .page-title-overlay{
	}.independent-author .page-title-wrap-inner{
		color: #505050;
	background-color: #ffffff;
	
	
	
	
	
	padding-top: 40px;padding-bottom: 0;
	}.independent-author .page-title-wrap a{
	color: #505050;
	}.independent-author .page-title-wrap a:hover{
	color: #E22122;
	}.independent-author .page-title-wrap a:active{
	color: #E22122;
	}.independent-author .page-title-wrap-inner > .page-title-overlay{
	}
/* Template Article Styles */
.single-post-template article.post{
		color: #808080;
	}.single-post-template article.post a{
	color: #808080;
	}.single-post-template article.post a:hover{
	color: #E22122;
	}.single-post-template article.post a:active{
	color: #E22122;
	}.single-post-template .post-format-wrap{
			
			
		}.single-post-template .post-quote-wrap > .blockquote, .single-post-template .post-link-inner, .single-post-template .post-format-wrap .post-audio-wrap{
			
			
		}.blog-template article.post{
		color: ;
	}.blog-template article.post a{
	}.blog-template article.post a:hover{
	}.blog-template article.post a:active{
	}.archive-template article.post{
		color: ;
	}.archive-template article.post a{
	}.archive-template article.post a:hover{
	}.archive-template article.post a:active{
	}.category-template article.post{
		color: ;
	}.category-template article.post a{
	}.category-template article.post a:hover{
	}.category-template article.post a:active{
	}.tag-template article.post{
		color: ;
	}.tag-template article.post a{
	}.tag-template article.post a:hover{
	}.tag-template article.post a:active{
	}.search-template article.post{
		color: ;
	}.search-template article.post a{
	}.search-template article.post a:hover{
	}.search-template article.post a:active{
	}.author-template article.post{
		color: ;
	}.author-template article.post a{
	}.author-template article.post a:hover{
	}.author-template article.post a:active{
	}
/* Blockquote / Audio / Link Styles */
.post-quote-wrap > .blockquote{
	border-left-color: #190000;
}.post-audio-wrap{
	background-color: #190000;
}.single-post-template .post-quote-wrap > .blockquote{
			background-color: rgba(0, 0, 0, 0.7);
		}.single-post-template .post-link-inner{
			background-color: rgba(0, 0, 0, 0.7);
		}
/* Post Item Overlay Styles */
.post-overlay-items{
	color: ;
}.post-overlay-items a{
}.post-overlay-items a:hover{
}.post-overlay-items a:hover{
}
/* Footer Styles */
.site-footer{
	color: #464646;
	font-family: Roboto;
	font-weight: 400;
	
	font-size: 15px;
	
	
	
	
	
	background-color: #fcfcfc;
	
	background-repeat: no-repeat;
	
	
	
	padding-top: 50px;
}.site-footer .widget{
	color: #464646;
	font-family: Roboto;
	font-weight: 400;
	
	font-size: 15px;
	
	
	
	
	
}
footer.site-footer:before {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: "";
	background-color: ;
}.site-footer a{
	color: #464646;
}.site-footer a:hover{
	color: #E22122;
}.site-footer a:hover{
	color: #E22122;
}
/* Footer Top Styles */
.footer-top-wrap{
	
	
	
	
	
	
	
	text-align: center;
	
	background: rgba(255,255,255,1);
}.footer-top-wrap .widget{
	
	
	
	
	
	
	
	text-align: center;
	
	
}.footer-top-wrap a{
}.footer-top-wrap a:hover{
}.footer-top-wrap a:hover{
}.footer-top-wrap .widget .widget-title {
	color: ;
}
/* Footer Middle Styles */
.footer-middle-wrap{
	color: #464646;
	font-family: Roboto;
	font-weight: 400;
	
	
	
	
	text-align: center;
	
	background: rgba(255,255,255,1);padding-top: 9px;padding-bottom: 33px;
}.footer-middle-wrap .widget{
	color: #464646;
	font-family: Roboto;
	font-weight: 400;
	
	
	
	
	text-align: center;
	
	
}.footer-middle-wrap a{
	color: #464646;
}.footer-middle-wrap a:hover{
	color: #e22122;
}.footer-middle-wrap a:active{
	color: #e22122;
}.footer-middle-wrap .widget .widget-title {
	color: #ffffff;
}
/* Footer Bottom Styles */
.footer-bottom{
	color: #464646;
	font-family: Roboto;
	
	
	font-size: 13px;
	
	letter-spacing: 1px;
	
	
	background: rgba(255,255,255,1);
				border-top-width: 1px;
				border-top-style: solid;
				border-top-color: #d9d9d9;padding-top: 50px;padding-bottom: 25px;
}.footer-bottom .widget{
	color: #464646;
	font-family: Roboto;
	
	
	font-size: 13px;
	
	letter-spacing: 1px;
	
	
	
}.footer-bottom a{
	color: #e22122;
}.footer-bottom a:hover{
	color: #464646;
}.footer-bottom a:active{
	color: #464646;
}.footer-bottom-wrap .widget .widget-title {
	color: ;
}
/* Theme Extra Styles */
.theme-color {
	color: #190000;
}.theme-color-bg {
	background-color: #190000;
}
/*----------- News Blocks Style----------- */
.category-tag {
	background-color: #190000;
}
/*----------- General Style----------- */
::selection {
	background : #190000;
}.top-sliding-toggle.fa-minus {
	border-top-color : #190000;
}.typo-white .entry-title:hover {
	color : #190000;
}
/*----------- Menu----------- */
.dropdown:hover > .dropdown-menu {
	border-color: #190000;
}
/*----------- Search Style----------- */
.search-form .input-group .btn,
.full-search-wrapper .input-group-btn {
	background: #190000;
}.full-search-wrapper .search-form .input-group .btn {
	border-color: #190000;
}.form-control:focus ,input.search-field:focus{
	border-color: #190000 !important;
}
/*----------- Button Style----------- */
.btn, button , .btn.bordered:hover, .post-grid a.read-more,
.post-password-form input[type="submit"] {
	background: #190000;
}.btn.classic:hover {
	background: #190000;
}.btn.bordered {
	border-color: #190000;
	color: #190000;
}.btn:hover, button:hover, .search-form .input-group .btn:hover {
	border-color: #190000;
}
/* -----------Pagination Style----------- */
.nav.pagination > li.nav-item.active span, 
.nav.pagination > li.nav-item a:hover, .post-comments .page-numbers.current, .post-comments .page-numbers:hover { 
	background: #190000;
}
/*----------- Select Style ----------- */
select:focus, .wpcf7 textarea:focus, .wpcf7 input:focus, .wpcf7 select:focus {
	border-color: #190000;
}
/*----------- Header Styles---------------- */
.close:before, .close:after, .secondary-space-toggle.active { 
	background: #190000;
}.nav-link:focus, .nav-link:hover { 
	color: #190000;
}.zmm-dropdown-toggle { 
	color: #190000;
}
/*----------- Post Style----------- */
.post-more .read-more:hover, .post-meta .read-more:hover {
	background: #190000;
}
/*----------- Post Meta----------- */
.post-meta li a:hover, .post-meta .post-date a:hover, .post-meta .post-category a:hover,
article.post .post-format-wrap .post-overlay-items .post-meta ul li a:hover {
	color: #190000;
}
/*----------- Post Navigation ---------*/
/*----------- Calender---------------- */
.calendar_wrap th ,tfoot td { 
	background: #190000;
}
/*----------- Calender---------------- */
/*----------- Archive---------------- */
.widget_archive li:before { 
	color: #190000;
}
/*----------- Instagram widget---------------- */
.null-instagram-feed p a { 
	background: #190000;
}
/*----------- Tag Cloud---------------- */
/*----------- Service Menu---------------- */
.widget-area .widget .menu-item-object-independent-service a:hover,
.widget-area .widget .menu-item-object-independent-service.current-menu-item a { 
	background: #190000;
}
/*----------- Service Menu---------------- */
.widget-area .widget .menu-item-object-independent-service a { 
	border-color: #190000;
}
/*----------- Post Nav---------------- */
.widget.independent_latest_post_widget a:hover,
.zozo_advance_tab_post_widget a:hover { 
	color: #190000;
}
/*----------- Back to top---------------- */
.back-to-top > i { 
	background: #190000;
}
/*----------- Owl Carousel---------------- */
.owl-dot span , .owl-prev, .owl-next  { 
	background: #190000;
}
/*----------- Shortcodes---------------- */
.typo-white .client-name:hover,.team-wrapper .team-overlay a.client-name:hover,.team-dark .client-name:hover,
.entry-title a:hover,.blog-dark .entry-title a:hover,
.portfolio-title a:hover, .portfolio-overlay a:hover,
.services-dark .entry-title:hover,.entry-title:hover { 
	color: #190000 !important;
}.title-separator.separator-border { 
	background-color: #190000;
}.twitter-3 .tweet-info { 
	border-color: #190000;
}.twitter-dark a:hover { 
	color: #190000;
}.header-inner .media i { 
	background: #190000;
}
/*----------- Blog---------------- */
.blog-dark .blog-inner a:hover { 
	color: #190000;
}.blog-style-3 .post-thumb { 
	border-color: #190000;
}
/*----------- Blog List---------------- */
/*----------- Pricing table---------------- */
.price-text { 
	color: #190000;
}.pricing-style-3 .pricing-inner-wrapper,.pricing-table-wrapper .btn:hover { 
	border-color: #190000;
}.pricing-style-2 .price-text p { 
	color: #190000;
}.pricing-style-3 ul.pricing-features-list > li {
	box-shadow: 0 7px 10px -9px rgba(25,0,0, 0.8);
}
/*-----------Compare Pricing table---------------- */
.compare-pricing-wrapper .pricing-table-head, .compare-features-wrap { 
	background: #190000;
}
/*-----------Counter Style---------------- */
.counter-wrapper.counter-style-2 { 
	border-color: #190000;
}.font-big .counter-value h3 span { 
	color: #190000;
}
/*-----------Testimonials---------------- */
.testimonial-wrapper.testimonial-3 .testimonial-inner, .testimonial-wrapper.testimonial-3 .testimonial-thumb img { 
	border-color: #190000;
}.testimonial-3 .testimonial-name a { 
	background: #190000;
}
/*-----------Events---------------- */
.events-date { 
	background: #190000;
}.events-date { 
	border-color: #190000;
}.events-inner .read-more:hover { 
	color: #190000;
}
/*-----------Team---------------- */
.team-wrapper.team-3 .team-inner > .team-thumb { 
	border-color: #190000;
}.team-1 .team-designation > p { 
	background: #190000;
}.team-2 .team-overlay-actived .team-thumb:before, .team-2 .team-overlay-actived .team-thumb:after { 
	border-color: #190000;
}.single-independent-team .team-social-wrap ul.social-icons > li > a:hover { 
	background: #190000;
}
/*-----------Portfolio---------------- */
.portfolio-masonry-layout .portfolio-angle .portfolio-title h4:after {
	background-color: #190000;
}span.portfolio-meta-icon , ul.portfolio-share.social-icons > li > a:hover{
	color: #190000;
}.portfolio-filter.filter-1 ul > li.active > a, .portfolio-filter.filter-1 ul > li > a:hover {
	background-color: #190000;
}.portfolio-filter.filter-1 ul > li > a, .portfolio-filter.filter-1 ul > li > a:hover {
	border: solid 1px #190000;
}.portfolio-filter.filter-1 ul > li > a {
	border-color: #190000;
}.portfolio-masonry-layout .portfolio-classic .portfolio-content-wrap {
	background: #190000;
}.portfolio-filter.filter-2 .active a.portfolio-filter-item {
	color: #190000;
}.portfolio-slide .portfolio-content-wrap > .portfolio-title {
	background: #190000;
}.portfolio-minimal .portfolio-overlay-wrap:before,
.portfolio-minimal .portfolio-overlay-wrap:after { 
 border-color: #190000;
}.portfolio-angle .portfolio-overlay-wrap:before { 
 background: linear-gradient(-45deg, rgba(0, 0, 0, 0.75) 0%, rgba(25,0,0, 0.86) 100%);
 
}.portfolio-overlay .portfolio-icons a:hover i { 
	color: #190000;
}
/*-----------Feature Box---------------- */
span.feature-box-ribbon { 
	background: #190000;
}
/*-----------Flipbox---------------- */
[class^='imghvr-shutter-out-']:before, [class*=' imghvr-shutter-out-']:before,
[class^='imghvr-shutter-in-']:after, [class^='imghvr-shutter-in-']:before, [class*=' imghvr-shutter-in-']:after, [class*=' imghvr-shutter-in-']:before,
[class^='imghvr-reveal-']:before, [class*=' imghvr-reveal-']:before { 
	background: #190000;
}
/*-----------Progress Bar---------------- */
.vc_progress_bar .vc_single_bar .vc_bar { 
	background: #190000;
}
/*-----------Accordion---------------- */
.wpb-js-composer .transparent-accordion.vc_tta-color-grey.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading { 
	border-color: #190000;
}
/*-----------Services---------------- */
.services-2 .services-title a { 
	background: #190000;
}.services-wrapper.services-1 .services-inner > .services-thumb , .services-3 .services-inner > .services-thumb { 
	border-color: #190000;
}
/*-----------Contact form 7---------------- */
.wpcf7 input[type="submit"] { 
	background: #190000;
}.contact-form-classic .wpcf7 textarea, .contact-form-classic .wpcf7 input, .contact-form-classic .wpcf7 select,
.wpcf7 textarea:focus, .wpcf7 input:focus, .wpcf7 select:focus, .invalid div.wpcf7-validation-errors { 
 	border-color: #190000;
}.contact-form-grey .wpcf7 textarea:focus, .contact-form-grey .wpcf7 input:focus, .contact-form-grey .wpcf7 select:focus { 
 	border-color: #190000;
}.mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li.active a, .mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li:hover a { 
 	border-color: #190000;
}.mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li.active a, .mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li:hover a { 
	border-color: #190000;
}
/*-----------Tab---------------- */
.wpb_tabs .wpb_tabs_nav li { 
	background: #190000;
}.wpb-js-composer .vc_tta-container .vc_tta-style-classic.theme-tab .vc_tta-tab> a { 
	background: #190000;
}
/*-----------Flipbox---------------- */
/*-----------Charity---------------- */
.donate-button.button { 
	background: #190000;
}.campaign-raised .amount, .campaign-figures .amount, .donors-count, .time-left, .charitable-form-field a:not(.button), .charitable-form-fields .charitable-fieldset a:not(.button), .charitable-notice, .charitable-notice .errors a {
	color: #190000 !important;
}.campaign-progress-bar .bar, .donate-button, .charitable-donation-form .donation-amount.selected, .charitable-donation-amount-form .donation-amount.selected {
	background: #190000 !important;
}
/*-----------Woocommerce---------------- */
.woocommerce ul.products li.product .price,
.woocommerce .product .price,
.woocommerce.single  .product .price,
.woocommerce p.stars a, .woocommerce ul.products li.product .woocommerce-loop-product__title:hover, .woocommerce ul.products li.product:hover .woocommerce-loop-product__title { 
 color: #190000;
}.woocommerce .product .onsale,.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce #respond input#submit, 
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button { 
 background-color: #190000;
}.woocommerce .woocommerce-error .button, 
.woocommerce .woocommerce-info .button, 
.woocommerce .woocommerce-message .button, 
.woocommerce-page .woocommerce-error .button, 
.woocommerce-page .woocommerce-info .button, 
.woocommerce-page .woocommerce-message .button,
.woocommerce ul.products li.product .button, 
.woocommerce ul.products li.product .added_to_cart { 
 background-color: #190000;
}.woocommerce .product .button, 
.woocommerce.single .product .button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce button.button,
.woocommerce ul.products li.product .woo-thumb-wrap .button:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a { 
 background-color: #190000;
}.woocommerce .widget_price_filter .ui-slider .ui-slider-range { 
 background-color: #190000;
}.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,.dropdown-menu.cart-dropdown-menu .mini-view-cart a { 
 background: #190000;
}
/*-----------Widgets---------------- */
.widget .widget-title:before,
.related-articles-wrap .related-title:before { 
 background-color: #190000;
}.widget .nav.nav-tabs { 
	border-color: #190000;
}.widget-title { 
	border-top-color: #190000;
}.widget.independent_latest_post_widget li .side-item:hover .post-serial { 
 background-color: #190000;
}
/*----------- Scrollbar ---------------- */
.player-type-3 .video-playlist-wrapper::-webkit-scrollbar-thumb,
.video-playlist-nav > i { 
 background-color: #190000;
}
/*----------- News Related Styles ---------------- */
/*----------- Banner ---------------- */
.category-tag { 
 	color: #190000;
}.category-tag:after, .independent-block-overlay .post-category > a:before, .category-tag:hover:after {
 	border-top-color: #190000;
}.independent-block-title.title-style-1:before, .independent-block-overlay .post-category > a { 
 	background-color: #190000;
}.gradient-theme-overlay { 
 background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(25,0,0, 0.86) 100%);
}.hvr-overlay-wrapper:hover .gradient-theme-overlay {
 background: linear-gradient(-45deg, rgba(25,0,0, 0.86), rgba(0, 0, 0, 0.99) 100%);
}.independent-block .news-tabs ul.more-tab-dropdown > li > a:hover,
.independent-news-slider .independent-block-overlay .post-meta li a span.before-icon,
.independent-block.independent-block-3.custom-list-dark .independent-block-list.big-list .post-title a:hover,
.nav.news-tabs > li > a:hover, .nav.news-tabs > li.active > a { 
 color: #190000;
}.news-ticker-title, .news-ticker-navs > i,
.mega-dropdown-menu .independent-block .news-tabs > li.active { 
 	background-color: #190000;
}.independent-block.independent-block-3.custom-list-dark .independent-block-list.big-list .post-list-content a.read-more { 
 	background-color: #190000;
}.independent-slider-nav .slide-nav > li > a:hover, .page-links > a:hover, .page-links > span { 
 	background-color: #190000;
	border-color: #190000;
}
/*-----------Social Widget---------------- */
ul.social-icons.social-theme > li a, 
ul.social-icons.social-hbg-theme > li a:hover,
ul.social-icons.social-bg-light > li a:hover {
	background-color: #190000;
}ul.social-icons.social-bg-light > li a:hover,
.single-post-template article ul.social-icons > li > a:hover {
	background-color: #190000;
}ul.social-icons.social-theme > li a, 
ul.social-icons.social-h-theme > li a:hover,
.custom-post-nav ul.social-icons > li > a:hover,
.topbar-items ul.social-icons > li > a:hover { 
	color: #190000;
}.most-viewed-post-image .most-viewed-index,
.topbar span.site-date, .mega-dropdown-menu .independent-block .post-grid .post-thumb-wrapper:after {
	background-color: #190000;
}.typo-dark .independent-block-slide .independent-block-overlay.typo-white .post-title:hover, 
.typo-dark .independent-block-slide .independent-block-overlay.typo-white .post-title > a:hover,
.crypto-short-info .crypto-usd { 
	color: #190000;
}.vc_row div.btcwdgt-chart .stats, 
.vc_row div.btcwdgt-chart .btcwdgt-header h2, 
.vc_row div.btcwdgt-text-ticker .btcwdgt-edge, .theme-bg { 
	background-color: #190000!important;
}.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
color: #190000; /* base: #0073a8; */
}
.wp-block-quote:not(.is-large):not(.is-style-large),
.wp-block-freeform blockquote,
.single-post-template blockquote {
border-left: 2px solid #190000; /* base: #0073a8; */
}
blockquote.wp-block-quote.is-large p, 
blockquote.wp-block-quote.is-style-large p {
	border-left-color: #190000;
}
.entry-content .wp-block-quote[style*="text-align:right"]:not(.is-large):not(.is-style-large) {
	border-right: 2px solid #190000; /* base: #0073a8; */
}
.wp-block-file .wp-block-file__button,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background) {
background-color: #190000; /* base: #0073a8; */
}
/* Hover colors */
.wp-block-file .wp-block-file__textlink:hover {
color: #190000; /* base: #005177; */
}
/* Do not overwrite solid color pullquote or cover links */
.wp-block-pullquote.is-style-solid-color a,
.wp-block-cover a {
color: inherit;
}/* Demo id: demo-food */.navbar .independent-main-menu > li.current-menu-item > a{color: #190000 !important;}.owl-dot.active span, .blog-template .post-thumb-wrapper .category-tag, .independent-block-post .nav.post-meta > li.post-category > a{background: #190000 !important;}